Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Add release CI for csharp SDK
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
  sdks/aperture-csharp/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

Add release CI for csharp SDK (#3180)
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
  sdks/aperture-csharp/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

Release csharp with aperture release
  .circleci/config.yml
  sdks/aperture-csharp/.circleci/config.yml
Owners: @FluxNinja/devops, @FluxNinja/backend

Release csharp with aperture release (#3181)
  .circleci/config.yml
  sdks/aperture-csharp/.circleci/config.yml
Owners: @FluxNinja/devops, @FluxNinja/backend

readme: add use cases section in sdk readme
  sdks/aperture-js/README.md
Owners: @FluxNinja/backend

Fix pre-commit
  sdks/aperture-js/README.md
Owners: @FluxNinja/backend

readme: add use cases section in sdk readme (#3204)
  sdks/aperture-js/README.md
Owners: @FluxNinja/backend

Fix pre-commit
  api/buf.lock
Owners: @FluxNinja/backend

Fix pre-commit (#3205)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Upgraded OTEL to v0.93.0
  go.mod
  go.sum
Owners: @FluxNinja/backend

Revert go-quartz upgrade
  go.mod
  go.sum
Owners: @FluxNinja/backend

Update go to 1.21.6
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Owners: @FluxNinja/devops, @FluxNinja/backend

Upgrade otel to v0.93.0 and other upgrades (#3208)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  requirements.txt
  sdks/aperture-go/Dockerfile
Owners: @FluxNinja/devops, @FluxNinja/backend

Remove agent address & api key
  sdks/aperture-py/example/caching.py
  sdks/aperture-py/example/concurrency_limit.py
  sdks/aperture-py/example/concurrency_scheduler.py
  sdks/aperture-py/example/quota_scheduler.py
  sdks/aperture-py/example/rate_limit.py
Owners: @FluxNinja/backend

update acquisition notice
  README.md
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

update acquisition notice (#3239)
  README.md
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

circleci: xlarge -> large instances
  .circleci/continue-workflows.yml
  docs/content/reference/cloud-ui/sign-up.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

circleci: xlarge -> large instances (#3240)
  .circleci/continue-workflows.yml
  docs/content/reference/cloud-ui/sign-up.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

aperture-js: update grpc-js
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

opsyaml update
  .opsninja.yaml
Owners: @FluxNinja/backend
