Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Fix pre-commit (#3152)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Owners: @FluxNinja/backend

Minor improvement fairness concept
  docs/content/concepts/scheduler.md
Owners: @FluxNinja/documentation

Docs: Minor improvement fairness concept (#3153)
  docs/content/concepts/scheduler.md
Owners: @FluxNinja/documentation

Remove circuit diagram and replace with open ai request prioritization
  docs/content/guides/assets/openai/request-prioritization.png
  docs/content/guides/openai.md
Owners: @FluxNinja/documentation

Remove circuit diagram and replace with open ai request prioritization (#3154)
  docs/content/guides/assets/openai/request-prioritization.png
  docs/content/guides/openai.md
Owners: @FluxNinja/documentation

Add throttling based on wait time and tokens requested
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
Owners: @FluxNinja/backend

Add rateLimiterJobGroup parameter to newTestLimiter and createJobGroup functions
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/rate-limiter_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Refactor executeTakeRequest function in global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
Owners: @FluxNinja/backend

Get rid of lock altogether
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
Owners: @FluxNinja/backend

Update lazy_sync configuration in service1-demo-app.yaml and service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Owners: @FluxNinja/devops

Rate limiter throttle (#3155)
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/rate-limiter_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Owners: @FluxNinja/backend, @FluxNinja/aperturecore, @FluxNinja/devops

Update buf lock
  api/buf.lock
Owners: @FluxNinja/backend

Update buf lock (#3156)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

update Aperture introduction
  .pre-commit-config.yaml
  README.md
  api/buf.lock
  docs/content/code-snippets.json
  docs/content/get-started/assets/rate-limiter-blueprint-dark.png
  docs/content/get-started/assets/rate-limiter-blueprint-light.png
  docs/content/get-started/assets/rate-limiter-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-light.png
  docs/content/get-started/assets/rate-limiter-light.png
  docs/content/get-started/assets/rate_limiter_blueprint.png
  docs/content/get-started/get-started.md
  docs/content/introduction.md
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend, @FluxNinja/documentation

update Aperture introduction
  README.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

update Aperture introduction
  README.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

update Aperture introduction
  README.md
  docs/content/concepts/cache.md
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Crop dashboard images
  docs/content/get-started/assets/rate-limiter-dashboard-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-light.png
Owners: @FluxNinja/documentation

update Aperture introduction (#3157)
  .pre-commit-config.yaml
  README.md
  api/buf.lock
  docs/content/code-snippets.json
  docs/content/concepts/cache.md
  docs/content/get-started/assets/rate-limiter-blueprint-dark.png
  docs/content/get-started/assets/rate-limiter-blueprint-light.png
  docs/content/get-started/assets/rate-limiter-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-dark.png
  docs/content/get-started/assets/rate-limiter-dashboard-light.png
  docs/content/get-started/assets/rate-limiter-light.png
  docs/content/get-started/assets/rate_limiter_blueprint.png
  docs/content/get-started/get-started.md
  docs/content/introduction.md
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend, @FluxNinja/documentation

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fix type issues and wrong field in aperture-py
  sdks/aperture-py/README.md
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/poetry.lock
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

Refactor http_response_code function
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Fix manual-flow.py in aperture-py example
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/backend

Fix type issues and wrong field in aperture-py (#3158)
  sdks/aperture-py/README.md
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/example/manual_flow.py
  sdks/aperture-py/poetry.lock
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

Update buf.lock with new commit and digest
  api/buf.lock
Owners: @FluxNinja/backend

Update buf.lock (#3159)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.32.0-rc.1.tgz
  aperture-agent-v2.32.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.32.0-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.32.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.32.0-rc.1.tgz ./index.yaml
  aperture-controller-v2.32.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add Agent Group processor to FN pipeline
  extensions/fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.32.0.tgz
  index.yaml
  istioconfig-v2.32.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.32.0.tgz ./index.yaml
  aperture-agent-v2.32.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.32.0.tgz ./index.yaml
  aperture-controller-v2.32.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Add Agent Group processor to FN pipeline (#3160)
  extensions/fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Start and stop job groups in correct order
  api/buf.lock
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Fix otel_test
  extensions/fluxninja/otel/otel_test.go
Owners: @FluxNinja/backend

Fix order of job groups and otel tests (#3161)
  api/buf.lock
  extensions/fluxninja/otel/otel_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
