Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

update text
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

update text
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

Add required policy labels for ACCEPT_PERCENTAGE
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Owners: @FluxNinja/aperturecore

Add required policy labels for ACCEPT_PERCENTAGE (#2919)
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Owners: @FluxNinja/aperturecore

update text
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

fix Unpaired quotation
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

update get started doc and architecture image placement (#2913)
  docs/content/assets/img/saas-dark.svg
  docs/content/assets/img/saas-light.svg
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
  docs/content/get-started/get-started.md
  docs/content/self-hosting/architecture.md
Owners: @FluxNinja/documentation

Publish . ./aperture-controller-v2.23.2-rc.1.tgz
  aperture-controller-v2.23.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.23.2-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.23.2-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.23.2-rc.1.tgz ./index.yaml
  aperture-agent-v2.23.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.23.2.tgz
  aperture-agent-v2.23.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.23.2.tgz ./index.yaml
  index.yaml
  istioconfig-v2.23.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.23.2.tgz ./index.yaml
  aperture-controller-v2.23.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Prevent reconcile loop on deployment spec changes for agent and controller
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Owners: @FluxNinja/devops

Just don't reconcile on replica change
  operator/controllers/agent/deployment.go
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Owners: @FluxNinja/devops

Prevent reconcile loop on deployment replica count changes for agent and controller (#2920)
  operator/controllers/agent/deployment.go
Owners: @FluxNinja/devops

agent group label for flowcontrol_decisions_total metric
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/metrics.go
Owners: @FluxNinja/aperturecore

update docs structure & links
  docs/content/get-started/set-up-application/_category_.yml
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/set-up-application.md
  docs/content/self-hosting/agent/agent.md
Owners: @FluxNinja/documentation

update text
  docs/content/self-hosting/self-hosting.md
Owners: @FluxNinja/documentation

update content
  docs/content/self-hosting/architecture.md
Owners: @FluxNinja/documentation

agent group label for flowcontrol_decisions_total metric (#2921)
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/metrics.go
Owners: @FluxNinja/aperturecore

fix lang
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/self-hosting.md
Owners: @FluxNinja/documentation

Update go to v1.21.4
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Owners: @FluxNinja/devops, @FluxNinja/backend

update docs & links (#2922)
  docs/content/get-started/set-up-application/_category_.yml
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/set-up-application.md
  docs/content/self-hosting/agent/agent.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/self-hosting.md
Owners: @FluxNinja/documentation

Update go to v1.21.4 (#2923)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Owners: @FluxNinja/devops, @FluxNinja/backend

Publish . ./istioconfig-v2.23.3-rc.1.tgz
  index.yaml
  istioconfig-v2.23.3-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.23.3-rc.1.tgz ./index.yaml
  aperture-agent-v2.23.3-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.23.3-rc.1.tgz ./index.yaml
  aperture-controller-v2.23.3-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.23.3.tgz
  index.yaml
  istioconfig-v2.23.3.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.23.3.tgz ./index.yaml
  aperture-agent-v2.23.3.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.23.3.tgz ./index.yaml
  aperture-controller-v2.23.3.tgz
  index.yaml
Owners: @FluxNinja/backend

Add support for Alerter in Quota Scheduler
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/private/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/quotascheduler.libsonnet
  blueprints/gen/v1/quotaschedulerouts.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/policy.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/private.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/private.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Fix typo in Quota Scheduler component name
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Update buf lock
  api/buf.lock
Owners: @FluxNinja/backend

Update buf version to 1.28.0
  .tool-versions
Owners: @FluxNinja/backend

Add support for Alerter in Quota Scheduler (#2926)
  .tool-versions
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/private/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/quotascheduler.libsonnet
  blueprints/gen/v1/quotaschedulerouts.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/policy.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/private.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/private.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Add support for workload label key in scheduler configuration
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Refactor workload label matching in scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Owners: @FluxNinja/aperturecore

Add support for matching workload label in scheduler
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Owners: @FluxNinja/aperturecore

Fix blueprint assets generator to generate not required defaults as well
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/common/config-defaults.libsonnet
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
