Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Add circleci config for aperture-csharp (#2946)
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
Owners: @FluxNinja/backend

Fix playground SDK examples
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
Owners: @FluxNinja/devops

Fix playground SDK examples (#2947)
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
Owners: @FluxNinja/devops

Update Agent API key creation instructions in manual.md
  docs/content/sdk/dotnet/manual.md
Owners: @FluxNinja/documentation

Update docs with caching example and aperture-js sdk example
  docs/content/get-started/define-control-points.md
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/index.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

minor issue
  docs/content/sdk/dotnet/manual.md
Owners: @FluxNinja/documentation

revert the change
  docs/content/sdk/dotnet/manual.md
Owners: @FluxNinja/documentation

Update docs with caching example and aperture-js sdk example (#2949)
  docs/content/get-started/define-control-points.md
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/index.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

update sign-up assets
  docs/content/get-started/assets/sign-up/console-view.png
  docs/content/get-started/assets/sign-up/create-organization.png
  docs/content/get-started/assets/sign-up/final-step.png
Owners: @FluxNinja/documentation

use blur
  docs/content/get-started/assets/sign-up/console-view.png
Owners: @FluxNinja/documentation

Java SDK: Make startFlow argument a struct (#2941)
  docs/content/sdk/java/manual.md
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/version.gradle.kts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update Agent API key creation instructions in Dot Net SDK doc (#2948)
  docs/content/sdk/dotnet/manual.md
Owners: @FluxNinja/documentation

update sign-up assets (#2950)
  docs/content/get-started/assets/sign-up/console-view.png
  docs/content/get-started/assets/sign-up/create-organization.png
  docs/content/get-started/assets/sign-up/final-step.png
Owners: @FluxNinja/documentation

Add default value for rate limiter limit_by_label_key in config files
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Add default value for rate limiter limit_by_label_key in config files (#2951)
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Add comments and generate docs for aperture-js
  sdks/aperture-js/docs/.nojekyll
  sdks/aperture-js/docs/README.md
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/docs/classes/CachedValueResponse.md
  sdks/aperture-js/docs/classes/DeleteCachedValueResponse.md
  sdks/aperture-js/docs/classes/Flow.md
  sdks/aperture-js/docs/classes/SetCachedValueResponse.md
  sdks/aperture-js/docs/enums/LookupStatus.md
  sdks/aperture-js/docs/enums/OperationStatus.md
  sdks/aperture-js/docs/interfaces/FlowParams.md
  sdks/aperture-js/docs/modules.md
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/index.ts
  sdks/aperture-js/sdk/utils.ts
  sdks/aperture-js/tsconfig.json
Owners: @FluxNinja/backend

Add C# SDK package parameters and update docs with NuGet package link
  docs/content/sdk/dotnet/manual.md
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/README_SIMPLE.md
Owners: @FluxNinja/documentation, @FluxNinja/backend

CI fixes
  .github/styles/Vocab/FluxNinja/accept.txt
  cmd/aperturectl/cmd/cloud/utils/controller.go
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/reference/aperture-cli/personal-access-tokens.md
  docs/content/reference/configuration/aperturectl.md
  operator/controllers/agent/secrets_test.go
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Fix operator test
  operator/controllers/utils_test.go
Owners: @FluxNinja/devops

Publish . ./istioconfig-v2.24.0-rc.1.tgz
  index.yaml
  istioconfig-v2.24.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.24.0-rc.1.tgz
  aperture-agent-v2.24.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.24.0-rc.1.tgz ./index.yaml
  aperture-controller-v2.24.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.24.0.tgz
  index.yaml
  istioconfig-v2.24.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.24.0.tgz
  aperture-controller-v2.24.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.24.0.tgz ./index.yaml
  aperture-agent-v2.24.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Update aperture-js version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/updateVersion.mjs
Owners: @FluxNinja/backend

Update aperture-js version (#2957)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/updateVersion.mjs
Owners: @FluxNinja/backend

Add C# SDK package parameters and update docs with NuGet package link (#2953)
  docs/content/sdk/dotnet/manual.md
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/README_SIMPLE.md
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add script to update README.md file using the generated docs
  sdks/aperture-js/README.md
  sdks/aperture-js/docs/README.md
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/docs/classes/CachedValueResponse.md
  sdks/aperture-js/docs/classes/DeleteCachedValueResponse.md
  sdks/aperture-js/docs/classes/Flow.md
  sdks/aperture-js/docs/classes/SetCachedValueResponse.md
  sdks/aperture-js/docs/enums/LookupStatus.md
  sdks/aperture-js/docs/enums/OperationStatus.md
  sdks/aperture-js/docs/interfaces/FlowParams.md
  sdks/aperture-js/docs/modules.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/scripts/docs_to_readme.sh
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/tsconfig.json
Owners: @FluxNinja/backend

Update file extensions in aperture-js/sdk
  sdks/aperture-js/README.md
  sdks/aperture-js/docs/README.md
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/docs/classes/CachedValueResponse.md
  sdks/aperture-js/docs/classes/DeleteCachedValueResponse.md
  sdks/aperture-js/docs/classes/Flow.md
  sdks/aperture-js/docs/classes/SetCachedValueResponse.md
  sdks/aperture-js/docs/enums/LookupStatus.md
  sdks/aperture-js/docs/enums/OperationStatus.md
  sdks/aperture-js/docs/interfaces/FlowParams.md
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/index.ts
  sdks/aperture-js/sdk/utils.ts
Owners: @FluxNinja/backend

Rework Documentation
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/cloud-ui/api-keys.md
  docs/content/reference/cloud-ui/assets/api-keys.gif
  docs/content/reference/cloud-ui/assets/personal-api-keys.gif
  docs/content/reference/cloud-ui/assets/sign-up/console-view.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/install-aperture.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/project-name.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/assets/sign-up/usergroups.png
  docs/content/reference/cloud-ui/cloud-ui.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
  docs/content/reference/cloud-ui/sign-up.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

fix pre-commit fail
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/reference/cloud-ui/cloud-ui.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

fix pre-commit fail
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/get-started.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/configuration/aperturectl.md
Owners: @FluxNinja/documentation

fix pre-commit fail
  docs/content/reference/cloud-ui/api-keys.md
Owners: @FluxNinja/documentation

Render code snippets from examples into docs
  Makefile
  docs/Makefile
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/get-started/define-control-points.md
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/caching.md
  docs/content/guides/per-user-rate-limiting.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-go/example/main.go
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/package-lock.json
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Rework Documentation (#2958)
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/cloud-ui/api-keys.md
  docs/content/reference/cloud-ui/assets/api-keys.gif
  docs/content/reference/cloud-ui/assets/personal-api-keys.gif
  docs/content/reference/cloud-ui/assets/sign-up/console-view.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/install-aperture.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/project-name.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/assets/sign-up/usergroups.png
  docs/content/reference/cloud-ui/cloud-ui.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
  docs/content/reference/cloud-ui/sign-up.md
  docs/content/reference/configuration/aperturectl.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

use system theme and CodeBlock.
  docs/content/codeSnippet.js
Owners: @FluxNinja/documentation

Fix pod labels and annotations reconciliation in operator
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
  operator/controllers/utils.go
Owners: @FluxNinja/devops

Drop local changes
  operator/controllers/agent/daemonset_test.go
Owners: @FluxNinja/devops

Fix pod labels and annotations reconciliation in operator (#2959)
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
  operator/controllers/utils.go
Owners: @FluxNinja/devops

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
