Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

fix docs makefile macos (#470)
  docs/Makefile
Owners: @FluxNinja/backend

Add FluxMeter Histogram bucket options
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/fluxmeterbuckets.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeterexponentialbuckets.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeterexponentialbucketsrange.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeterlinearbuckets.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/policylanguagev1fluxmeter.libsonnet
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Add `agent_group` to selector example
  docs/content/concepts/flow-control/selector.md
Owners: @FluxNinja/documentation

Fix Flow
  docs/content/assets/img/starttraffic.png
  docs/content/assets/img/starttrafficbig.png
  docs/content/get-started/playground.md
  docs/content/node_modules/.yarn-integrity
  node_modules/.yarn-integrity
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update playground.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Remove typos
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Owners: @FluxNinja/aperturecore

Mentioned paths for running tilt commands
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Added details on how to provide custom config for Agent and Controller in docs
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Owners: @FluxNinja/documentation

Update OTEL to 0.60.0
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
Owners: @FluxNinja/backend

Update OTEL to 0.60.0
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/policies/controlplane/policy.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Disable ext_authz request body buffering by default
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/get-started/installation/agent/envoy/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/documentation, @FluxNinja/devops

Disable ext_authz request body buffering by default (#480)
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/get-started/installation/agent/envoy/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/documentation, @FluxNinja/devops

Fix typos and capitalize aperture terms
  docs/content/concepts/flow-control/flow-classifier.md
Owners: @FluxNinja/documentation

Update README.md
  README.md
Owners: @FluxNinja/backend

Etcd Client Auth and TLS Params
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/etcd/client/client.go
  pkg/etcd/client/zz_generated.deepcopy.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add .fossa.yaml file
  .fossa.yaml
Owners: @FluxNinja/backend

Update .fossa.yaml
  .fossa.yaml
Owners: @FluxNinja/backend

Bump etcdv3 client & add default username
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  pkg/etcd/client/client.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update OTEL to 0.60.0 (#477)
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/policies/controlplane/policy.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Split scraping metrics for FN plugin
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

remove CertPath key from server TLS config
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/configmaps_test.go
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Make forceRescans to true
  .fossa.yaml
Owners: @FluxNinja/backend

fix test
  operator/controllers/controller_config_test.tpl
Owners: @FluxNinja/backend

remove CertPath key from server TLS config (#493)
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update Playground docs
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Add root user for the authentication
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.sum
  pkg/etcd/client/client.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update accepted/incoming concurrency port names
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerouts.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Update accepted/incoming concurrency port names back to original
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerouts.libsonnet
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Update accepted/incoming concurrency port names (#497)
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
Owners: @FluxNinja/aperturecore

Update Contributing section
  README.md
Owners: @FluxNinja/backend

rename some server tls config fields
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Grand role to new user
  pkg/etcd/client/client.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend

Remove .fossa.yaml
  .fossa.yaml
Owners: @FluxNinja/backend

update FOSSA badge
  README.md
Owners: @FluxNinja/backend

Update README.md (#484)
  README.md
Owners: @FluxNinja/backend

rename some server tls config fields (#498)
  README.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fix nil pointer issue
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Owners: @FluxNinja/aperturecore

Generate certs for etcd server & clean up
  pkg/etcd/client/client.go
  test/aperture_suite_test.go
  test/harness/etcd.go
Owners: @FluxNinja/backend

Certs to temp directory & add defer()
  test/harness/etcd.go
Owners: @FluxNinja/backend

update readme
  README.md
  docs/content/cloud/plugin.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
