Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Remove Caching example from get started page
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

Remove Caching example from get started page (#3169)
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

Add new fields to LabelStatusFactory and Factory structs
  pkg/labelstatus/labelstatus.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add support for policy alerts (#3168)
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/labelstatus/labelstatus.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/otelcollector.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/status/registry.go
  pkg/status/status_test.go
  pkg/watchdog/watchdog.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update buf lock
  api/buf.lock
Owners: @FluxNinja/backend

Update buf lock (#3170)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Refactor flow.py and flow_async.py to skip empty request IDs
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/aperture_sdk/flow_async.py
Owners: @FluxNinja/backend

Refactor flow end in aperture-go to skip empty request IDs
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Refactor flow end in aperture-js to skip empty request IDs
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Fix flow End in aperture-java sdk
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Owners: @FluxNinja/backend

Fix flow End in aperture-csharp sdk
  sdks/aperture-csharp/Core/FeatureFlow.cs
Owners: @FluxNinja/backend

Fix flow End in aperture-go CheckHTTP flow
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
Owners: @FluxNinja/backend

Refactor Flow End in SDKs (#3171)
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/aperture_sdk/flow_async.py
Owners: @FluxNinja/backend

Update each SDK readme with code examples
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Owners: @FluxNinja/backend

Fix typos
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Owners: @FluxNinja/backend

Sync SDK READMEs
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Owners: @FluxNinja/backend

Update each SDK readme with code examples (#3172)
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Owners: @FluxNinja/backend

Fix JS docs
  sdks/aperture-js/README.md
Owners: @FluxNinja/backend

Fix JS docs (#3173)
  sdks/aperture-js/README.md
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.34.0-rc.1.tgz
  aperture-agent-v2.34.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.34.0-rc.1.tgz
  aperture-controller-v2.34.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.34.0-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.34.0-rc.1.tgz
Owners: @FluxNinja/backend

readme: v1 announcement
  README.md
Owners: @FluxNinja/documentation

readme: v1 announcement (#3174)
  README.md
Owners: @FluxNinja/documentation

Update SDK READMEs for v1 announcement
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Owners: @FluxNinja/backend

Update SDK READMEs for v1 announcement (#3175)
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.34.0-rc.2.tgz
  index.yaml
  istioconfig-v2.34.0-rc.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.34.0-rc.2.tgz
  aperture-agent-v2.34.0-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.34.0-rc.2.tgz ./index.yaml
  aperture-controller-v2.34.0-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.34.0.tgz
  aperture-agent-v2.34.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.34.0.tgz ./index.yaml
  aperture-controller-v2.34.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.34.0.tgz ./index.yaml
  index.yaml
  istioconfig-v2.34.0.tgz
Owners: @FluxNinja/backend

Making Controller and Agent charts GitOps-friendlier
  manifests/charts/aperture-agent/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Owners: @FluxNinja/devops

Do not cache respone in the marshalled check response from aperture-go
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Fix concurrency limiter and scheduler request ID check
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Fix cache lookup response serialization issue
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Making Controller and Agent charts GitOps-friendlier (#3176)
  manifests/charts/aperture-agent/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Owners: @FluxNinja/devops

Add Concurrency Schedulers to OLAP telemetry
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Owners: @FluxNinja/backend

Add Concurrency Schedulers to OLAP telemetry (#3178)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
