Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Fix order of job groups and otel tests (#3161)
  api/buf.lock
  extensions/fluxninja/otel/otel_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add Agent Group processor to FN pipeline (#3160)
  extensions/fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.32.1-rc.1.tgz
  index.yaml
  istioconfig-v2.32.1-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.32.1-rc.1.tgz
  aperture-controller-v2.32.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.32.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.32.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add support for alerting if labels are missing
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/labelstatus/labelstatus.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/otelcollector.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/status/registry.go
  pkg/status/status_test.go
  pkg/watchdog/watchdog.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add support for label alerts in rate limiter
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/aperturecore

Publish . ./aperture-agent-v2.32.2-rc.1.tgz
  aperture-agent-v2.32.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.32.2-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.32.2-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.32.2-rc.1.tgz ./index.yaml
  aperture-controller-v2.32.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.32.2.tgz
  index.yaml
  istioconfig-v2.32.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.32.2.tgz
  aperture-agent-v2.32.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.32.2.tgz
  aperture-controller-v2.32.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Add Python Sdk examples for all features
  sdks/aperture-py/example/caching_example.py
  sdks/aperture-py/example/concurrency_limit_example.py
  sdks/aperture-py/example/concurrency_scheduler_example.py
  sdks/aperture-py/example/quota_scheduler_example.py
  sdks/aperture-py/example/rate_limit_example.py
Owners: @FluxNinja/backend

Remove unused codecov
  .circleci/continue-workflows.yml
  README.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Remove unused codecov (#3163)
  .circleci/continue-workflows.yml
  README.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Update start and end functions to be async
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.__pycache__.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.__pycache__.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.EndResponse.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/backend

Fix async/await usage in ApertureClient and Flow classes
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/backend

Update generated docs
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.client_async.ApertureClientAsync.html
  sdks/aperture-py/docs/aperture_sdk.client_async.html
  sdks/aperture-py/docs/aperture_sdk.client_common.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client_common.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client_common.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.flow_async.FlowAsync.html
  sdks/aperture-py/docs/aperture_sdk.flow_async.html
  sdks/aperture-py/docs/aperture_sdk.flow_common.EndResponse.html
  sdks/aperture-py/docs/aperture_sdk.flow_common.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow_common.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow_common.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Update examples
  sdks/aperture-py/example/caching.py
  sdks/aperture-py/example/concurrency_limit.py
  sdks/aperture-py/example/concurrency_scheduler.py
  sdks/aperture-py/example/quota_scheduler.py
  sdks/aperture-py/example/rate_limit.py
Owners: @FluxNinja/backend

remove concurrency-limiting-test.yml
  concurrency-limiting-test.yaml
Owners: @FluxNinja/backend

remove concurrency-limiting-test.yml (#3165)
  concurrency-limiting-test.yaml
Owners: @FluxNinja/backend

Update Rate Limiting Example GRPC Deadline
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/backend

Update Rate Limiting Example GRPC Deadline (#3166)
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/backend

Add Sync Async code snippets to Python SDK docs
  docs/content/code-snippets.json
  docs/content/sdk/python/manual.md
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

Publish . ./istioconfig-v2.33.1-rc.1.tgz
  index.yaml
  istioconfig-v2.33.1-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.33.1-rc.1.tgz
  aperture-agent-v2.33.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.33.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.33.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.33.1.tgz
  index.yaml
  istioconfig-v2.33.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.33.1.tgz
  aperture-controller-v2.33.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.33.1.tgz ./index.yaml
  aperture-agent-v2.33.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add label alerts in other limiters
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Owners: @FluxNinja/aperturecore

Remove severity label if timestamp is older than 5 minutes
  pkg/labelstatus/labelstatus.go
Owners: @FluxNinja/backend

Update lock to use RLock and RUnlock in setLookupStatus function
  pkg/labelstatus/labelstatus.go
Owners: @FluxNinja/backend

Refactor label status and concurrency scheduler modules
  pkg/labelstatus/labelstatus.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/provide.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add job name to label status setup
  pkg/labelstatus/labelstatus.go
Owners: @FluxNinja/backend

resolve pre commit fail
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/backend

Add Sync Async code snippets to Python SDK docs (#3167)
  docs/content/code-snippets.json
  docs/content/sdk/python/manual.md
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/documentation, @FluxNinja/backend
