Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

update grafana dashboard screenshot
  docs/content/assets/img/grafana_dashboard.png
Owners: @FluxNinja/documentation

remove hidden flag
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
Owners: @FluxNinja/aperturecore

fix envoy tests
  pkg/flowcontrol/envoy/authz_test.go
Owners: @FluxNinja/aperturecore

Unit test fix
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
Owners: @FluxNinja/backend

Unit test fix
  pkg/otelcollector/metricsprocessor/processor_test.go
Owners: @FluxNinja/backend

Upgraded minimum Kubernetes version to 1.23
  docs/content/get-started/supported-platforms.md
Owners: @FluxNinja/documentation

Upgraded minimum Kubernetes version to 1.23 (#519)
  docs/content/get-started/supported-platforms.md
Owners: @FluxNinja/documentation

Fixed the broken links after directory rename
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Owners: @FluxNinja/documentation

Added details on how to provide custom config for Agent and Controller in docs
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Owners: @FluxNinja/documentation

[ImgBot] Optimize images
  docs/content/assets/img/grafana_dashboard.png
Owners: @FluxNinja/documentation

Added details on how to provide custom config for Agent and Controller in docs (#475)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Owners: @FluxNinja/documentation

Unit test fix
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Owners: @FluxNinja/backend

remove logs
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Unit test fix
  pkg/otelcollector/metricsprocessor/processor_test.go
Owners: @FluxNinja/backend

Fix tests on main (#520)
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Owners: @FluxNinja/aperturecore, @FluxNinja/backend

Split scraping metrics for FN plugin
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Split scraping metrics for FN plugin (#481)
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

update envoy filter docs
  docs/content/get-started/installation/agent/envoy/istio.md
Owners: @FluxNinja/documentation

update envoy filter docs (#522)
  docs/content/get-started/installation/agent/envoy/istio.md
Owners: @FluxNinja/documentation

change chart version to v0.2.1
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Change tool installation script directory
  Makefile
  docs/content/get-started/playground.md
  playground/scripts/manage_tools.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

fix filepath CI failure
  .circleci/scripts/asdf_install.sh
Owners: @FluxNinja/devops

Fixed typos in the installation docs
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Owners: @FluxNinja/documentation

Fixed typos in the installation docs (#525)
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Owners: @FluxNinja/documentation

change chart version to v0.2.1 (#523)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

run script without bash command
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

typo fix
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Change tool installation script directory (#524)
  .circleci/scripts/asdf_install.sh
  Makefile
  docs/content/get-started/playground.md
  playground/scripts/manage_tools.sh
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Publish . ./aperture-controller-v0.2.1.tgz
  aperture-controller-v0.2.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v0.2.1.tgz
  aperture-agent-v0.2.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v0.2.1.tgz
  index.yaml
  istioconfig-v0.2.1.tgz
Owners: @FluxNinja/backend

position change for installation and playground
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Revert "Split scraping metrics for FN plugin (#481)"
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Update chart versions before v0.2.2 release
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

position change for installation and playground (#526)
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Update chart versions before v0.2.2 release (#527)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Store cert, key into TempDir
  test/harness/etcd.go
Owners: @FluxNinja/backend

Fix Prometheus scrape config in OTEL
  go.mod
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Fix Prometheus scrape config in OTEL (#528)
  go.mod
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Update grafana-forward workload name
  playground/Tiltfile
Owners: @FluxNinja/devops

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
