Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

ls check
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

error check
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

working script
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Documentation for OTEL configuration
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/otel/config.go
Owners: @FluxNinja/backend

fix script typo
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fix compiledCircuit
  pkg/policies/controlplane/circuit-factory.go
Owners: @FluxNinja/backend

git check
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

tmp eheck
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Tune traffic for 2 pod setup
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/backend

check index.yaml file
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Refactor OTEL config (#287)
  api/aperture/common/info/v1/info.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/info/info.go
  pkg/net/listener/gmux.go
  pkg/net/listener/provider.go
  pkg/otel/config.go
  pkg/policies/controlplane/circuit-factory.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/backend

Add wrapper around olric logger
  pkg/distcache/olric-logwriter.go
  pkg/distcache/provider.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Owners: @FluxNinja/backend

Remove remaining print
  pkg/jobs/job-group.go
Owners: @FluxNinja/backend

Add wrapper around olric log (#289)
  pkg/distcache/olric-logwriter.go
  pkg/distcache/provider.go
  pkg/jobs/job-group.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Owners: @FluxNinja/backend

Add wrapper around olric log (#289)
  pkg/distcache/olric-logwriter.go
  pkg/distcache/provider.go
  pkg/jobs/job-group.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Owners: @FluxNinja/backend

update k8s deployment readme and add kind cluster script
  manifests/k8s/README.md
  scripts/aperture_dev_cluster.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

remove network changes
  scripts/aperture_dev_cluster.sh
Owners: @FluxNinja/backend

Workaround kubectl port-forward connectivity issues
  manifests/k8s/Tiltfile
  manifests/k8s/tilt/portforward.sh
Owners: @FluxNinja/devops

Workaround kubectl port-forward connectivity issues (#293)
  manifests/k8s/Tiltfile
  manifests/k8s/tilt/portforward.sh
Owners: @FluxNinja/devops

Made etcd and prometheus endpoints required for Agent
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/controller_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/samples/fluxninja.com_v1alpha1_agent.yaml
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Owners: @FluxNinja/backend

Updated installation steps on docs
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
Owners: @FluxNinja/documentation

Add Flow Label to concepts in docs
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow-control/service.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  manifests/charts/aperture-operator/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-operator/crds/fluxninja.com_controllers.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Add basic agent packaging flow
  .circleci/config.yml
  .gitignore
  manifests/k8s/tilt/portforward.sh
  nfpm.yaml
  packaging/aperture-agent.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

rename demo app services
  docs/content/concepts/policies/policy-blueprints.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/validator_test.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

rename demo app services
  docs/content/concepts/policies/policy-blueprints.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/validator_test.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

move load test buttons to k6 service
  manifests/k8s/Tiltfile
  manifests/k8s/tilt/portforward.sh
Owners: @FluxNinja/devops

rename demo app services (#298)
  docs/content/concepts/policies/policy-blueprints.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
  manifests/k8s/tilt/portforward.sh
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/validator_test.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

improve panels
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
Owners: @FluxNinja/devops, @FluxNinja/backend

rename metrics
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  pkg/flowcontrol/common/metrics.go
  pkg/metrics/schema.go
Owners: @FluxNinja/devops, @FluxNinja/backend

rename metrics
  manifests/k8s/tanka/jsonnetfile.json
Owners: @FluxNinja/devops

tweaks
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/devops, @FluxNinja/backend

tweak traffic rate
  manifests/k8s/tanka/jsonnetfile.lock.json
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/devops, @FluxNinja/backend

jb update
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

jb update
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

tune
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/devops, @FluxNinja/backend

tune
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/devops, @FluxNinja/backend

Improve panels in the playground grafana (#299)
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  pkg/flowcontrol/common/metrics.go
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/devops, @FluxNinja/backend

auto timeouts
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/devops

increase load
  pkg/policies/controlplane/validator_test.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/backend

auto timeouts (#300)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/backend, @FluxNinja/devops

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops
