Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Update blueprints for Decider and Selector changes
  api/buf.lock
  blueprints/README.md
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/blueprints/rate-limiter/graph.svg
  blueprints/examples/demo1-rate-limit.jsonnet
  blueprints/examples/demoapp-latency-gradient.jsonnet
  blueprints/examples/demoapp-rate-limiter.jsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

simplify blueprints
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/blueprints/latency-gradient/example.jsonnet
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/rate-limiter/example.jsonnet
  blueprints/blueprints/rate-limiter/graph.svg
  blueprints/examples/demo1-rate-limit.jsonnet
  blueprints/scripts/aperture-generate.py
  blueprints/scripts/generate_all.sh
  docs/content/get-started/blueprints.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

clean up
  blueprints/examples/demoapp-latency-gradient.jsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

checkpoint
  .pre-commit-config.yaml
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/rate-limiter/graph.dot
Owners: @FluxNinja/backend

checkpoint
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
Owners: @FluxNinja/backend

simplify blueprints
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/dashboards/example.json
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/blueprints/rate-limiter/example/example.jsonnet
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.dot
  blueprints/blueprints/rate-limiter/example/gen/graph/graph.svg
  blueprints/blueprints/rate-limiter/example/gen/policies/example.yaml
  blueprints/scripts/generate_all.sh
Owners: @FluxNinja/backend

use local blueprints in playground
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

add pre-commit hook
  .pre-commit-config.yaml
  Makefile
  api/buf.lock
  blueprints/Makefile
  scripts/precommit/generate_blueprints.sh
Owners: @FluxNinja/backend

update asdf tools
  .circleci/continue-workflows.yml
  .tool-versions
  docs/content/get-started/blueprints.md
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Libsonnet file clean up
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

add jb install step
  blueprints/scripts/generate_all.sh
Owners: @FluxNinja/backend

install graphviz
  .circleci/scripts/asdf_install.sh
Owners: @FluxNinja/devops

move libsonnet to blueprints
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

move manage_tools.sh back to scripts
  .circleci/scripts/asdf_install.sh
  Makefile
  playground/scripts/manage_tools.sh
  scripts/manage_tools.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

install graphviz
  .circleci/scripts/asdf_install.sh
Owners: @FluxNinja/devops

fix prettier command
  blueprints/scripts/generate_all.sh
Owners: @FluxNinja/backend

downgrade nodejs to 16
  .tool-versions
  docs/content/get-started/playground.md
  playground/scripts/install_tools.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Generate blueprints precommit
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

Add Fluxmeter histogram buckets (#473)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterexponentialbuckets.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterexponentialbucketsrange.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterlinearbuckets.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/fluxmeterstaticbuckets.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/gen.libsonnet
  blueprints/libsonnet/README.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore, @FluxNinja/devops

rename WorkloadAndLabelMatcher to Workload
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/gen.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/scheduler.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadandlabelmatcher.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadparameters.libsonnet
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore, @FluxNinja/devops

fix test
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/aperturecore

add logging for etcd client
  pkg/etcd/client/client.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/otelcollector/otelcollector.go
Owners: @FluxNinja/backend

refactor log pkg functions
  pkg/config/fxlogger.go
  pkg/config/log.go
  pkg/distcache/logwriter.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/provide.go
  pkg/k8s/provide.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/metrics/metrics.go
  pkg/otelcollector/helpers.go
  pkg/policies/dataplane/resources/classifier/classifier.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Fixed unit tests
  operator/controllers/constants.go
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

fix test
  pkg/log/log.go
Owners: @FluxNinja/backend

Updated the plyaground doc with the latest changes
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

helm chart version change to v0.3.0
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

add the release tag
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

helm chart version change to v0.3.0-rc.1 (#582)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Updated example in the blueprints docs
  docs/content/get-started/blueprints.md
Owners: @FluxNinja/documentation

Updated example in the blueprints docs (#583)
  docs/content/get-started/blueprints.md
Owners: @FluxNinja/documentation

Remove non-used imports from Tanka apps
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Remove non-used imports from Tanka apps (#584)
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Unify OTEL ports with main server
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services.go
  operator/controllers/agent/services_test.go
  operator/controllers/constants.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otel/components.go
  pkg/otel/config.go
  pkg/otelcollector/otelcollector.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Unify OTEL ports with main server (#577)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services.go
  operator/controllers/agent/services_test.go
  operator/controllers/constants.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otel/components.go
  pkg/otel/config.go
  pkg/otelcollector/otelcollector.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Publish . ./aperture-controller-v0.3.0-rc.1.tgz
  aperture-controller-v0.3.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v0.3.0-rc.1.tgz
  aperture-agent-v0.3.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v0.3.0-rc.1.tgz
  index.yaml
  istioconfig-v0.3.0-rc.1.tgz
Owners: @FluxNinja/backend

Update OTEL
  go.mod
  go.sum
Owners: @FluxNinja/backend

Enable access to agent's controllerID
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.gw.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  docs/gen/policies/gen.yaml
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
