Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Publish . ./aperture-controller-v2.29.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.29.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.1.tgz
  index.yaml
  istioconfig-v2.29.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.1.tgz
  aperture-controller-v2.29.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.1.tgz ./index.yaml
  aperture-agent-v2.29.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add code snippets for concurrency scheduler and limiter
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

reworks
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/concurrency_limit.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add concurrency limiter tests
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/rate-limiter_test.go
  pkg/policies/flowcontrol/provide.go
  test/readiness_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add concurrency limiter tests (#3083)
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/dmap-funcs/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/dmap-funcs/rate-limiter/rate-limiter_test.go
  pkg/policies/flowcontrol/provide.go
  test/readiness_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update olric version to v0.5.4-fn.patch.18
  go.mod
  go.sum
Owners: @FluxNinja/backend

Update olric version to v0.5.4-fn.patch.18 (#3084)
  go.mod
  go.sum
Owners: @FluxNinja/backend

Add code snippets for concurrency scheduler and limiter (#3082)
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

checkpoint
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/graph.mmd
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/policy.yaml
  docs/content/guides/assets/concurrency-scheduling/validate.sh
  docs/content/guides/assets/concurrency-scheduling/values.yaml
  docs/content/guides/concurrency-scheduling.md
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/example/package-lock.json
Owners: @FluxNinja/documentation, @FluxNinja/backend

final reworks
  docs/content/code-snippets.json
  docs/content/guides/per-user-concurrency-limiting.md
Owners: @FluxNinja/documentation

Overhaul concept docs
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/advanced/agent-group.md
  docs/content/concepts/assets/img/scheduler-dark.svg
  docs/content/concepts/assets/img/scheduler-light.svg
  docs/content/concepts/cache.md
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
  docs/content/concepts/request-prioritization/load-scheduler.md
  docs/content/concepts/request-prioritization/quota-scheduler.md
  docs/content/concepts/request-prioritization/request-prioritization.md
  docs/content/concepts/scheduler.md
  docs/content/concepts/scheduler/assets/img/load-scheduler-dark.svg
  docs/content/concepts/scheduler/assets/img/load-scheduler-light.svg
  docs/content/concepts/scheduler/assets/img/quota-scheduler-dark.svg
  docs/content/concepts/scheduler/assets/img/quota-scheduler-light.svg
  docs/content/concepts/scheduler/scheduler.md
  docs/content/concepts/selector.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/service/check/metrics.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

fixes
  docs/content/code-snippets.json
  docs/content/guides/assets/concurrency-scheduling/values.yaml
  docs/content/guides/concurrency-scheduling.md
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

lang tool suggestions
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
Owners: @FluxNinja/documentation

more fixes
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/concurrency-scheduling.md
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

fixes
  docs/content/guides/assets/concurrency-scheduling/queue.png
  docs/content/guides/assets/concurrency-scheduling/request-metrics.png
  docs/content/guides/assets/concurrency-scheduling/workloads.png
Owners: @FluxNinja/documentation

Ksohi/concurrency scheduler guide (#3086)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/graph.mmd
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/policy.yaml
  docs/content/guides/assets/concurrency-scheduling/queue.png
  docs/content/guides/assets/concurrency-scheduling/request-metrics.png
  docs/content/guides/assets/concurrency-scheduling/validate.sh
  docs/content/guides/assets/concurrency-scheduling/values.yaml
  docs/content/guides/assets/concurrency-scheduling/workloads.png
  docs/content/guides/concurrency-scheduling.md
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Overhaul concept docs (#3087)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/advanced/agent-group.md
  docs/content/concepts/assets/img/scheduler-dark.svg
  docs/content/concepts/assets/img/scheduler-light.svg
  docs/content/concepts/cache.md
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
  docs/content/concepts/request-prioritization/load-scheduler.md
  docs/content/concepts/request-prioritization/quota-scheduler.md
  docs/content/concepts/request-prioritization/request-prioritization.md
  docs/content/concepts/scheduler.md
  docs/content/concepts/scheduler/assets/img/load-scheduler-dark.svg
  docs/content/concepts/scheduler/assets/img/load-scheduler-light.svg
  docs/content/concepts/scheduler/assets/img/quota-scheduler-dark.svg
  docs/content/concepts/scheduler/assets/img/quota-scheduler-light.svg
  docs/content/concepts/scheduler/scheduler.md
  docs/content/concepts/selector.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/service/check/metrics.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Ksohi/concurrency limiting guide (#3080)
  concurrency-limiting-test.yaml
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/graph.mmd
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/policy.yaml
  docs/content/guides/assets/concurrency-scheduling/queue.png
  docs/content/guides/assets/concurrency-scheduling/request-metrics.png
  docs/content/guides/assets/concurrency-scheduling/validate.sh
  docs/content/guides/assets/concurrency-scheduling/values.yaml
  docs/content/guides/assets/concurrency-scheduling/workloads.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph1.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph2.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/validate.sh
  docs/content/guides/assets/per-user-concurrency-limiting/values.yaml
  docs/content/guides/concurrency-scheduling.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/example/package-lock.json
Owners: @FluxNinja/backend, @FluxNinja/documentation

Publish . ./aperture-agent-v2.29.2-rc.1.tgz
  aperture-agent-v2.29.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.2-rc.1.tgz
  index.yaml
  istioconfig-v2.29.2-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.2-rc.1.tgz ./index.yaml
  aperture-controller-v2.29.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add missing imports for docs
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

Add missing imports for docs (#3088)
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

Publish . ./istioconfig-v2.29.2-rc.2.tgz
  index.yaml
  istioconfig-v2.29.2-rc.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.2-rc.2.tgz ./index.yaml
  aperture-agent-v2.29.2-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.2-rc.2.tgz ./index.yaml
  aperture-controller-v2.29.2-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

[ImgBot] Optimize images
  docs/content/guides/assets/caching/caching.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/request-metrics.png
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph1.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph2.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  docs/content/sdk/assets/sdks-dark.svg
  docs/content/sdk/assets/sdks-light.svg
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Owners: @FluxNinja/documentation, @FluxNinja/backend

Publish . ./istioconfig-v2.29.2.tgz
  index.yaml
  istioconfig-v2.29.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.2.tgz
  aperture-agent-v2.29.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.2.tgz ./index.yaml
  aperture-controller-v2.29.2.tgz
  index.yaml
Owners: @FluxNinja/backend

add new snippet for ui docs and rework guides hierarchy
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-quota-management/graph.mmd
  docs/content/guides/assets/concurrency-quota-management/policy.yaml
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-scheduling/graph.mmd.svg
  docs/content/guides/assets/concurrency-scheduling/queue.png
  docs/content/guides/assets/concurrency-scheduling/request-metrics.png
  docs/content/guides/assets/concurrency-scheduling/validate.sh
  docs/content/guides/assets/concurrency-scheduling/values.yaml
  docs/content/guides/assets/concurrency-scheduling/workloads.png
  docs/content/guides/concurrency-scheduling.md
  docs/content/guides/openai.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

add ui snippet and reworks guides hierarchy
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-quota-management/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-quota-management/graph.mmd.svg
  docs/content/guides/assets/concurrency-quota-management/queue.png
  docs/content/guides/assets/concurrency-quota-management/request-metrics.png
  docs/content/guides/assets/concurrency-quota-management/validate.sh
  docs/content/guides/assets/concurrency-quota-management/values.yaml
  docs/content/guides/assets/concurrency-quota-management/workloads.png
  docs/content/guides/concurrency-quota-management.md
Owners: @FluxNinja/documentation

Ksohi/new snippets and docs rework (#3090)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-quota-management/graph.mmd
  docs/content/guides/assets/concurrency-quota-management/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-quota-management/graph.mmd.svg
  docs/content/guides/assets/concurrency-quota-management/policy.yaml
  docs/content/guides/assets/concurrency-quota-management/queue.png
  docs/content/guides/assets/concurrency-quota-management/request-metrics.png
  docs/content/guides/assets/concurrency-quota-management/validate.sh
  docs/content/guides/assets/concurrency-quota-management/values.yaml
  docs/content/guides/assets/concurrency-quota-management/workloads.png
  docs/content/guides/concurrency-quota-management.md
  docs/content/guides/openai.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

quick typo fix
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/backend

Typo fix (#3091)
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/backend

change concurrency scheduling title to concurrency quota management
  docs/content/guides/concurrency-quota-management.md
Owners: @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
