Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Expose k8s client HTTP client config (#194)
  cmd/aperture-agent/agent.go
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/k8s/provide.go
Owners: @FluxNinja/backend

Enhance Policy Compiler for Circuit Graph creation
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

Skip nil component for runtime
  pkg/policies/controlplane/policy.go
Owners: @FluxNinja/backend

create empty index.yaml file
  index.yaml
Owners: @FluxNinja/backend

Synced operator repo changes
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/templates/rbac.yaml
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/Tiltfile
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/agent_daemonset_test.go
  operator/controllers/agent_pod_test.go
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  operator/controllers/controller_deployment_test.go
Owners: @FluxNinja/devops, @FluxNinja/backend

change index
  index.yaml
Owners: @FluxNinja/backend

add config.yaml for themes
  _config.yml
Owners: @FluxNinja/backend

add Readme
  README.md
Owners: @FluxNinja/backend

Added installation steps in docs
  docs/content/setup/_category_.yml
  docs/content/setup/installation/_category_.yml
  docs/content/setup/installation/agent/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Owners: @FluxNinja/documentation

Expose batch configuration
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  pkg/otel/config.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Synced operator changes as discussed
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Owners: @FluxNinja/backend

Fixed DockerHub latest tag issue
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fixed DockerHub latest tag issue (#238)
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Add workload metric histogram to lifecycle
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Owners: @FluxNinja/backend

Update comment on NewRegistry
  pkg/jobs/jobs_test.go
  pkg/status/registry.go
Owners: @FluxNinja/backend

Enable single pod deployment run per worker node
  manifests/charts/demo-app/templates/deployment.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
Owners: @FluxNinja/devops

update k8s deployment readme and add kind cluster script
  manifests/k8s/README.md
  scripts/aperture_dev_cluster.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

Fix controller provider.go
  cmd/aperture-controller/controller/provider.go
Owners: @FluxNinja/backend

Change stop to delete load test
  manifests/k8s/Tiltfile
Owners: @FluxNinja/devops

De-couple FluxMeters from Policy, make them global
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  libsonnet/Makefile
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/paths/paths.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/backend

Remove Exists methods from Regisrty interface
  pkg/status/map.go
  pkg/status/registry.go
  pkg/status/registry_test.go
Owners: @FluxNinja/backend

Remove existsInPath
  pkg/status/map.go
  pkg/status/registry.go
Owners: @FluxNinja/backend

combine pip PRs
  .github/workflows/combine-prs.yml
Owners: @FluxNinja/devops

combine pip PRs (#242)
  .github/workflows/combine-prs.yml
Owners: @FluxNinja/devops

Fix tests
  pkg/policies/dataplane/engine_test.go
Owners: @FluxNinja/backend

Fix tests
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/flux-meter.go
Owners: @FluxNinja/backend

Fix combine PRs script
  .github/workflows/combine-prs.yml
Owners: @FluxNinja/devops

Fix combine PRs script (#244)
  .github/workflows/combine-prs.yml
Owners: @FluxNinja/devops

fix
  go.sum
Owners: @FluxNinja/backend

Fix starting array length
  pkg/policies/controlplane/policy.go
Owners: @FluxNinja/backend

Improve blueprint docs
  docs/content/concepts/policies/policy-blueprints.md
Owners: @FluxNinja/documentation

Update policy-blueprints.md
  docs/content/concepts/policies/policy-blueprints.md
Owners: @FluxNinja/documentation

Improve blueprint docs (#248)
  docs/content/concepts/policies/policy-blueprints.md
Owners: @FluxNinja/documentation

Enhance Policy Compiler for Circuit Graph creation (#235)
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

De-couple FluxMeters from Policy, make them global (#241)
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  libsonnet/Makefile
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/paths/paths.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/backend

Expose batch configuration (#159)
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Add comment why histogram might already exists in metricsprocessor
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Add comment why histogram might already exists in metricsprocessor (#250)
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Updated K6 CRD
  manifests/k8s/tanka/lib/apps/k6-operator/k6/crd/bases/k6.io_k6s.yaml
Owners: @FluxNinja/devops

Updated K6 CRD (#239)
  manifests/k8s/tanka/lib/apps/k6-operator/k6/crd/bases/k6.io_k6s.yaml
Owners: @FluxNinja/devops

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops
