Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Update resources.md (#553)
  docs/content/concepts/policy/resources.md
Owners: @FluxNinja/documentation

Small grammar fix
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

Small grammar fix (#554)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fixed the policy name issue due to which graphs were not showing
  operator/controllers/policy_reconciler.go
  operator/controllers/policy_reconciler_test.go
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

Added CRD for Policy and structure for Reconcile
  operator/Dockerfile
  operator/PROJECT
  operator/api/v1alpha1/policy_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_policies.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/patches/cainjection_in_policies.yaml
  operator/config/crd/patches/webhook_in_policies.yaml
  operator/config/rbac/policy_editor_role.yaml
  operator/config/rbac/policy_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/policy_reconciler.go
  operator/main.go
Owners: @FluxNinja/backend

Updated logic to generate the filename of policy
  operator/controllers/controller_deployment.go
  operator/controllers/controller_deployment_test.go
  operator/controllers/policy_reconciler.go
  operator/controllers/policy_reconciler_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Owners: @FluxNinja/backend

Added Init containers for Etcd and Prometheus in controller
  manifests/charts/aperture-controller/templates/controller.yaml
Owners: @FluxNinja/devops

Added Init containers for Etcd and Prometheus in controller (#551)
  manifests/charts/aperture-controller/templates/controller.yaml
Owners: @FluxNinja/devops

checkpoint
  .prettierrc
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/Makefile
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/service.md
  docs/content/introduction.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

enable prose wrap
  .prettierrc
  docs/content/concepts/flow-control/concurrency-limiter.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

fix precommit
  docs/content/concepts/service.md
Owners: @FluxNinja/documentation

fix precommit
  docs/content/concepts/service.md
Owners: @FluxNinja/documentation

add git branch and git commit hash for docker build
  .circleci/continue-workflows.yml
  .circleci/scripts/docker_build.sh
Owners: @FluxNinja/devops

Update demoapp, fluxmeter jsonnet library file
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  libsonnet/README.md
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Enable latency histogram metric for GRPC server
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/net/grpc/server.go
  pkg/net/grpc/zz_generated.deepcopy.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Change latency buckets configuration for metrics
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/net/http/server.go
  pkg/net/http/zz_generated.deepcopy.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix metrics in HTTP server
  pkg/net/http/server.go
Owners: @FluxNinja/backend

Add handler name label to HTTP metrics
  pkg/metrics/schema.go
  pkg/net/http/server.go
Owners: @FluxNinja/backend

Servers monitoring update (#548)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/metrics/schema.go
  pkg/net/grpc/server.go
  pkg/net/grpc/zz_generated.deepcopy.go
  pkg/net/http/server.go
  pkg/net/http/zz_generated.deepcopy.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix in playground, fluxmeter libsonnet
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

add pullPolicy for aperture-operator image
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Owners: @FluxNinja/devops

fix typo
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

revert docs changes
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

add dir change typo for ctlptl command
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

add pullPolicy for aperture-operator image (#557)
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Owners: @FluxNinja/devops

add git branch and git commit hash for docker build (#556)
  .circleci/continue-workflows.yml
  .circleci/scripts/docker_build.sh
Owners: @FluxNinja/devops

Removed ConfigMap ValidatingWebhook related references
  cmd/aperture-controller/controller.go
  docs/content/get-started/blueprints.md
  operator/controllers/controller_reconciler.go
  operator/controllers/controller_reconciler_test.go
  operator/controllers/validating_webhook_configuration.go
  operator/controllers/validating_webhook_configuration_test.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/webhooks/validation/provide.go
  pkg/webhooks/validation/validator.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Add commonselectorv1ControlPoint custom jsonnet
  libsonnet/1.0/custom/commonselectorv1controlpoint.libsonnet
  libsonnet/1.0/main.libsonnet
Owners: @FluxNinja/devops

Add ResponseMetricsAPI For managing policy related metrics lifetime
  go.mod
  go.sum
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/metrics-registry.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter_test.go
  pkg/policies/dataplane/response-metrics-registry.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/policies/mocks/mock_metrics-registry.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update playground policy spec
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Add spantologprocessor otel component
  pkg/otelcollector/spantologprocessor/config.go
  pkg/otelcollector/spantologprocessor/factory.go
  pkg/otelcollector/spantologprocessor/processor.go
Owners: @FluxNinja/backend

Add spantologprocessor to otel processors list
  pkg/otel/components.go
Owners: @FluxNinja/backend

Fix etcd haress tls setup
  test/aperture_suite_test.go
  test/harness/etcd.go
Owners: @FluxNinja/backend

Disable gosec linter on InsecureSkipVerfiy
  test/harness/etcd.go
Owners: @FluxNinja/backend

Fix etcd harness tls setup (#562)
  test/aperture_suite_test.go
  test/harness/etcd.go
Owners: @FluxNinja/backend

Add ResponseMetricsAPI For managing policy related metrics lifetime
  go.mod
  go.sum
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/iface/metrics-registry.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/response-metrics-registry.go
  pkg/policies/mocks/mock_metrics-registry.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

move paths pkg to policies/common
  pkg/policies/common/common.go
  pkg/policies/common/paths.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Owners: @FluxNinja/aperturecore

Add ResponseMetricsAPI (#297)
  go.mod
  go.sum
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/iface/metrics-registry.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/response-metrics-registry.go
  pkg/policies/mocks/mock_metrics-registry.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

refactor circuit compiler
  cmd/circuit-compiler/main.go
  cmd/circuit-generator/main.go
  pkg/config/log.go
  pkg/log/log.go
Owners: @FluxNinja/backend

Split Decider component into Decider and Switcher
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/component.libsonnet
  libsonnet/1.0/_gen/v1/decider.libsonnet
  libsonnet/1.0/_gen/v1/deciderins.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/switcher.libsonnet
  libsonnet/1.0/_gen/v1/switcherins.libsonnet
  libsonnet/1.0/_gen/v1/switcherouts.libsonnet
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
