Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops

Removed Istio dependency from chart and added policy configmap and grafana dashboard
  Makefile
  manifests/charts/agent/Chart.lock
  manifests/charts/agent/Chart.yaml
  manifests/charts/agent/README.md
  manifests/charts/agent/templates/envoy_filter.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/Chart.lock
  manifests/charts/aperture-operator/Chart.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/values.yaml
  manifests/charts/istioconfig/.helmignore
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/chartfile.yaml
  manifests/k8s/tanka/charts/.gitignore
  manifests/k8s/tanka/charts/istioconfig
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/istio/main.libsonnet
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_reconciler.go
Owners: @FluxNinja/backend, @FluxNinja/devops

Removed Istio dependency from chart and added policy configmap and grafana dashboard (#249)
  Makefile
  manifests/charts/agent/Chart.lock
  manifests/charts/agent/Chart.yaml
  manifests/charts/agent/README.md
  manifests/charts/agent/templates/envoy_filter.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/Chart.lock
  manifests/charts/aperture-operator/Chart.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/values.yaml
  manifests/charts/istioconfig/.helmignore
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/chartfile.yaml
  manifests/k8s/tanka/charts/.gitignore
  manifests/k8s/tanka/charts/istioconfig
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/istio/main.libsonnet
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_reconciler.go
Owners: @FluxNinja/backend, @FluxNinja/devops

Fix CLA rendering and improve aperture-operator handling
  docs/content/developers/cla.md
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
Owners: @FluxNinja/documentation, @FluxNinja/devops

Fix CLA rendering and improve aperture-operator handling
  docs/content/developers/cla.md
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
Owners: @FluxNinja/documentation, @FluxNinja/devops

Add FluxNinja Cloud section to docs
  docs/content/cloud/_category_.yml
  docs/content/cloud/plugin.md
Owners: @FluxNinja/documentation

add app and helm chart version
  manifests/charts/agent/Chart.yaml
  manifests/charts/aperture-operator/Chart.yaml
Owners: @FluxNinja/devops

Fix CLA rendering and improve aperture-operator handling (#251)
  docs/content/developers/cla.md
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
Owners: @FluxNinja/documentation, @FluxNinja/devops

add app and helm chart version (#253)
  manifests/charts/agent/Chart.yaml
  manifests/charts/aperture-operator/Chart.yaml
Owners: @FluxNinja/devops

Added installation steps in docs
  docs/content/setup/_category_.yml
  docs/content/setup/installation/_category_.yml
  docs/content/setup/installation/agent/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Owners: @FluxNinja/documentation

Removed Istio from installation steps and resolved review comments
  .gitignore
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Added installation steps in docs (#237)
  .gitignore
  docs/content/setup/_category_.yml
  docs/content/setup/installation/_category_.yml
  docs/content/setup/installation/agent/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Concepts
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
Owners: @FluxNinja/documentation

Concepts
  docs/content/concepts/flow-control/selector.md
Owners: @FluxNinja/documentation

Fixed typos and format
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/selector.md
Owners: @FluxNinja/documentation

Content (#246)
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/selector.md
Owners: @FluxNinja/documentation

updated helm chart for first rlease . Remove istio.
  aperture-operator-v0.0.1.tgz
  aperture-v0.0.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add FluxNinja Cloud section to docs
  docs/content/cloud/_category_.yml
  docs/content/cloud/plugin.md
Owners: @FluxNinja/documentation

Expand proto-level documentation on Scheduler
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flow-control.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

fix ImagePullBackOff error
  aperture-operator-v0.0.1.tgz
  aperture-v0.0.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Expand proto-level documentation on Scheduler (#256)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flow-control.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Add FluxNinja Cloud section to docs (#252)
  docs/content/cloud/_category_.yml
  docs/content/cloud/plugin.md
Owners: @FluxNinja/documentation

enhance Readme
  README.md
Owners: @FluxNinja/backend

Revert demo2, demo3 on tilt
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
Owners: @FluxNinja/devops

Single demoapp depoyment per worker node (#240)
  manifests/charts/demo-app/templates/deployment.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Add nil ptr check for registry.Get()
  pkg/jobs/job-tracker.go
  pkg/jobs/jobs_test.go
  pkg/status/registry_test.go
Owners: @FluxNinja/backend

Added null checks for values in chart
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/templates/controller.yaml
  manifests/charts/aperture-operator/templates/pre-delete-hook.yaml
Owners: @FluxNinja/devops

Added null checks for values in chart (#258)
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/templates/controller.yaml
  manifests/charts/aperture-operator/templates/pre-delete-hook.yaml
Owners: @FluxNinja/devops

Add nil ptr check for registry.Get() (#257)
  pkg/jobs/job-tracker.go
  pkg/jobs/jobs_test.go
  pkg/status/registry_test.go
Owners: @FluxNinja/backend

Add Kind cluster configuration file
  manifests/k8s/README.md
  manifests/k8s/kind-config.yaml
Owners: @FluxNinja/devops

Add Kind cluster configuration file (#259)
  manifests/k8s/README.md
  manifests/k8s/kind-config.yaml
Owners: @FluxNinja/devops

Fix tests
  pkg/platform/platform.go
Owners: @FluxNinja/backend

change location of policies config --> policies/<policy>/policy_config
  cmd/aperture-controller/controller/provider.go
  pkg/policies/controlplane/policy-factory.go
Owners: @FluxNinja/backend

fix test
  pkg/entitycache/entity_cache.go
Owners: @FluxNinja/backend

remove job metrics
  pkg/jobs/job-group.go
  pkg/jobs/job-metrics.go
  pkg/jobs/job-tracker.go
  pkg/metrics/schema.go
  pkg/status/registry.go
Owners: @FluxNinja/backend

fix
  go.mod
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
Owners: @FluxNinja/backend

Remove batchMetricsFast processor
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Remove batchMetricsFast processor (#260)
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Update README.md
  README.md
  docs/content/assets/img/aperture_logo.png
Owners: @FluxNinja/backend, @FluxNinja/documentation

Update README.md
  README.md
  docs/content/assets/img/aperture_logo.png
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fix links
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
Owners: @FluxNinja/backend
