Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Publish . ./istioconfig-v0.3.0.tgz
  index.yaml
  istioconfig-v0.3.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v0.3.0.tgz
  aperture-controller-v0.3.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Allow construction of OTEL collector outside of k8s environment (#449)
  pkg/k8s/provide.go
  pkg/otel/config.go
Owners: @FluxNinja/backend

Remove duplicate decider from latency-gradient blueprint
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v0.3.0.tgz
  aperture-controller-v0.3.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v0.3.0.tgz
  aperture-agent-v0.3.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v0.3.0.tgz
  index.yaml
  istioconfig-v0.3.0.tgz
Owners: @FluxNinja/backend

Rename Module functions
  cmd/aperture-agent/agent.go
  pkg/config/log.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/provide.go
  pkg/flowcontrol/provide.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/health/health.go
  pkg/net/http/client.go
  pkg/net/http/server.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/provide.go
  pkg/policies/dataplane/provide.go
  pkg/policies/watcher/kubernetes/provide.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Remove duplicate decider from latency-gradient blueprint (#594)
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
Owners: @FluxNinja/backend

Add logos to badges in README
  README.md
Owners: @FluxNinja/backend

Remove duplicate rollup file
  pkg/otelcollector/rollup.go
Owners: @FluxNinja/backend

Rename setup functions
  pkg/config/config.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/provide.go
  pkg/discovery/static/provide.go
  pkg/distcache/provider.go
  pkg/entitycache/entity_cache.go
  pkg/etcd/client/client.go
  pkg/etcd/watcher/provider.go
  pkg/filesystem/watcher/provider.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/provide.go
  pkg/jobs/provide.go
  pkg/k8s/provide.go
  pkg/metrics/metrics.go
  pkg/net/health/health.go
  pkg/net/http/proxy.go
  pkg/net/listener/gmux.go
  pkg/net/tlsconfig/server.go
  pkg/notifiers/provide.go
  pkg/panichandler/panichandler.go
  pkg/peers/peers.go
  pkg/profilers/profilers.go
  pkg/prometheus/client.go
  pkg/status/provide.go
  pkg/watchdog/watchdog.go
  pkg/webhooks/validation/provide.go
  pkg/webhooks/webhooks.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

use default formatting for console logger
  pkg/log/log.go
Owners: @FluxNinja/backend

short path
  pkg/log/log.go
Owners: @FluxNinja/backend

add contextual logger to load shed decision component
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/validator.go
Owners: @FluxNinja/aperturecore

add contextual logger for control plane components
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/aperturecore

add contextual logger for data plane components
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
Owners: @FluxNinja/aperturecore

random sample publish decision messages
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
Owners: @FluxNinja/aperturecore

Logging improvements (#597)
  pkg/log/log.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Consolidate otel into otelcollector
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/provider.go
  cmd/aperture-controller/controller.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otelcollector/components/agent-component.go
  pkg/otelcollector/components/config.go
  pkg/otelcollector/components/consts.go
  pkg/otelcollector/components/controller-component.go
  pkg/otelcollector/components/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend

Add logos to badges in README (#595)
  README.md
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
