Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops

Tweak classifier and scheduler docs
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Expand proto-level documentation on RateLimiter
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend

Link reference from actuators and plugin
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
Owners: @FluxNinja/documentation

Update README.md
  README.md
  docs/content/assets/img/aperture_logo.png
Owners: @FluxNinja/backend, @FluxNinja/documentation

Update README.md (#262)
  README.md
  docs/content/assets/img/aperture_logo.png
Owners: @FluxNinja/backend, @FluxNinja/documentation

testing helm chart
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

fix name error
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Add some test release notes
  docs/release-notes/release-0.1.1-rc.2.md
Owners: @FluxNinja/backend

fix name
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fix links
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
Owners: @FluxNinja/backend

Tweak classifier and scheduler docs
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Expand proto-level documentation on RateLimiter
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend

Link reference from actuators and plugin
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
Owners: @FluxNinja/documentation

rename entity cache messages
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  docs/gen/policies/gen.yaml
  pkg/entitycache/entity_cache.go
  pkg/platform/platform.go
  pkg/status/provide.go
  pkg/status/status-service.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Owners: @FluxNinja/backend

add grpc service for entity cache
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  cmd/aperture-agent/Dockerfile
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/Dockerfile
  docs/gen/policies/gen.yaml
  manifests/charts/agent/files/aperture-agent-config.yaml
  pkg/entitycache/entity_cache.go
Owners: @FluxNinja/backend, @FluxNinja/devops

rename entity cache messages (#269)
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  cmd/aperture-agent/Dockerfile
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/Dockerfile
  docs/gen/policies/gen.yaml
  manifests/charts/agent/files/aperture-agent-config.yaml
  pkg/entitycache/entity_cache.go
  pkg/platform/platform.go
  pkg/status/provide.go
  pkg/status/status-service.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Owners: @FluxNinja/backend, @FluxNinja/devops

Update aperture-agent-config.yaml
  manifests/charts/agent/files/aperture-agent-config.yaml
Owners: @FluxNinja/devops

Update aperture-agent-config.yaml (#270)
  manifests/charts/agent/files/aperture-agent-config.yaml
Owners: @FluxNinja/devops

Add SpanStatusCode and Duration to Span attributes
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Expand rate limiter docs + misc doc tweaks (#263)
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

pprof tweaks
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/net/http/server.go
  pkg/profilers/profilers.go
Owners: @FluxNinja/backend

pprof tweaks (#272)
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/net/http/server.go
  pkg/profilers/profilers.go
Owners: @FluxNinja/backend

Make demoapp latency configurable
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
Owners: @FluxNinja/backend

Make demoapp latency configurable (#273)
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
Owners: @FluxNinja/backend

Add policies map as first lvl field in heartbeats
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  pkg/policies/controlplane/policy-factory.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Owners: @FluxNinja/backend

Add files via upload
  docs/content/assets/img/oaa.jpg
Owners: @FluxNinja/documentation

Update README.md
  README.md
Owners: @FluxNinja/backend

Add files via upload
  docs/content/assets/img/oaa.png
Owners: @FluxNinja/documentation

Update README.md
  README.md
Owners: @FluxNinja/backend

Fix distcache memberlist
  pkg/distcache/provider.go
  tools/demo_app/app/app.go
Owners: @FluxNinja/backend

Fix distcache memberlist (#285)
  pkg/distcache/provider.go
  tools/demo_app/app/app.go
Owners: @FluxNinja/backend

Pod anti affinity constraint for demo app is now preferred instead of required. Demo app comes up successfully on one node cluster after this change
  manifests/charts/demo-app/templates/deployment.yaml
Owners: @FluxNinja/devops

Pod anti affinity constraint for demo app is now preferred instead of required. Demo app comes up successfully on one node cluster after this change (#286)
  manifests/charts/demo-app/templates/deployment.yaml
Owners: @FluxNinja/devops

Refactor OTEL config
  api/aperture/common/info/v1/info.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  pkg/info/info.go
  pkg/net/listener/gmux.go
  pkg/net/listener/provider.go
  pkg/otel/config.go
Owners: @FluxNinja/backend

name missing error
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

tune traffic generator
  tools/load_generator/scenarios/load_test.js
Owners: @FluxNinja/backend

add helm install script
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

helm dep update
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

add ls command
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

helm dep update chart
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops
