Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Update load generator target duration and add missing primary key constraint
  playground/scenarios/postgres-concurrency/load-generator/test.js
  sdks/aperture-go/examples/manual/init.sql
Owners: @FluxNinja/devops, @FluxNinja/backend

Update load generator target duration and primary key constraint (#3131)
  playground/scenarios/postgres-concurrency/load-generator/test.js
  sdks/aperture-go/examples/manual/init.sql
Owners: @FluxNinja/devops, @FluxNinja/backend

readme: add concurrency limiting announcement
  README.md
Owners: @FluxNinja/documentation

text update
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

Fix formatting in README.md
  README.md
Owners: @FluxNinja/documentation

update mistral guide
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

fix vale issues
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

fix vale issues
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

Update mistral guide (#3133)
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

Checkpoint fairness
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  go.mod
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/wfq.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

readme: add concurrency limiting announcement (#3132)
  README.md
Owners: @FluxNinja/documentation

Update pkg/scheduler/wfq.go
  pkg/scheduler/wfq.go
Owners: @FluxNinja/backend

Vale fix
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Keep reference to the storage client so that we can close it during Stop()
  pkg/objectstorage/object-storage.go
Owners: @FluxNinja/backend

fix pre-commit
  api/buf.lock
Owners: @FluxNinja/backend

fix pre-commit (#3136)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Add SetCapacity method to ConcurrencyLimiter interface
  pkg/dmap-funcs/concurrency-limiter/iface.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Unit test for fairness
  pkg/scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Owners: @FluxNinja/backend

Fairness preemption metrics
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/aperturecore

Vale fix
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  .github/styles/config/vocabularies/FluxNinja/reject.txt
  .pre-commit-config.yaml
  api/buf.lock
Owners: @FluxNinja/devops, @FluxNinja/backend

Fix preemption metrics
  pkg/scheduler/wfq.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Owners: @FluxNinja/backend

Fairness (#3134)
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  .github/styles/config/vocabularies/FluxNinja/reject.txt
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  go.mod
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fix pre-commit
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Owners: @FluxNinja/backend

Keep reference to the storage client so that we can close it during Stop() (#3135)
  pkg/objectstorage/object-storage.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Owners: @FluxNinja/backend

Update Go SDK examples go mod on API version change
  .circleci/scripts/update_api_go_sdk.sh
Owners: @FluxNinja/devops

Update scheduler dashboard with new panel: tokens adjusted to maintain fairness
  api/aperture/policy/private/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  dashboards/grafana/dashboards/summary/concurrency-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/load-actuator/rows.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/aperturecore

Update Go SDK examples go mod on API version change (#3138)
  .circleci/scripts/update_api_go_sdk.sh
Owners: @FluxNinja/devops

New dashboard panel: tokens adjusted to maintain fairness (#3139)
  api/aperture/policy/private/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  dashboards/grafana/dashboards/summary/concurrency-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/load-actuator/rows.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.31.0-rc.1.tgz
  index.yaml
  istioconfig-v2.31.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.31.0-rc.1.tgz
  aperture-controller-v2.31.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.31.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.31.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.31.0.tgz
  aperture-agent-v2.31.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.31.0.tgz
  index.yaml
  istioconfig-v2.31.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.31.0.tgz
  aperture-controller-v2.31.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Use io.ReadAll to read from object storage
  pkg/objectstorage/object-storage.go
Owners: @FluxNinja/backend

Add some more debug-level logs around persistent storage
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
Owners: @FluxNinja/backend

update github readme
  README.md
Owners: @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
