Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

update dotnet code
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/README.md
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend

Update images with minor improvement (#2988)
  docs/content/assets/img/unified-load-management-dark.svg
  docs/content/assets/img/unified-load-management-light.svg
Owners: @FluxNinja/documentation

update code snippets
  docs/content/code-snippets.json
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/netty.md
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
Owners: @FluxNinja/documentation, @FluxNinja/backend

update typescript example
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend

update go lang example
  sdks/aperture-go/example/main.go
Owners: @FluxNinja/backend

Do not publish inf signals in summary. Separate counter to track inf signals
  docs/content/reference/observability/prometheus-metrics/controller.md
  pkg/metrics/schema.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/prometheus/prom-query.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/aperturecore

Removing debug log
  pkg/prometheus/prom-query.go
Owners: @FluxNinja/backend

Separate counter to track inf signals (#2993)
  docs/content/reference/observability/prometheus-metrics/controller.md
  pkg/metrics/schema.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/aperturecore

add accepted word
  .github/styles/Vocab/FluxNinja/accept.txt
Owners: @FluxNinja/devops

add accepted word (#3004)
  .github/styles/Vocab/FluxNinja/accept.txt
Owners: @FluxNinja/devops

Publish . ./aperture-agent-v2.25.2-rc.1.tgz
  aperture-agent-v2.25.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.25.2-rc.1.tgz
  aperture-controller-v2.25.2-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.25.2-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.25.2-rc.1.tgz
Owners: @FluxNinja/backend

etcd transport rename
  api/buf.lock
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  pkg/agent-functions/cache.go
  pkg/agent-functions/flowcontrol-controlpoints.go
  pkg/agent-functions/preview.go
  pkg/agent-functions/provide.go
  pkg/cmd/agents/agents.go
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

lint fix
  docs/content/code-snippets.json
Owners: @FluxNinja/documentation

Publish . ./istioconfig-v2.25.2.tgz
  index.yaml
  istioconfig-v2.25.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.25.2.tgz ./index.yaml
  aperture-agent-v2.25.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.25.2.tgz ./index.yaml
  aperture-controller-v2.25.2.tgz
  index.yaml
Owners: @FluxNinja/backend

rename constructor variable
  pkg/discovery/entities/entities-service.go
Owners: @FluxNinja/backend

etcd transport rename (#2991)
  api/buf.lock
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  pkg/agent-functions/cache.go
  pkg/agent-functions/flowcontrol-controlpoints.go
  pkg/agent-functions/preview.go
  pkg/agent-functions/provide.go
  pkg/cmd/agents/agents.go
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

add category, instead of bare folder
  docs/content/reference/cloud-ui/policies/_category_.yml
  docs/content/reference/cloud-ui/policies/policy-creation.md
Owners: @FluxNinja/documentation

fix java code and build failures
  docs/content/sdk/java/netty.md
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
Owners: @FluxNinja/documentation, @FluxNinja/backend

fix csharp code example
  sdks/aperture-csharp/Examples/Program.cs
Owners: @FluxNinja/backend

Fix pre-commit
  api/gen/openapiv2/aperture.swagger.yaml
Owners: @FluxNinja/backend

Use api module in go sdk
  api/Makefile
  api/gen/openapiv2/aperture.swagger.yaml
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.gw.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/cache.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/backend

Update pre-commit script
  scripts/precommit/generate_api.sh
Owners: @FluxNinja/backend

CI for aperture-go updates
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/scripts/update_api_go_sdk.sh
Owners: @FluxNinja/devops

Run workflow on main
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Use api module in sdk (#3007)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/scripts/update_api_go_sdk.sh
  api/Makefile
  api/gen/openapiv2/aperture.swagger.yaml
  scripts/precommit/generate_api.sh
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.gw.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/cache.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Use pipeline variable to get commit sha
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Update aperture-go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Use pipeline variable to get commit sha (#3008)
  .circleci/continue-workflows.yml
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/devops, @FluxNinja/backend

add category, instead of bare folder (#3005)
  docs/content/reference/cloud-ui/policies/_category_.yml
  docs/content/reference/cloud-ui/policies/policy-creation.md
Owners: @FluxNinja/documentation

add go lang examples
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/examples/middleware/main.go
Owners: @FluxNinja/backend

add a todo
  docs/content/sdk/go/manual.md
Owners: @FluxNinja/documentation

fix lt issues
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

update code examples
  docs/content/code-snippets.json
  docs/content/get-started/get-started.md
  docs/content/sdk/go/manual.md
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/examples/middleware/main.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

rename from aperture agent to Aperture
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

update go docs
  docs/content/code-snippets.json
  docs/content/sdk/go/manual.md
  sdks/aperture-go/examples/manual_flow/main.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

remove typo
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
