Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Store TTL and timestamp in object storage metadata
  pkg/objectstore/persistedentry.go
  pkg/objectstore/provide.go
Owners: @FluxNinja/backend

Enable Olric read repair (#3062)
  go.mod
  go.sum
  pkg/dist-cache/provider.go
Owners: @FluxNinja/backend

Use pointers for ObjectStoreBackedDMap
  pkg/objectstore/persistentdmap.go
Owners: @FluxNinja/backend

Peristent dmap metrics
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
  pkg/objectstore/persistentdmap.go
  pkg/objectstore/provide.go
  pkg/policies/flowcontrol/cache.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Linter fixes
  .github/styles/Vocab/FluxNinja/accept.txt
  pkg/dist-cache/provider.go
  pkg/objectstore/persistedentry.go
  pkg/objectstore/persistentdmap.go
  pkg/objectstore/provide.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Add counter panels to rate limiter dashboard
  dashboards/grafana/dashboards/summary/rate-limiter/rows.libsonnet
Owners: @FluxNinja/devops

Add counter panels to rate limiter dashboard (#3064)
  dashboards/grafana/dashboards/summary/rate-limiter/rows.libsonnet
Owners: @FluxNinja/devops

Use official olric
  go.mod
  go.sum
Owners: @FluxNinja/backend

Clean up objectstore config
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstore/config/config.go
  pkg/objectstore/config/zz_generated.deepcopy.go
  pkg/objectstore/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Publish . ./istioconfig-v2.28.0-rc.1.tgz
  index.yaml
  istioconfig-v2.28.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.28.0-rc.1.tgz
  aperture-controller-v2.28.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.28.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.28.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Clean up naming
  cmd/aperture-agent/agent.go
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/persistent-entry.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend, @FluxNinja/devops

Wait for all in-flight object storage operations when shutting down
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

When deleting and putting objects, make sure that the data in object storage is not more recent
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

When no timestamp is found, use Get() time as timestamp
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Better handling of metadata reads
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.28.0.tgz
  index.yaml
  istioconfig-v2.28.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.28.0.tgz
  aperture-agent-v2.28.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.28.0.tgz ./index.yaml
  aperture-controller-v2.28.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Handle TTL expiration in the object storage layer
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Make key prefix and bucket soft-required
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Make object storage optional
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Fix operator tests
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
Owners: @FluxNinja/devops

Runtime fixes
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

More fixes and debug
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Better handling of missing objects and metadata
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

pre-allocate byte array for the object read from storage
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Update Guides (#3060)
  docs/content/code-snippets.json
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/openai/graph.mmd
  docs/content/guides/assets/openai/graph.mmd.md5sum
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/assets/openai/policy.yaml
  docs/content/guides/assets/openai/validate.sh
  docs/content/guides/assets/openai/values1.yaml
  docs/content/guides/assets/openai/values2.yaml
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/openai.md
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update SDK Diagram and add gRPC deadline explanation
  docs/content/guides/api-quota-management.md
  docs/content/guides/openai.md
  docs/content/introduction.md
  docs/content/sdk/assets/sdks-dark.svg
  docs/content/sdk/assets/sdks-light.svg
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

Flow end through logs in case expect end is false
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Update SDK Diagram and add gRPC deadline explanation (#3065)
  docs/content/guides/api-quota-management.md
  docs/content/guides/openai.md
  docs/content/introduction.md
  docs/content/sdk/assets/sdks-dark.svg
  docs/content/sdk/assets/sdks-light.svg
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

Fix typo in cache.md
  docs/content/concepts/cache.md
Owners: @FluxNinja/documentation

Cache Concept Doc (#3052)
  docs/content/concepts/advanced/advanced.md
  docs/content/concepts/cache.md
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

Update buf.lock with new commit and digest values
  api/buf.lock
Owners: @FluxNinja/backend

Update buf.lock with new commit and digest values (#3067)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Extract ObjectStorage to separate file
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Set correct timestamp and ttl on put
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
Owners: @FluxNinja/backend

Add operation duration metrics
  pkg/metrics/schema.go
  pkg/objectstorage/persistent-dmap.go
Owners: @FluxNinja/backend
