Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Split Selector into ServiceSelector and FlowSelector
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/buf.lock
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/selector.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/flowselector.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/selector.libsonnet
  libsonnet/1.0/_gen/v1/serviceselector.libsonnet
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/config/koanf-unmarshaller_test.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point-id.go
  pkg/policies/dataplane/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

trigger ci
  cmd/circuit-compiler/main.go
Owners: @FluxNinja/backend

Rename Buckets to StaticBuckets
  api/aperture/policy/language/v1/fluxmeter.proto
  api/buf.lock
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/fluxmeterstaticbuckets.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

trigger ci
  .circleci/config.yml
  cmd/circuit-compiler/main.go
Owners: @FluxNinja/devops, @FluxNinja/backend

move paths pkg to policies/common (#563)
  .circleci/config.yml
  cmd/circuit-compiler/main.go
  cmd/circuit-generator/main.go
  pkg/config/log.go
  pkg/log/log.go
  pkg/policies/common/common.go
  pkg/policies/common/paths.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/aperturecore

update blueprint
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

update blueprint (#565)
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

Eliminate proto message name conflicts. This should help get rid of scoped object names in libsonnet
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/buf.lock
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/classifier.libsonnet
  libsonnet/1.0/_gen/v1/concurrencylimiter.libsonnet
  libsonnet/1.0/_gen/v1/controlpoint.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiter.libsonnet
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Eliminate proto message name conflicts. This should help get rid of scoped object names in libsonnet (#567)
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/buf.lock
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/classifier.libsonnet
  libsonnet/1.0/_gen/v1/concurrencylimiter.libsonnet
  libsonnet/1.0/_gen/v1/controlpoint.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiter.libsonnet
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

remove redundant custom libsonnet defs
  libsonnet/1.0/custom/circuit.libsonnet
  libsonnet/1.0/custom/constant.libsonnet
  libsonnet/1.0/custom/languagev1concurrencylimiter.libsonnet
  libsonnet/1.0/custom/languagev1ratelimiter.libsonnet
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  libsonnet/1.0/custom/port.libsonnet
  libsonnet/1.0/custom/schedulerworkloadandlabelmatcher.libsonnet
  libsonnet/1.0/main.libsonnet
Owners: @FluxNinja/devops

update reference links
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/policy/circuit.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

Remove custom defs from libsonnet (#568)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/policy/circuit.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/custom/circuit.libsonnet
  libsonnet/1.0/custom/constant.libsonnet
  libsonnet/1.0/custom/languagev1concurrencylimiter.libsonnet
  libsonnet/1.0/custom/languagev1ratelimiter.libsonnet
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  libsonnet/1.0/custom/port.libsonnet
  libsonnet/1.0/custom/schedulerworkloadandlabelmatcher.libsonnet
  libsonnet/1.0/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Set up GitHub Action to sync Issues to Notion
  .github/workflows/issues-notion-sync.yml
Owners: @FluxNinja/devops

Set up GitHub Action to sync Issues to Notion (#569)
  .github/workflows/issues-notion-sync.yml
Owners: @FluxNinja/devops

update playground policy file
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

update playground policy file (#570)
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

Eliminate proto message name conflicts. This should help get rid of scoped object names in libsonnet (#567)
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/classifier.libsonnet
  libsonnet/1.0/_gen/v1/concurrencylimiter.libsonnet
  libsonnet/1.0/_gen/v1/controlpoint.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiter.libsonnet
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Remove custom defs from libsonnet (#568)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/policy/circuit.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/custom/circuit.libsonnet
  libsonnet/1.0/custom/constant.libsonnet
  libsonnet/1.0/custom/languagev1concurrencylimiter.libsonnet
  libsonnet/1.0/custom/languagev1ratelimiter.libsonnet
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
  libsonnet/1.0/custom/port.libsonnet
  libsonnet/1.0/custom/schedulerworkloadandlabelmatcher.libsonnet
  libsonnet/1.0/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Set up GitHub Action to sync Issues to Notion (#569)
  .github/workflows/issues-notion-sync.yml
Owners: @FluxNinja/devops

update playground policy file (#570)
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

Update to reflect custom libsonnet changes
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  libsonnet/1.0/custom/commonselectorv1controlpoint.libsonnet
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

add dir change typo for ctlptl command (#558)
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Update to reflect custom libsonnet changes
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/fluxmeter.libsonnet
  libsonnet/1.0/main.libsonnet
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Update Notion Github Action to point to a more recent version
  .github/workflows/issues-notion-sync.yml
Owners: @FluxNinja/devops

Update Notion Github Action to point to a more recent version (#575)
  .github/workflows/issues-notion-sync.yml
Owners: @FluxNinja/devops

Import policies from aperture-blueprints repository
  .gitignore
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/blueprints/latency-gradient/#README.md#
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/blueprints/latency-gradient/metadata.yaml
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/blueprints/rate-limiter/graph.dot
  blueprints/blueprints/rate-limiter/graph.svg
  blueprints/blueprints/rate-limiter/main.libsonnet
  blueprints/blueprints/rate-limiter/metadata.yaml
  blueprints/dev-requirements.txt
  blueprints/examples/demo1-rate-limit.jsonnet
  blueprints/examples/demoapp-latency-gradient.jsonnet
  blueprints/examples/demoapp-rate-limiter.jsonnet
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  blueprints/lib/1.0/dashboards/latency-gradient.libsonnet
  blueprints/lib/1.0/grafana/aperture.libsonnet
  blueprints/lib/1.0/grafana/panels/timeseries_panel.libsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter.libsonnet
  blueprints/scripts/aperture-generate.py
  blueprints/scripts/blueprint-readme-generator.py
  blueprints/scripts/generate_all.sh
  docs/content/get-started/blueprints.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Adapt playground to use local libsonnet and blueprints
  playground/Tiltfile
  playground/scripts/jb_install.sh
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.json
  playground/tanka/jsonnetfile.lock.json
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

Clean-up of aperture-blueprints mentions
  .circleci/post-release.yaml
  .gitignore
  blueprints/README.md
  blueprints/scripts/aperture-generate.py
  docs/content/get-started/blueprints.md
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Updated blueprint diagrams
  blueprints/blueprints/latency-gradient/#README.md#
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
Owners: @FluxNinja/backend

Import policies from aperture-blueprints repository (#574)
  .circleci/post-release.yaml
  .gitignore
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/blueprints/latency-gradient/metadata.yaml
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/blueprints/rate-limiter/graph.dot
  blueprints/blueprints/rate-limiter/graph.svg
  blueprints/blueprints/rate-limiter/main.libsonnet
  blueprints/blueprints/rate-limiter/metadata.yaml
  blueprints/dev-requirements.txt
  blueprints/examples/demo1-rate-limit.jsonnet
  blueprints/examples/demoapp-latency-gradient.jsonnet
  blueprints/examples/demoapp-rate-limiter.jsonnet
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  blueprints/lib/1.0/dashboards/latency-gradient.libsonnet
  blueprints/lib/1.0/grafana/aperture.libsonnet
  blueprints/lib/1.0/grafana/panels/timeseries_panel.libsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter.libsonnet
  blueprints/scripts/aperture-generate.py
  blueprints/scripts/blueprint-readme-generator.py
  blueprints/scripts/generate_all.sh
  docs/content/get-started/blueprints.md
  playground/Tiltfile
  playground/scripts/jb_install.sh
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.json
  playground/tanka/jsonnetfile.lock.json
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Enable access to agent's controllerID
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.gw.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Owners: @FluxNinja/backend

Clean up
  libsonnet/1.0/custom/commonselectorv1controlpoint.libsonnet
  libsonnet/1.0/main.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Split Decider component into Decider and Switcher
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  libsonnet/1.0/_gen/v1/component.libsonnet
  libsonnet/1.0/_gen/v1/decider.libsonnet
  libsonnet/1.0/_gen/v1/deciderins.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/switcher.libsonnet
  libsonnet/1.0/_gen/v1/switcherins.libsonnet
  libsonnet/1.0/_gen/v1/switcherouts.libsonnet
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Split Selector into ServiceSelector and FlowSelector
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/selector.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/flowselector.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/selector.libsonnet
  libsonnet/1.0/_gen/v1/serviceselector.libsonnet
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/config/koanf-unmarshaller_test.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point-id.go
  pkg/policies/dataplane/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Set other buckets in mixins
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Update blueprints for Decider and Selector changes
  blueprints/README.md
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/graph.dot
  blueprints/blueprints/latency-gradient/graph.svg
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/blueprints/rate-limiter/graph.dot
  blueprints/blueprints/rate-limiter/graph.svg
  blueprints/examples/demo1-rate-limit.jsonnet
  blueprints/examples/demoapp-latency-gradient.jsonnet
  blueprints/examples/demoapp-rate-limiter.jsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

Split Decider component into Decider and Switcher
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  libsonnet/1.0/_gen/v1/component.libsonnet
  libsonnet/1.0/_gen/v1/decider.libsonnet
  libsonnet/1.0/_gen/v1/deciderins.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/switcher.libsonnet
  libsonnet/1.0/_gen/v1/switcherins.libsonnet
  libsonnet/1.0/_gen/v1/switcherouts.libsonnet
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Split Selector into ServiceSelector and FlowSelector
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/selector.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/flowselector.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/selector.libsonnet
  libsonnet/1.0/_gen/v1/serviceselector.libsonnet
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/config/koanf-unmarshaller_test.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/selectors/control-point-id.go
  pkg/policies/dataplane/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Update blueprints
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/examples/demoapp-latency-gradient.jsonnet
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

Refresh api buf
  api/buf.lock
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
