Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Make sure all newEnv calls are updated
  go.mod
  go.sum
  pkg/dist-cache/dist-cache.go
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Fix delete timestamp check
  pkg/objectstorage/object-storage.go
Owners: @FluxNinja/backend

Do not fail on not enabled object storage
  pkg/dist-cache/dist-cache.go
Owners: @FluxNinja/backend

Fix linter
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/controllers/agent/configmaps_test.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Implement missing methods in peristent entry
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-entry.go
Owners: @FluxNinja/backend

Update SDKs section in sdk.md
  docs/content/sdk/sdk.md
Owners: @FluxNinja/documentation

Update SDKs section in sdk.md (#3068)
  docs/content/sdk/sdk.md
Owners: @FluxNinja/documentation

Update flowcontrol.proto, flowcontrol.pb.go, aperture-controller.swagger.yaml, and aperture.swagger.yaml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Add expectEnd flag to ApertureClient request
  sdks/aperture-js/sdk/client.ts
Owners: @FluxNinja/backend

Update FlowEnd support in end
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Update flow.end() response handling in example
  sdks/aperture-js/example/routes/use_aperture.ts
Owners: @FluxNinja/backend

Fix concurrency scheduler issue
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Refactor forEach loop in _Flow class
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Refactor flow start and end logic
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Add logging statements for limiter creation and finished creation Add logging statements for timeout and workload timeout
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add FlowEnd support in SDKs (#3069)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Make channel size configurable
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/config_test.tpl
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Move bucket init to Start()
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Notify about disabled object storage once
  pkg/dist-cache/dist-cache.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Merge Provide and Invoke
  cmd/aperture-agent/agent.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Import fix
  cmd/aperture-agent/agent.go
Owners: @FluxNinja/backend

Add agent group to the object name prefix
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Add timeout and backoff retry to object storage operations
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Rename config structs
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Add FlowEnd call in the go SDK
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Add FlowEnd call in the java SDK
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/EndResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
Owners: @FluxNinja/backend

Add FlowEnd call in the python SDK
  playground/Tiltfile
  playground/tanka/apps/aperture-python-example/main.jsonnet
  playground/tanka/apps/aperture-python-example/mixins.libsonnet
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.EndResponse.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/devops, @FluxNinja/backend

Make vale happy
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/config/duration.go
  pkg/config/timestamp.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Add FlowEnd call in the csharp SDK
  playground/Tiltfile
  playground/tanka/apps/aperture-csharp-example/main.jsonnet
  playground/tanka/apps/aperture-csharp-example/mixins.libsonnet
  sdks/aperture-csharp/.gitignore
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowEndResponse.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Add cache support in the csharp SDK
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/Cache.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Examples/Program.cs
Owners: @FluxNinja/backend

Fix bucket name and stuff
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add object storage persistence to dist-cache (#3057)
  .github/styles/Vocab/FluxNinja/accept.txt
  cmd/aperture-agent/agent.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  go.mod
  go.sum
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  pkg/config/duration.go
  pkg/config/timestamp.go
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/metrics/schema.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/persistent-entry.go
  pkg/objectstorage/provide.go
  pkg/policies/flowcontrol/cache.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Fixes in csharp caching
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Examples/Program.cs
Owners: @FluxNinja/backend

checkpoint with new concurrency limiter blueprint
  blueprints/concurrency-limiting/base/README.md
  blueprints/concurrency-limiting/base/bundle.libsonnet
  blueprints/concurrency-limiting/base/concurrency-limiting.libsonnet
  blueprints/concurrency-limiting/base/config.libsonnet
  blueprints/concurrency-limiting/base/gen/definitions.json
  blueprints/concurrency-limiting/base/gen/dynamic-config-definitions.json
  blueprints/concurrency-limiting/base/gen/dynamic-config-values.yaml
  blueprints/concurrency-limiting/base/gen/values.yaml
  blueprints/concurrency-limiting/base/metadata.yaml
  blueprints/concurrency-limiting/base/policy.libsonnet
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/concurrency-limiting.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/cpu-overload-protection-k8s.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/java-gc-generic.md
  docs/content/reference/blueprints/load-scheduling/java-gc-k8s.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  playground/scenarios/concurreny-limiter/load-generator/test.js
  playground/scenarios/concurreny-limiter/metadata.json
  playground/scenarios/concurreny-limiter/policies/concurrency-limiting-cr.yaml
  playground/scenarios/concurreny-limiter/policies/concurrency-limiting.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

Use tagged Olric version
  go.mod
  go.sum
Owners: @FluxNinja/backend

checkpoint with concurrency limiter dashboard
  dashboards/grafana/dashboards/summary/concurrency-limiter/rows.libsonnet
  dashboards/grafana/dashboards/summary/panel-library.libsonnet
  playground/scenarios/concurreny-limiter/load-generator/test.js
Owners: @FluxNinja/devops

Use tagged Olric version (#3071)
  go.mod
  go.sum
Owners: @FluxNinja/backend

Fixes for expect_end and inflightRequestRef
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequestBuilder.java
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Add nil check in java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
Owners: @FluxNinja/backend

Java fixes
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
Owners: @FluxNinja/backend
