Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

revamp get started section (#2974)
  docs/content/aperture-for-infra/k8s-objects.md
  docs/content/get-started/assets/rate_limiter_blueprint.png
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/reference/cloud-ui/policies/assets/1-create-policy.png
  docs/content/reference/cloud-ui/policies/assets/2-use-case-select.png
  docs/content/reference/cloud-ui/policies/assets/3-choose-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/4-customize-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/5-review-policy.png
  docs/content/reference/cloud-ui/policies/assets/6-policy-applied.png
  docs/content/reference/cloud-ui/policies/policy-creation.md
Owners: @FluxNinja/documentation

grpc call options
  cmd/aperturectl/cmd/globalcache/delete.go
  cmd/aperturectl/cmd/globalcache/get.go
  cmd/aperturectl/cmd/globalcache/root.go
  cmd/aperturectl/cmd/globalcache/set.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

eliminate goto statement
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/aperturecore

Fix pre-commit
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Owners: @FluxNinja/backend

State cache to global cache
  cmd/aperturectl/cmd/cloud/globalcache/delete.go
  cmd/aperturectl/cmd/cloud/globalcache/get.go
  cmd/aperturectl/cmd/cloud/globalcache/root.go
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/root.go
  cmd/aperturectl/cmd/cloud/root.go
  docs/content/reference/aperture-cli/aperturectl/cloud/cloud.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/global-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/result-cache.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Add aperturectl cloud cache sub-commands (#2978)
  cmd/aperturectl/cmd/cloud/globalcache/delete.go
  cmd/aperturectl/cmd/cloud/globalcache/get.go
  cmd/aperturectl/cmd/cloud/globalcache/root.go
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/delete.go
  cmd/aperturectl/cmd/cloud/resultcache/get.go
  cmd/aperturectl/cmd/cloud/resultcache/root.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/cloud/root.go
  docs/content/reference/aperture-cli/aperturectl/cloud/cloud.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/global-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/result-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Make python sdk throw less exceptions
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Update python SDK cache support and exception handling (#2979)
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Python SDK: add flow params to example and update docs
  docs/content/sdk/python/manual.md
  sdks/aperture-py/aperture_sdk/__init__.py
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

Publish . ./istioconfig-v2.25.1-rc.1.tgz
  index.yaml
  istioconfig-v2.25.1-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.25.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.25.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.25.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.25.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add python code snippets to docs
  docs/content/code-snippets.json
  docs/content/sdk/python/manual.md
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

Publish . ./istioconfig-v2.25.1.tgz
  index.yaml
  istioconfig-v2.25.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.25.1.tgz
  aperture-controller-v2.25.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.25.1.tgz ./index.yaml
  aperture-agent-v2.25.1.tgz
  index.yaml
Owners: @FluxNinja/backend

[ImgBot] Optimize images
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.svg
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/reference/cloud-ui/assets/api-keys.gif
  docs/content/reference/cloud-ui/assets/api-keys/api-keys-tab.png
  docs/content/reference/cloud-ui/assets/api-keys/create-api-key.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/new-personal-access-token.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/personal-access-token-tab.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/settings.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/create-project.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/policies/assets/2-use-case-select.png
  docs/content/reference/cloud-ui/policies/assets/3-choose-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/4-customize-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/5-review-policy.png
  docs/content/reference/cloud-ui/policies/assets/6-policy-applied.png
Owners: @FluxNinja/documentation

Use same version as other deprecations
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Use same version as other deprecations (#2983)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

aperture-js: add grpc call options
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

aperture-js: add grpc call options
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

aperture-js add grpc call options (#2984)
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

aperture-js: fix cache upsert
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

aperture-js: fix cache upsert (#2985)
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

aperture-js: bump version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

aperture-js: bump version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

Aperture js version bump (#2986)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

Python SDK: include global cache keys in check request
  sdks/aperture-py/aperture_sdk/client.py
Owners: @FluxNinja/backend

rework serverless image
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
Owners: @FluxNinja/documentation

Rework Serverless Image (#2987)
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
Owners: @FluxNinja/documentation

Update images with minor improvement
  docs/content/assets/img/unified-load-management-dark.svg
  docs/content/assets/img/unified-load-management-light.svg
Owners: @FluxNinja/documentation

Python SDK: Use LookupStatus.MISS instead of CacheLookupStatus.MISS
  .gitignore
  sdks/aperture-py/aperture_sdk/cache.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

add python caching example
  docs/content/code-snippets.json
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

Python SDK: Fix setting cache ttl on upsert
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

update code and increase ttl to 10 seconds in example
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/backend

Upgrade OTEL to v0.90.0
  cmd/aperturectl/cmd/utils/autoscale.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  go.mod
  go.sum
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/key.go
Owners: @FluxNinja/backend

Upgrade OTEL to v0.90.0 (#2989)
  cmd/aperturectl/cmd/utils/autoscale.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  go.mod
  go.sum
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/key.go
Owners: @FluxNinja/backend

update code snippets
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/get-started/get-started.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/example/main.go
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

Python SDK: clear top-level __init__.py file
  sdks/aperture-py/aperture_sdk/__init__.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

Python SDK: clear top-level __init__.py file (#2992)
  sdks/aperture-py/aperture_sdk/__init__.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
