Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Create CODE_OF_CONDUCT.md (#152)
  CODE_OF_CONDUCT.md
  README.md
Owners: @FluxNinja/backend

Add join Slack badge
  README.md
Owners: @FluxNinja/backend

Add join Slack badge (#154)
  README.md
Owners: @FluxNinja/backend

Fixed CircleCi Config
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fixed CircleCi failures
  .circleci/continue-workflows.yml
  .tool-versions
  tools/githooks/check_tanka_show.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

Capture FlowLabelKeys
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  go.mod
  go.sum
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/engine.go
Owners: @FluxNinja/backend

Capture FlowLabelKeys (#146)
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  go.mod
  go.sum
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/engine.go
Owners: @FluxNinja/backend

Fixed CircleCi Config
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fixed CircleCi failures
  .circleci/continue-workflows.yml
  .tool-versions
  tools/githooks/check_tanka_show.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

Add status code to fluxmeter metrics
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
Owners: @FluxNinja/backend

Register Fluxmeter as HistogramVec
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/backend

Add docs for static discovery
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/discovery/config-operations.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix tests
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/                                       @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops
