Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Publish . ./aperture-controller-v2.27.1.tgz ./index.yaml
  aperture-controller-v2.27.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Fix calendly link
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Fix calendly link (#3048)
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Fix website product link
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Fix website product link (#3049)
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

add mermaid and explanation to openai guide
  docs/content/guides/assets/openai/graph.mmd
  docs/content/guides/assets/openai/graph.mmd.md5sum
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/openai.md
Owners: @FluxNinja/documentation

Add mermaid and explanation to openai guide (#3050)
  docs/content/guides/assets/openai/graph.mmd
  docs/content/guides/assets/openai/graph.mmd.md5sum
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/openai.md
Owners: @FluxNinja/documentation

Fix pre-commit
  api/buf.lock
Owners: @FluxNinja/backend

Fix pre-commit (#3051)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Update Cache documentation in concepts/cache.md
  docs/content/concepts/cache.md
Owners: @FluxNinja/documentation

Refactor cache-related operations in Flow object
  docs/content/concepts/cache.md
Owners: @FluxNinja/documentation

Add partition len metrics to Olric
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

Fix comments
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

Add partition length metrics to Olric (#3053)
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

add snippets for ui docs
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

add snippets for ui docs (#3055)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update SDK Docs
  docs/content/code-snippets.json
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/go.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/java.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/javascript.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
  docs/content/sdk/python/python.md
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/ui_snippets.ts
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

fix vale issues
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

sdks: check shouldRun for get cache
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

lint fixes
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

sdks check should run (#3054)
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Add Global Cache functionality to the documentation
  docs/content/concepts/cache.md
Owners: @FluxNinja/documentation

Add object storage persistence to dist-cache
  cmd/aperture-agent/agent.go
  go.mod
  go.sum
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/objectstore/persistedentry.go
  pkg/objectstore/persistentdmap.go
  pkg/objectstore/provide.go
Owners: @FluxNinja/backend

When creating new DMap, make it persistent
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/objectstore/persistedentry.go
  pkg/objectstore/persistentdmap.go
  pkg/objectstore/provide.go
Owners: @FluxNinja/backend

improve text
  docs/content/code-snippets.json
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

update buf api
  api/buf.lock
Owners: @FluxNinja/backend

fix typo
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

Update SDK Docs (#3056)
  api/buf.lock
  docs/content/code-snippets.json
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/go.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/java.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/javascript.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
  docs/content/sdk/python/python.md
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/ui_snippets.ts
  sdks/aperture-py/example/manual_flow.py
Owners: @FluxNinja/backend, @FluxNinja/documentation

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Update UI Code Snippets
  api/buf.lock
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/backend

Update UI Code Snippets (#3058)
  api/buf.lock
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

update generate snippets
  docs/content/code-snippets.json
Owners: @FluxNinja/documentation

update generate snippets (#3059)
  docs/content/code-snippets.json
Owners: @FluxNinja/documentation

Update Guides
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/openai/graph.mmd
  docs/content/guides/assets/openai/graph.mmd.md5sum
  docs/content/guides/assets/openai/graph.mmd.svg
  docs/content/guides/assets/openai/policy.yaml
  docs/content/guides/assets/openai/validate.sh
  docs/content/guides/assets/openai/values1.yaml
  docs/content/guides/assets/openai/values2.yaml
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/openai.md
Owners: @FluxNinja/documentation

updates
  docs/content/code-snippets.json
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add release jobs for updates on production-saas cluster
  .circleci/config.yml
Owners: @FluxNinja/devops

Add release jobs for updates on production-saas cluster (#3061)
  .circleci/config.yml
Owners: @FluxNinja/devops

Enable Olric read repair
  go.mod
  go.sum
  pkg/dist-cache/provider.go
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
