Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

revamp docs
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/reference/cloud-ui/policies/assets/2-create-policy.png
  docs/content/reference/cloud-ui/policies/assets/3-use-case-selection.png
  docs/content/reference/cloud-ui/policies/assets/4-choose-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/5-customize-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/7-review-the-draft.png
  docs/content/reference/cloud-ui/policies/assets/8-policy-applied.png
  docs/content/reference/cloud-ui/policies/policies.md
Owners: @FluxNinja/documentation

Update exclude patterns in .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @FluxNinja/backend

Add generate-aperturejs-docs pre-commit hook
  .pre-commit-config.yaml
  docs/content/sdk/javascript/manual.md
  scripts/precommit/generate_aperturejs_docs.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation

Add npm install command to generate_aperturejs_docs.sh script
  scripts/precommit/generate_aperturejs_docs.sh
Owners: @FluxNinja/backend

Exclude additional files and directories from Prettier formatting
  .pre-commit-config.yaml
Owners: @FluxNinja/backend

Exclude unnecessary files and format README.md
  .pre-commit-config.yaml
  sdks/aperture-js/scripts/docs_to_readme.sh
  sdks/aperture-js/tsconfig.json
Owners: @FluxNinja/backend

Fix TypeScript configuration and update documentation
  sdks/aperture-js/README.md
  sdks/aperture-js/docs/.nojekyll
  sdks/aperture-js/docs/README.md
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/docs/classes/CachedValueResponse.md
  sdks/aperture-js/docs/classes/DeleteCachedValueResponse.md
  sdks/aperture-js/docs/classes/Flow.md
  sdks/aperture-js/docs/classes/SetCachedValueResponse.md
  sdks/aperture-js/docs/enums/LookupStatus.md
  sdks/aperture-js/docs/enums/OperationStatus.md
  sdks/aperture-js/docs/interfaces/FlowParams.md
  sdks/aperture-js/tsconfig.json
Owners: @FluxNinja/backend

Update library version to 2.3.4
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

Update version to 2.3.5 in package-lock.json, package.json, and consts.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

Add aperture-js docs (#2961)
  .pre-commit-config.yaml
  docs/content/sdk/javascript/manual.md
  scripts/precommit/generate_aperturejs_docs.sh
  sdks/aperture-js/README.md
  sdks/aperture-js/docs/README.md
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/docs/classes/CachedValueResponse.md
  sdks/aperture-js/docs/classes/DeleteCachedValueResponse.md
  sdks/aperture-js/docs/classes/Flow.md
  sdks/aperture-js/docs/classes/SetCachedValueResponse.md
  sdks/aperture-js/docs/enums/LookupStatus.md
  sdks/aperture-js/docs/enums/OperationStatus.md
  sdks/aperture-js/docs/interfaces/FlowParams.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/scripts/docs_to_readme.sh
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/tsconfig.json
Owners: @FluxNinja/backend, @FluxNinja/documentation

update ui screenshots
  docs/content/get-started/policies/assets/1-create-policy.png
  docs/content/get-started/policies/assets/2-create-policy.png
  docs/content/get-started/policies/assets/2-use-case-select.png
  docs/content/get-started/policies/assets/3-choose-blueprint.png
  docs/content/get-started/policies/assets/3-use-case-selection.png
  docs/content/get-started/policies/assets/4-choose-blueprint.png
  docs/content/get-started/policies/assets/4-customize-blueprint.png
  docs/content/get-started/policies/assets/5-customize-blueprint.png
  docs/content/get-started/policies/assets/5-review-policy.png
  docs/content/get-started/policies/assets/6-policy-applied.png
  docs/content/get-started/policies/assets/7-review-the-draft.png
  docs/content/get-started/policies/assets/8-policy-applied.png
  docs/content/get-started/policies/policies.md
  docs/content/reference/cloud-ui/api-keys.md
  docs/content/reference/cloud-ui/assets/api-keys/api-keys-tab.png
  docs/content/reference/cloud-ui/assets/api-keys/create-api-key.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/new-personal-access-token.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/personal-access-token-tab.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/settings.png
  docs/content/reference/cloud-ui/assets/sign-up/console-view.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/create-project.png
  docs/content/reference/cloud-ui/assets/sign-up/create-usergroup.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/install-aperture.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/project-name.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/assets/sign-up/usergroups.png
  docs/content/reference/cloud-ui/personal-access-tokens.md
  docs/content/reference/cloud-ui/sign-up.md
Owners: @FluxNinja/documentation

fix minor issue
  docs/content/get-started/policies/policies.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
Owners: @FluxNinja/documentation

update ui screenshots (#2962)
  docs/content/get-started/policies/assets/1-create-policy.png
  docs/content/get-started/policies/assets/2-create-policy.png
  docs/content/get-started/policies/assets/2-use-case-select.png
  docs/content/get-started/policies/assets/3-choose-blueprint.png
  docs/content/get-started/policies/assets/3-use-case-selection.png
  docs/content/get-started/policies/assets/4-choose-blueprint.png
  docs/content/get-started/policies/assets/4-customize-blueprint.png
  docs/content/get-started/policies/assets/5-customize-blueprint.png
  docs/content/get-started/policies/assets/5-review-policy.png
  docs/content/get-started/policies/assets/6-policy-applied.png
  docs/content/get-started/policies/assets/7-review-the-draft.png
  docs/content/get-started/policies/assets/8-policy-applied.png
  docs/content/get-started/policies/policies.md
  docs/content/reference/cloud-ui/api-keys.md
  docs/content/reference/cloud-ui/assets/api-keys/api-keys-tab.png
  docs/content/reference/cloud-ui/assets/api-keys/create-api-key.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/new-personal-access-token.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/personal-access-token-tab.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/settings.png
  docs/content/reference/cloud-ui/assets/sign-up/console-view.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/create-project.png
  docs/content/reference/cloud-ui/assets/sign-up/create-usergroup.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/install-aperture.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/project-name.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/assets/sign-up/usergroups.png
  docs/content/reference/cloud-ui/personal-access-tokens.md
  docs/content/reference/cloud-ui/sign-up.md
Owners: @FluxNinja/documentation

Add GH workflows to release SDKs on aperture release
  .circleci/config.yml
  .circleci/continue-workflows.yml
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Publish . ./aperture-agent-v2.24.1-rc.1.tgz
  aperture-agent-v2.24.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.24.1-rc.1.tgz
  aperture-controller-v2.24.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.24.1-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.24.1-rc.1.tgz
Owners: @FluxNinja/backend

Fixes and suggestions
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.24.1.tgz
  index.yaml
  istioconfig-v2.24.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.24.1.tgz ./index.yaml
  aperture-agent-v2.24.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.24.1.tgz ./index.yaml
  aperture-controller-v2.24.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Support for nested snippets. Scrub START and END comments from snippets
  docs/content/code-snippets.json
  docs/content/get-started/define-control-points.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-go/example/main.go
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

Fix API usage
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend

Vale errors
  docs/content/concepts/advanced/auto-scale.md
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/advanced/flux-meter.md
  docs/content/concepts/advanced/policy.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/selector.md
Owners: @FluxNinja/documentation

addressing comments
  docs/content/concepts/advanced/auto-scale.md
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add GH workflows to release SDKs on aperture release (#2963)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Fix SDK version preparation
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

vale suggestions
  docs/content/aperture-for-infra/agent/agent.md
  docs/content/aperture-for-infra/agent/bare-metal.md
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/operator.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/aperture-for-infra/controller/kubernetes/kubernetes.md
  docs/content/aperture-for-infra/k8s-objects.md
  docs/content/concepts/advanced/auto-scale.md
  docs/content/concepts/advanced/circuit.md
  docs/content/concepts/advanced/classifier.md
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/advanced/flux-meter.md
  docs/content/concepts/advanced/policy.md
  docs/content/concepts/advanced/service.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/rate-limiter.md
  docs/content/get-started/define-control-points.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
Owners: @FluxNinja/documentation

vale suggestions
  docs/content/aperture-for-infra/guides/service-load-management/service-load-management.md
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/selector.md
Owners: @FluxNinja/documentation

Fix SDK version preparation (#2966)
  docs/content/aperture-for-infra/agent/agent.md
  docs/content/aperture-for-infra/agent/bare-metal.md
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/operator.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/aperture-for-infra/controller/kubernetes/kubernetes.md
  docs/content/aperture-for-infra/guides/service-load-management/service-load-management.md
  docs/content/aperture-for-infra/k8s-objects.md
  docs/content/concepts/advanced/auto-scale.md
  docs/content/concepts/advanced/circuit.md
  docs/content/concepts/advanced/classifier.md
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/advanced/flux-meter.md
  docs/content/concepts/advanced/policy.md
  docs/content/concepts/advanced/service.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/selector.md
  docs/content/get-started/define-control-points.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add GH_TOKEN for gh cli to work
  .circleci/config.yml
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Add GH_TOKEN for gh cli to work (#2967)
  .circleci/config.yml
  sdks/aperture-go/.github/workflows/create_release.yaml
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Add cache attributes to OLAP telemetry
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Owners: @FluxNinja/backend

Add cache attributes to OLAP telemetry (#2968)
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Owners: @FluxNinja/backend

precommit fix
  docs/content/concepts/advanced/dynamic-configuration.md
Owners: @FluxNinja/documentation

Code snippets from examples (#2964)
  Makefile
  docs/Makefile
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/get-started/define-control-points.md
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/caching.md
  docs/content/guides/per-user-rate-limiting.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-go/example/main.go
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Add missing files
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/policies/flowcontrol/iface/cache-type-string.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheEntry.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheEntryOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/KeyDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/KeyDeleteResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/KeyLookupResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/KeyLookupResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/KeyUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/KeyUpsertResponseOrBuilder.java
  sdks/aperture-js/docs/enums/FlowStatus.md
  sdks/aperture-js/docs/interfaces/CacheEntry.md
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/docs/interfaces/KeyDeleteResponse.md
  sdks/aperture-js/docs/interfaces/KeyLookupResponse.md
  sdks/aperture-js/docs/interfaces/KeyUpsertResponse.md
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

remove empty doc
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

update get started
  docs/content/get-started/define-control-points.md
Owners: @FluxNinja/documentation

remove empty and update get started docs (#2970)
  docs/content/get-started/define-control-points.md
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
