Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Enable access to agent's controllerID (#576)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.gw.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  docs/gen/policies/gen.yaml
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Owners: @FluxNinja/backend

rename WorkloadAndLabelMatcher to Workload (#580)
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/gen.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/scheduler.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadandlabelmatcher.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadparameters.libsonnet
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore, @FluxNinja/devops

checkpoint
  pkg/config/fxlogger.go
  pkg/config/log.go
  pkg/k8s/provide.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/metrics/metrics.go
  pkg/status/registry.go
Owners: @FluxNinja/backend

fix test
  pkg/log/log.go
Owners: @FluxNinja/backend

add contextual loggers, refactor sampled loggers
  pkg/config/fxlogger.go
  pkg/config/log.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/log/log.go
  pkg/metrics/metrics.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/status/registry.go
  tools/demo_app/app/app.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

fix test
  pkg/status/status_test.go
Owners: @FluxNinja/backend

fix provide issue
  pkg/flowcontrol/envoy/authz_test.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/status_test.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Owners: @FluxNinja/aperturecore, @FluxNinja/backend

fix issue with diode shutdown
  cmd/circuit-compiler/main.go
  pkg/config/log.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/otelcollector/otelcollector.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

fix issue with diode shutdown
  pkg/config/log.go
Owners: @FluxNinja/backend

Refactor logging (#581)
  cmd/circuit-compiler/main.go
  pkg/config/fxlogger.go
  pkg/config/log.go
  pkg/distcache/logwriter.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/k8s/provide.go
  pkg/log/adapter.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/metrics/metrics.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/otelcollector.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/status_test.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
  tools/demo_app/app/app.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Doc minor updates (#555)
  .prettierrc
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/blueprints/rate-limiter/README.md
  docs/Makefile
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/service.md
  docs/content/introduction.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

fix pre-commit issue
  README.md
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/libsonnet/README.md
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

fix pre-commit issue (#586)
  README.md
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/libsonnet/README.md
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Add fluxmeter documentations
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

Add validation value to proto spec
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

FluxMeter documentations (#587)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

Enable access to agent's controllerID (#576)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.gw.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  docs/gen/policies/gen.yaml
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Owners: @FluxNinja/backend

rename WorkloadAndLabelMatcher to Workload (#580)
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/gen.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/scheduler.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkload.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadandlabelmatcher.libsonnet
  blueprints/libsonnet/1.0/_gen/v1/schedulerworkloadparameters.libsonnet
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore, @FluxNinja/devops

Refactor logging (#581)
  cmd/circuit-compiler/main.go
  pkg/config/fxlogger.go
  pkg/config/log.go
  pkg/distcache/logwriter.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/k8s/provide.go
  pkg/log/adapter.go
  pkg/log/log.go
  pkg/log/zap-adapter.go
  pkg/metrics/metrics.go
  pkg/notifiers/fx-driver.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/otelcollector.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/status_test.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
  tools/demo_app/app/app.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Doc minor updates (#555)
  .prettierrc
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/blueprints/rate-limiter/README.md
  docs/Makefile
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/service.md
  docs/content/introduction.md
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

fix pre-commit issue (#586)
  README.md
  blueprints/CONTRIBUTING.md
  blueprints/README.md
  blueprints/libsonnet/README.md
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

FluxMeter documentations (#587)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

FluxMeter doc update
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

FluxMeter doc update (#588)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

FluxMeter doc update (#588)
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

helm chart version change to v0.3.0-rc.2
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

helm chart version change to v0.3.0-rc.2 (#590)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

helm chart version change to v0.3.0-rc.2 (#590)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Publish . ./aperture-controller-v0.3.0-rc.2.tgz
  aperture-controller-v0.3.0-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v0.3.0-rc.2.tgz
  aperture-agent-v0.3.0-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v0.3.0-rc.2.tgz
  index.yaml
  istioconfig-v0.3.0-rc.2.tgz
Owners: @FluxNinja/backend

Upgraded Helm charts versions to 0.3.0
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Upgraded Helm charts versions to 0.3.0 (#592)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Fixed pre-commit
  .circleci/post-release.yaml
Owners: @FluxNinja/devops

Removed Ci pipeline to tag the aperture-go repo
  .circleci/post-release.yaml
Owners: @FluxNinja/devops

Removed Ci pipeline to tag the aperture-go repo (#591)
  .circleci/post-release.yaml
Owners: @FluxNinja/devops

Upgraded Helm charts versions to 0.3.0 (#592)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Removed Ci pipeline to tag the aperture-go repo (#591)
  .circleci/post-release.yaml
Owners: @FluxNinja/devops

Allow construction of OTEL collector outside of k8s environment
  pkg/k8s/provide.go
  pkg/otel/config.go
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v0.3.0.tgz
  aperture-agent-v0.3.0.tgz
  index.yaml
Owners: @FluxNinja/backend
