Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Add cache support to python SDK
  sdks/aperture-py/aperture_sdk/cache.py
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Add cache support to python SDK (#2965)
  sdks/aperture-py/aperture_sdk/cache.py
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

CacheLookup rpc on Agent that does not invoke flowcontrol engine. Refactor Agent Caching code and wire proto for modularity.
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_grpc.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/cache.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheLookupRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheLookupResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowControlService.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.py
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Result cache commands in aperturectl
  api/aperture/cmd/v1/cmd.proto
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.validate.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_vtproto.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_grpc.pb.go
  cmd/aperture-controller/controller.go
  cmd/aperturectl/cmd/result-cache/delete.go
  cmd/aperturectl/cmd/result-cache/get.go
  cmd/aperturectl/cmd/result-cache/root.go
  cmd/aperturectl/cmd/result-cache/set.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/agent-functions/cache.go
  pkg/agent-functions/provide.go
  pkg/cmd/agents/agents.go
  pkg/cmd/controller.go
  pkg/etcd/transport/server.go
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.py
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fixes
  cmd/aperturectl/cmd/result-cache/get.go
  cmd/aperturectl/cmd/result-cache/root.go
  cmd/aperturectl/cmd/resultcache/delete.go
  cmd/aperturectl/cmd/resultcache/get.go
  cmd/aperturectl/cmd/resultcache/root.go
  cmd/aperturectl/cmd/resultcache/set.go
  cmd/aperturectl/cmd/root.go
  docs/content/reference/aperture-cli/aperturectl/aperturectl.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/result-cache.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/set/set.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fixes
  pkg/agent-functions/cache.go
Owners: @FluxNinja/backend

Fixes
  cmd/aperturectl/cmd/resultcache/delete.go
  cmd/aperturectl/cmd/resultcache/get.go
  cmd/aperturectl/cmd/resultcache/set.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  docs/content/reference/aperture-cli/aperturectl/result-cache/set/set.md
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

aperture-js import minor fix
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Fix validator in label matcher operator
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

add code snippets comments
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/backend

Do not panic on wrong matcher operator
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/aperturecore

Fix matcher operator validation
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Fix validator in label matcher operator (#2972)
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

update link and add multiple lang
  docs/content/aperture-for-infra/k8s-objects.md
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

add language specific flow initiate
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

State cache CLI and several fixes
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/k8slabelmatcherrequirement.libsonnet
  blueprints/gen/v1/labelmatcher.libsonnet
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/statecache/delete.go
  cmd/aperturectl/cmd/statecache/get.go
  cmd/aperturectl/cmd/statecache/root.go
  cmd/aperturectl/cmd/statecache/set.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperture-cli/aperturectl/aperturectl.md
  docs/content/reference/aperture-cli/aperturectl/state-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/state-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/state-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/state-cache/state-cache.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Improve example
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend

Improve example
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/backend

Checkpointing py sdk
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/cache.py
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

Docs update
  sdks/aperture-js/docs/interfaces/KeyDeleteResponse.md
  sdks/aperture-js/docs/interfaces/KeyUpsertResponse.md
  sdks/aperture-js/sdk/cache.ts
Owners: @FluxNinja/backend

Fixes
  cmd/aperturectl/cmd/resultcache/set.go
  cmd/aperturectl/cmd/statecache/set.go
Owners: @FluxNinja/backend

Fix field name for alerter in blueprints
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.svg
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

Fix field name for alerter in blueprints (#2975)
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.md5sum
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.svg
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

Publish . ./istioconfig-v2.25.0-rc.1.tgz
  index.yaml
  istioconfig-v2.25.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.25.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.25.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.25.0-rc.1.tgz ./index.yaml
  aperture-controller-v2.25.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.25.0.tgz
  index.yaml
  istioconfig-v2.25.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.25.0.tgz
  aperture-controller-v2.25.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.25.0.tgz ./index.yaml
  aperture-agent-v2.25.0.tgz
  index.yaml
Owners: @FluxNinja/backend

SDK CI allow empty commit when version is updated via aperture
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

SDK CI allow empty commit when version is updated via aperture (#2976)
  sdks/aperture-java/.github/workflows/create_release.yaml
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

JS SDK create version using the latest tag
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

JS SDK create version using the latest tag (#2977)
  sdks/aperture-js/.github/workflows/create_release.yaml
  sdks/aperture-py/.github/workflows/create_release.yaml
Owners: @FluxNinja/backend

remove space
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

Add aperturectl cloud cache sub-commands
  cmd/aperturectl/cmd/cloud/resultcache/delete.go
  cmd/aperturectl/cmd/cloud/resultcache/get.go
  cmd/aperturectl/cmd/cloud/resultcache/root.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/cloud/root.go
  cmd/aperturectl/cmd/cloud/statecache/delete.go
  cmd/aperturectl/cmd/cloud/statecache/get.go
  cmd/aperturectl/cmd/cloud/statecache/root.go
  cmd/aperturectl/cmd/cloud/statecache/set.go
  docs/content/reference/aperture-cli/aperturectl/cloud/cloud.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/result-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/state-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/state-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/state-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/state-cache/state-cache.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Rework Get Started and Create Policy Page
  docs/content/get-started/assets/rate_limiter_blueprint.png
  docs/content/get-started/get-started.md
  docs/content/reference/cloud-ui/policies/policy-creation.md
Owners: @FluxNinja/documentation

fix broken links
  docs/content/aperture-for-infra/k8s-objects.md
Owners: @FluxNinja/documentation

Set control point within the cache lookup request inside CheckRequest
  pkg/cmd/controller.go
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

fix vale issues
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

Fixes
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
