Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

remove http from httpDurationLevel
  pkg/otelcollector/consts.go
Owners: @FluxNinja/backend

Expand doc comments for policies
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend

Expand doc comments for policies (#160)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend

Expose k8s client HTTP client config
  cmd/aperture-agent/agent.go
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/k8s/provide.go
Owners: @FluxNinja/backend

Remove sidebar.json
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

Remove sidebar.json (#195)
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

Fixed indentation issue
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Remove obsolete certs/ dir
  certs/ca.crt
  certs/ca.key
  certs/ca.srl
  certs/ca_config.txt
  certs/config.txt
  certs/crt.pem
  certs/csr.csr
  certs/gen.sh
  certs/key.pem
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Owners: @FluxNinja/backend

Expose batch configuration
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  pkg/otel/config.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Add operator stuff
  manifests/charts/aperture-operator/templates/aperture.yaml
  manifests/charts/aperture-operator/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_apertures.yaml
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Test metrics
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/otlptext/metrics.go
Owners: @FluxNinja/backend

Fix controller OTEL pipelines
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

helm first release
  .tool-versions
  aperture-operator-v0.0.1.tgz
  aperture-v0.0.1.tgz
  index.yaml
Owners: @FluxNinja/backend

charts folder
  charts/aperture-operator-v0.0.1.tgz
  charts/aperture-v0.0.1.tgz
  charts/index.yaml
Owners: @FluxNinja/backend

delete chart dir
  aperture-operator-v0.0.1.tgz
  aperture-v0.0.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Lowercase dirnames in docs and other tweaks
  docs/content/concepts/_category_.yml
  docs/content/concepts/actuators/actuators.md
  docs/content/concepts/actuators/scheduler.md
  docs/content/concepts/flow-control.md
  docs/content/developers/_category_.yml
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
Owners: @FluxNinja/documentation

Lowercase dirnames in docs and other tweaks (#199)
  docs/content/concepts/_category_.yml
  docs/content/concepts/actuators/actuators.md
  docs/content/concepts/actuators/scheduler.md
  docs/content/concepts/flow-control.md
  docs/content/developers/_category_.yml
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
Owners: @FluxNinja/documentation

Flow is not flow control
  docs/content/concepts/flow.md
Owners: @FluxNinja/documentation

Flow is not flow control (#201)
  docs/content/concepts/flow.md
Owners: @FluxNinja/documentation

Fix Controller OTEL pipelines
  pkg/otel/components.go
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Policy Blueprints Documentation
  docs/content/concepts/policies/policy-blueprints.md
Owners: @FluxNinja/documentation

Make examples easier to read and fix broken links
  docs/content/concepts/policies/policy-blueprints.md
Owners: @FluxNinja/documentation

Fix Controller OTEL pipelines (#200)
  pkg/otel/components.go
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Owners: @FluxNinja/backend

Tag images from main with latest tag before pushing them to dockerhub
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fix markdown glitches in generated classifiers documentation
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend

Fix markdown glitches in generated classifiers documentation (#204)
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend

Switch to DurationLabel
  pkg/otel/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Update status package
  cmd/aperture-controller/controller/provider.go
  pkg/classification/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/net/grpc/status-service.go
  pkg/notifiers/fx-driver.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/status/map.go
  pkg/status/prefixed-registry.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/registry_test.go
  pkg/watchdog/watchdog.go
Owners: @FluxNinja/backend

add sidebars.json
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

add sidebars.json (#207)
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

FAQ and sidebar_position
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Owners: @FluxNinja/documentation

Update setup.md
  docs/content/setup.md
Owners: @FluxNinja/documentation

Faq (#208)
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Owners: @FluxNinja/documentation

Policy Blueprints Documentation (#205)
  docs/content/concepts/policies/policy-blueprints.md
Owners: @FluxNinja/documentation

Revert "Faq (#208)"
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Owners: @FluxNinja/documentation

Revert "Faq (#208)" (#209)
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Owners: @FluxNinja/documentation

Feedback link
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

start writing flow control section
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow.md
  docs/content/concepts/policies/policies.md
Owners: @FluxNinja/documentation

Start flow control section (#210)
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow.md
  docs/content/concepts/policies/policies.md
  docs/content/faq.md
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

Add metrics names to common schema
  pkg/flowcontrol/metrics.go
  pkg/jobs/job-metrics.go
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/wfq_test.go
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops
