Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Fix logging and remove unnecessary log statements
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Remove concurrency-limiting blueprint and update flow.go
  docs/content/reference/blueprints/concurrency-limiting.md
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

checkpoint with concurrency scheduler dashboard and sdk examples
  blueprints/concurrency-scheduling/base/README.md
  blueprints/concurrency-scheduling/base/bundle.libsonnet
  blueprints/concurrency-scheduling/base/concurrency-scheduling.libsonnet
  blueprints/concurrency-scheduling/base/config.libsonnet
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/dynamic-config-definitions.json
  blueprints/concurrency-scheduling/base/gen/dynamic-config-values.yaml
  blueprints/concurrency-scheduling/base/gen/values.yaml
  blueprints/concurrency-scheduling/base/metadata.yaml
  blueprints/concurrency-scheduling/base/policy.libsonnet
  dashboards/grafana/dashboards/summary/concurrency-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/panel-library.libsonnet
  playground/scenarios/concurrency-scheduler/load-generator/test.js
  playground/scenarios/concurrency-scheduler/metadata.json
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler-cr.yaml
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler.yaml
  playground/scenarios/concurreny-limiter/policies/concurrency-limiting.yaml
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/devops, @FluxNinja/backend

Add base and concurrency scheduling blueprints
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/dynamic-config-definitions.json
  blueprints/concurrency-scheduling/base/gen/values.yaml
  docs/content/reference/blueprints/concurrency-scheduling/base.md
  docs/content/reference/blueprints/concurrency-scheduling/concurrency-scheduling.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

debugging
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/otelcollector/metricsprocessor/processor.go
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/backend

Add check response in CheckHTTP response
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Add Flow End call with CheckHTTP in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/backend

Add Flow End call with CheckHTTP in Java SDK
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Owners: @FluxNinja/backend

Add support for Flow End with CheckHTTP calls (#3072)
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Update agents in latest-saas cluster on merge to main
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Update agents in latest-saas cluster on merge to main (#3073)
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Fix pre-commit buf version
  .circleci/continue-workflows.yml
  .tool-versions
Owners: @FluxNinja/devops, @FluxNinja/backend

Fix pre-commit buf version (#3074)
  .circleci/continue-workflows.yml
  .tool-versions
Owners: @FluxNinja/devops, @FluxNinja/backend

Upgrade go to 1.21.5
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Owners: @FluxNinja/devops, @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

SDK scenario in working order end to end
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/dmap-funcs/deadline-margin/deadline-margin.go
  pkg/policies/flowcontrol/engine.go
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Fix pre-commit
  api/buf.lock
Owners: @FluxNinja/backend

remove debug log
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fix token rate update
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/backend

Fix exponential backoff
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
Owners: @FluxNinja/backend

Fix token rate update (#3076)
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  sdks/aperture-js/example/concurrency_scheduler.ts
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.0-rc.1.tgz
  index.yaml
  istioconfig-v2.29.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.0-rc.1.tgz
  aperture-controller-v2.29.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.29.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.0.tgz
  index.yaml
  istioconfig-v2.29.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.0.tgz ./index.yaml
  aperture-agent-v2.29.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.0.tgz ./index.yaml
  aperture-controller-v2.29.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Fix crash with disabled object storage
  cmd/aperture-agent/agent.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Fix crash with disabled object storage (#3078)
  cmd/aperture-agent/agent.go
  pkg/objectstorage/provide.go
Owners: @FluxNinja/backend

Update caching section in README
  README.md
Owners: @FluxNinja/documentation

Update caching section in README (#3079)
  README.md
Owners: @FluxNinja/documentation

checkpoint
  concurrency-limiting-test.yaml
  docs/content/guides/concurrency-limiting.md
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/package-lock.json
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fix default denied response code in check response
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/aperturecore

Fix default denied response code in check response
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

first draft
  docs/content/code-snippets.json
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph1.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiter-graph2.png
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/validate.sh
  docs/content/guides/assets/per-user-concurrency-limiting/values.yaml
  docs/content/guides/concurrency-limiting.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/concurrency_limit.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

first draft
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
Owners: @FluxNinja/documentation

Fix default check response status (#3081)
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Publish . ./aperture-agent-v2.29.1-rc.1.tgz
  aperture-agent-v2.29.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.1-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.29.1-rc.1.tgz
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
