Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops

docs
  docs/content/setup/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/documentation, @FluxNinja/devops

use Istio 1.14.3 instead of 1.15.0
  playground/tanka/chartfile.yaml
Owners: @FluxNinja/backend

use official istio chart instead of getindata istio (#316)
  docs/content/setup/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  playground/Tiltfile
  playground/tanka/chartfile.yaml
  playground/tanka/environments/tilt/apps/istio/mixins.libsonnet
  playground/tanka/lib/apps/istio/main.libsonnet
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

Add proto label
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  playground/README.md
Owners: @FluxNinja/devops, @FluxNinja/backend

ctlptl instructions
  playground/README.md
  playground/Tiltfile
  playground/ctlptl-kind-config.yaml
  playground/kind-config.yaml
  playground/tanka/apps/aperture-agent/main.jsonnet
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-grafana/dashboards/json-example.json
  playground/tanka/apps/aperture-grafana/main.jsonnet
  playground/tanka/apps/aperture-grafana/mixins.libsonnet
  playground/tanka/apps/bookinfo/main.jsonnet
  playground/tanka/apps/bookinfo/mixins.libsonnet
  playground/tanka/apps/demoapp/main.jsonnet
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/apps/istio/main.jsonnet
  playground/tanka/apps/istio/mixins.libsonnet
  playground/tanka/apps/k6-operator/main.jsonnet
Owners: @FluxNinja/backend

remove certs directory
  certs/ca.crt
  certs/ca.key
  certs/ca.srl
  certs/ca_config.txt
  certs/config.txt
  certs/crt.pem
  certs/csr.csr
  certs/gen.sh
  certs/key.pem
  certs/webhooks.yaml
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Owners: @FluxNinja/backend

move demoapp and bookinfo charts to playground
  .pre-commit-config.yaml
  playground/tanka/charts/bookinfo
  playground/tanka/charts/bookinfo/.helmignore
  playground/tanka/charts/bookinfo/Chart.yaml
  playground/tanka/charts/bookinfo/templates/_helpers.tpl
  playground/tanka/charts/bookinfo/templates/deployment.yaml
  playground/tanka/charts/bookinfo/templates/ingress.yaml
  playground/tanka/charts/bookinfo/templates/service.yaml
  playground/tanka/charts/bookinfo/templates/serviceaccount.yaml
  playground/tanka/charts/bookinfo/values.yaml
  playground/tanka/charts/demo-app
  playground/tanka/charts/demo-app/.helmignore
  playground/tanka/charts/demo-app/Chart.yaml
  playground/tanka/charts/demo-app/templates/_helpers.tpl
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/templates/service.yaml
  playground/tanka/charts/demo-app/templates/serviceaccount.yaml
  playground/tanka/charts/demo-app/values.yaml
Owners: @FluxNinja/backend

cleanup istioconfig
  manifests/charts/README.md
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  playground/tanka/apps/istio/mixins.libsonnet
Owners: @FluxNinja/devops, @FluxNinja/backend

cleanup istioconfig
  playground/tanka/apps/istio/mixins.libsonnet
Owners: @FluxNinja/backend

add helm readme generator
  .pre-commit-config.yaml
  Makefile
  manifests/charts/Makefile
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-controller/README.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  playground/tanka/apps/istio/mixins.libsonnet
  scripts/precommit/generate_helm_readme.sh
Owners: @FluxNinja/backend, @FluxNinja/devops

remove redundant README
  manifests/charts/README.md
Owners: @FluxNinja/devops

Cleanup charts (#319)
  .pre-commit-config.yaml
  Makefile
  manifests/charts/Makefile
  manifests/charts/README.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-controller/README.md
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  playground/tanka/apps/istio/mixins.libsonnet
  playground/tanka/charts/bookinfo
  playground/tanka/charts/bookinfo/.helmignore
  playground/tanka/charts/bookinfo/Chart.yaml
  playground/tanka/charts/bookinfo/templates/_helpers.tpl
  playground/tanka/charts/bookinfo/templates/deployment.yaml
  playground/tanka/charts/bookinfo/templates/ingress.yaml
  playground/tanka/charts/bookinfo/templates/service.yaml
  playground/tanka/charts/bookinfo/templates/serviceaccount.yaml
  playground/tanka/charts/bookinfo/values.yaml
  playground/tanka/charts/demo-app
  playground/tanka/charts/demo-app/.helmignore
  playground/tanka/charts/demo-app/Chart.yaml
  playground/tanka/charts/demo-app/templates/_helpers.tpl
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/templates/service.yaml
  playground/tanka/charts/demo-app/templates/serviceaccount.yaml
  playground/tanka/charts/demo-app/values.yaml
  scripts/precommit/generate_helm_readme.sh
Owners: @FluxNinja/backend, @FluxNinja/devops

fix tests
  pkg/otelcollector/metricsprocessor/processor_test.go
Owners: @FluxNinja/backend

Update README.md
  playground/README.md
Owners: @FluxNinja/backend

Update .helmignore
  playground/tanka/charts/bookinfo/.helmignore
Owners: @FluxNinja/backend

Update .helmignore (#320)
  playground/tanka/charts/bookinfo/.helmignore
Owners: @FluxNinja/backend

Fix missing helmignore
  playground/tanka/charts/bookinfo/.helmignore
Owners: @FluxNinja/backend

Fix missing helmignore (#321)
  playground/tanka/charts/bookinfo/.helmignore
Owners: @FluxNinja/backend

Add SpanStatusCode and Duration to Span attributes (#271)
  docs/content/setup/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  pkg/metrics/schema.go
  pkg/otel/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

Change duration calculation in envoy from DURATION to RESPONSE_DURATION
  docs/content/setup/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/documentation, @FluxNinja/devops

updates to doc
  docs/content/cloud/cloud.md
  docs/content/concepts/policies/policies.md
Owners: @FluxNinja/documentation

update to cloud.md
  docs/content/cloud/cloud.md
Owners: @FluxNinja/documentation

actuator
  docs/content/concepts/flow-control/actuators/actuators.md
Owners: @FluxNinja/documentation

Checkpoint
  pkg/otel/config.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollup.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor_test.go
Owners: @FluxNinja/backend

Fixes for envoy filters
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/devops

Fixes for envoy filters (#326)
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/devops

fix per-commit errors
  .circleci/continue-workflows.yml
  .circleci/scripts/helm_release.sh
Owners: @FluxNinja/devops

remove unwanted env
  .circleci/continue-workflows.yml
  .circleci/scripts/helm_release.sh
Owners: @FluxNinja/devops

ci workflow for helm chart release
  .circleci/continue-workflows.yml
  .circleci/scripts/helm_release.sh
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops
