Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Enable discovery by default (#138)
  docs/gen/config/aperture-agent/config-swagger.yaml
  pkg/discovery/kubernetes/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Refactor status registry
  pkg/status/map.go
  pkg/status/prefixed-registry.go
  pkg/status/registry.go
  pkg/status/registry_test.go
Owners: @FluxNinja/backend

Use inline KaTeX for math in policy proto docs.
  .pre-commit-config.yaml
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/classification/swagger.md
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Use inline KaTeX for math in policy proto docs. (#128)
  .pre-commit-config.yaml
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/classification/swagger.md
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Small fixes to math snippets in proto docs
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Small fixes to math snippets in proto docs (#139)
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Change FluxMeter spec to a map
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  latency-gradient-policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Change FluxMeter spec to a map
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
  latency-gradient-policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Migrated agent installation from chart to operator in tilt
  .gitignore
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/charts/agent
  manifests/k8s/tanka/charts/aperture-operator
  manifests/k8s/tanka/environments/tilt/apps/agent/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-operator/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

Migrated agent installation from chart to operator in tilt (#124)
  .gitignore
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/charts/agent
  manifests/k8s/tanka/charts/aperture-operator
  manifests/k8s/tanka/environments/tilt/apps/agent/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-operator/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

Fix duplicate logs for stderr/stdout files (#130)
  pkg/config/log.go
Owners: @FluxNinja/backend

Start descending into map values when setting defaults
  pkg/config/defaults.go
  pkg/config/defaults_test.go
Owners: @FluxNinja/backend

Start descending into map values when setting defaults (#144)
  pkg/config/defaults.go
  pkg/config/defaults_test.go
Owners: @FluxNinja/backend

Add missing gomega suite files
  pkg/policies/controlplane/component/component_suite_test.go
  pkg/policies/controlplane/controlplane_suite_test.go
Owners: @FluxNinja/backend

Add missing gomega suite files (#145)
  pkg/policies/controlplane/component/component_suite_test.go
  pkg/policies/controlplane/controlplane_suite_test.go
Owners: @FluxNinja/backend

Update all consumers of status package
  cmd/aperture-controller/controller/provider.go
  pkg/classification/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/multi-job.go
  pkg/net/grpc/status-service.go
  pkg/notifiers/fx-driver.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/status/provide.go
  pkg/status/registry_test.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Owners: @FluxNinja/backend

Use the new Registry interface in rest of the places
  pkg/discovery/kubernetes/provide.go
  pkg/peers/peers.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend

Fix registry pointer in job
  pkg/jobs/job.go
Owners: @FluxNinja/backend

Fix missing flumeter proto in wrapper
  pkg/policies/controlplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Move controller's policy interface under controlplane/iface instead of apis/policyapi/
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/component/actuator/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/component/actuator/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/controlplane/component/actuator/rate/rate-limiter.go
  pkg/policies/controlplane/component/arithmetic-combinator.go
  pkg/policies/controlplane/component/constant.go
  pkg/policies/controlplane/component/controller/controller-component.go
  pkg/policies/controlplane/component/controller/gradient.go
  pkg/policies/controlplane/component/decider.go
  pkg/policies/controlplane/component/ema.go
  pkg/policies/controlplane/component/extrapolator.go
  pkg/policies/controlplane/component/max.go
  pkg/policies/controlplane/component/min.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/component/sqrt.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit-api.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

Wrappers overhaul
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  cmd/aperture-controller/controller/provider.go
  pkg/classification/provide.go
  pkg/etcd/watcher/watcher.go
  pkg/flowcontrol/flowcontrol.go
  pkg/flowcontrol/provide.go
  pkg/notifiers/notifier.go
  pkg/notifiers/notifier_test.go
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/paths/paths.go
  pkg/policies/controlplane/component/actuator/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/component/actuator/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/controlplane/component/actuator/rate/rate-limiter.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/actuator/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/component/component.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/component.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/policy.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/utils/config-properties.go
Owners: @FluxNinja/backend

Change FluxMeter spec to a map
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
  latency-gradient-policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Change FluxMeter spec to a map (#140)
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
  latency-gradient-policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Refer all metric names and labels from pkg/metrics/schema.go
  pkg/metrics/schema.go
  pkg/net/http/server.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Refer all metric names and labels from pkg/metrics/schema.go (#141)
  pkg/metrics/schema.go
  pkg/net/http/server.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Capture FlowLabelKeys
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  go.mod
  go.sum
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/engine.go
Owners: @FluxNinja/backend

Bump gocron to 1.16.3
  go.mod
  go.sum
Owners: @FluxNinja/backend

Bump gocron for datarace fix in runCount (#108)
  go.mod
  go.sum
Owners: @FluxNinja/backend

Re-enable race detection flag
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

update uber fx
  go.mod
  go.sum
Owners: @FluxNinja/backend

remove coverpkg
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

codecov upload step
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

add coverpkg
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Re-enable race detection flag (#149)
  .circleci/continue-workflows.yml
  go.mod
  go.sum
Owners: @FluxNinja/devops, @FluxNinja/backend

Component Factory Cleanup
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/component-stack-factory.go
Owners: @FluxNinja/backend

Component Factory Cleanup (#150)
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/component-stack-factory.go
Owners: @FluxNinja/backend

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @FluxNinja/backend

Add CircleCI badge
  README.md
Owners: @FluxNinja/backend

add circleci badge
  README.md
Owners: @FluxNinja/backend

add circleci badge
  CODE_OF_CONDUCT.md
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/                                       @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops
