Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops

Add metrics names to common schema (#212)
  pkg/flowcontrol/metrics.go
  pkg/jobs/job-metrics.go
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/wfq_test.go
Owners: @FluxNinja/backend

put classifier config in latency gradient policy
  latency-gradient-policy.yaml
Owners: @FluxNinja/backend

go filenames: fluxmeter->flux-meter
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter_suite_test.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter_test.go
Owners: @FluxNinja/backend

Dataplane restructure
  Makefile
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  pkg/classification/validator_test.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_suite_test.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/baggage/baggage.go
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/flowcontrol/provide.go
  pkg/flowcontrol/validator.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/resources/classifier/classification_suite_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/extractors/README.md
  pkg/policies/dataplane/resources/classifier/extractors/attribute_path.go
  pkg/policies/dataplane/resources/classifier/extractors/compile.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
  pkg/policies/dataplane/resources/classifier/extractors/helpers.go
  pkg/policies/dataplane/resources/classifier/extractors/input.go
  pkg/policies/dataplane/resources/classifier/extractors/json_pointer.go
  pkg/policies/dataplane/resources/classifier/extractors/path_template.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/classifier/validator.go
  pkg/webhooks/validation/provide.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend

Add metrics names to common schema (#212)
  pkg/flowcontrol/metrics.go
  pkg/jobs/job-metrics.go
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
Owners: @FluxNinja/backend

fix test
  cmd/aperture-agent/agent.go
  example-classification-cm-demoapp.yaml
  latency-gradient-policy.yaml
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/flowcontrol_suite_test.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/flowcontrol/common/metrics.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/flowcontrol/provide.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/resources/classifier/validator.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend

remove policy yaml files, please use jsonnet generator for testing
  example-classification-cm-bookinfo.yaml
  example-classification-cm-demoapp.yaml
  latency-gradient-policy.yaml
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/backend

fix pre-commit hook
  go.mod
Owners: @FluxNinja/backend

use proto unmarshaller
  pkg/policies/dataplane/resources/classifier/provide.go
Owners: @FluxNinja/backend

remove redundant tests
  pkg/webhooks/validation/validator_suite_test.go
  pkg/webhooks/validation/validator_test.go
Owners: @FluxNinja/backend

remove rate limit policy
  pkg/policies/controlplane/validator_test.go
  rate-limit-policy.yaml
Owners: @FluxNinja/backend

Move around some files
  .circleci/continue-workflows.yml
  .circleci/scripts/asdf_install.sh
  .pre-commit-config.yaml
  Makefile
  pkg/tools/tools.go
  scripts/install_go_tools.sh
  scripts/manage_tools.sh
  scripts/precommit/check_tanka_show.sh
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_docs.sh
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
  tools/demo_app/tools/tools.go
  tools/githooks/install_go_tools.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

remove stress test file
  tools/load_generator/scenarios/stress_test.js
Owners: @FluxNinja/backend

remove redundant buttons in tilt
  manifests/k8s/Tiltfile
  tools/load_generator/scenarios/demoapp-stress-test-cr.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Move around some files (#214)
  .circleci/continue-workflows.yml
  .circleci/scripts/asdf_install.sh
  .pre-commit-config.yaml
  Makefile
  manifests/k8s/Tiltfile
  pkg/tools/tools.go
  scripts/install_go_tools.sh
  scripts/manage_tools.sh
  scripts/precommit/check_tanka_show.sh
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_docs.sh
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
  tools/demo_app/tools/tools.go
  tools/githooks/install_go_tools.sh
  tools/load_generator/scenarios/demoapp-stress-test-cr.yaml
  tools/load_generator/scenarios/stress_test.js
Owners: @FluxNinja/devops, @FluxNinja/backend

add libsonnet
  docs/gen/policies/config-swagger.yaml
  docs/gen/policies/gen.yaml
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend

add pre-commit hook for libsonnet
  .pre-commit-config.yaml
  libsonnet/Makefile
  scripts/manage_tools.sh
  scripts/precommit/generate_api.sh
Owners: @FluxNinja/backend

precommit for libsonnet
  Makefile
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/config-operations.go
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_docs.sh
Owners: @FluxNinja/backend

precommit for libsonnet
  .pre-commit-config.yaml
Owners: @FluxNinja/backend

precommit for libsonnet
  .pre-commit-config.yaml
  libsonnet/Makefile
Owners: @FluxNinja/backend

fix precommit hook
  libsonnet/Makefile
Owners: @FluxNinja/backend

update circleci python
  .circleci/continue-workflows.yml
  .tool-versions
Owners: @FluxNinja/devops, @FluxNinja/backend

freeze pip requirements
  docs/content/concepts/policies/policy-blueprints.md
  libsonnet/requirements.txt
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

update pip
  scripts/manage_tools.sh
Owners: @FluxNinja/backend

requirements
  libsonnet/requirements.txt
Owners: @FluxNinja/backend

requirements
  libsonnet/requirements.txt
Owners: @FluxNinja/backend

requirements
  libsonnet/1.0/main.libsonnet
  libsonnet/requirements.txt
  libsonnet/scripts/jsonnet-lib-gen.py
Owners: @FluxNinja/backend

precommit fix
  .pre-commit-config.yaml
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/backend, @FluxNinja/devops

remove decisionDashboard in aperture-grafana for now
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

precommit fix (#216)
  .pre-commit-config.yaml
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

improve python tools install
  Makefile
  requirements.txt
  scripts/manage_tools.sh
Owners: @FluxNinja/backend

add libsonnet step instead of using docs step
  .pre-commit-config.yaml
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_libsonnet.sh
Owners: @FluxNinja/backend

Remove duplicate policylangv1 import
  cmd/aperture-controller/controller/provider.go
Owners: @FluxNinja/backend

rename some fields
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiterlazysync.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiteroverride.libsonnet
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
Owners: @FluxNinja/backend

add dependabot for pip
  .github/dependabot.yml
Owners: @FluxNinja/devops

fix tools install
  scripts/manage_tools.sh
Owners: @FluxNinja/backend

improve python tools install (#217)
  .github/dependabot.yml
  .pre-commit-config.yaml
  Makefile
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiterlazysync.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiteroverride.libsonnet
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  requirements.txt
  scripts/manage_tools.sh
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_libsonnet.sh
Owners: @FluxNinja/devops, @FluxNinja/backend

fix tools install
  scripts/manage_tools.sh
Owners: @FluxNinja/backend

fix tools install (#234)
  scripts/manage_tools.sh
Owners: @FluxNinja/backend

Parse span status and add to metric attributes
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend
