Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Update Alerter type in config files
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Add support for workload_label_key in Scheduler configuration (#2927)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/common/config-defaults.libsonnet
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Refactor notifiers.NewFxDriver to include newRateLimiterOptions
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/aperturecore

Update Sampler label_key to session_label_key
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/samplerparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Fix load ramping configuration by updating label_key to session_label_key
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  docs/content/reference/blueprints/load-ramping/base.md
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

Update Sampler label_key to session_label_key (#2929)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/samplerparameters.libsonnet
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Flowcontrol proto
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_grpc.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheItem.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheResult.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowControlService.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowEnd.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Empty.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.py
Owners: @FluxNinja/backend, @FluxNinja/documentation

Update descriptions of QuotaScheduler and RateLimiter blueprint fields
  blueprints/common/config-defaults.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  docs/content/reference/blueprints/quota-scheduling/base.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Refactored policy.libsonnet files
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/average-latency/policy.libsonnet
  blueprints/load-scheduling/common-aiad/policy.libsonnet
  blueprints/load-scheduling/common-aimd/policy.libsonnet
  blueprints/load-scheduling/common-range/policy.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/promql/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
Owners: @FluxNinja/devops

Add sdk example to per user rate limiting guide
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Add sdk example to per user rate limiting guide (#2932)
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Add comment and remove error in sdk example
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Update load scheduling policies for PostgreSQL and Elasticsearch
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch/config.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  docs/content/guides/database-load-management/assets/postgresql/values.yaml
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

Blueprints cleanup (#2931)
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/common/config-defaults.libsonnet
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/average-latency/policy.libsonnet
  blueprints/load-scheduling/common-aiad/policy.libsonnet
  blueprints/load-scheduling/common-aimd/policy.libsonnet
  blueprints/load-scheduling/common-range/policy.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch/config.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/policy.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/guides/database-load-management/assets/postgresql/values.yaml
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
Owners: @FluxNinja/devops, @FluxNinja/documentation

Updates
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_grpc.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheDeleteRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheItem.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheUpsertRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowControlService.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.py
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Add comment and remove error in sdk example (#2933)
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Refactor aperture-go
  api/Makefile
  sdks/aperture-go/example/main.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.gw.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
  sdks/aperture-go/sdk/utils/baggage.go
  sdks/aperture-go/sdk/utils/net.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheItem.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheItemOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheResult.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertRequestOrBuilder.java
Owners: @FluxNinja/backend

Fix env options parsing in aperture-go example
  sdks/aperture-go/example/main.go
Owners: @FluxNinja/backend

Checkpoint caching in engine
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_grpc.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/cache.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/provide.go
  pkg/policies/mocks/mock_engine.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheDeleteResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheUpsertResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CachedValue.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowControlService.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/LookupResult.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.py
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Refactor StartFlow method to use StartFlowRequest struct
  sdks/aperture-go/sdk/client.go
Owners: @FluxNinja/backend

Add generated proto files to SDKs
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValue.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValueOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LookupResult.java
Owners: @FluxNinja/backend

Cache Upsert and Delete handlers in Aperture Agent
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/provide.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheDeleteResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheLookupResult.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheResponseCode.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheUpsertResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CachedValue.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Refactor aperture-go (#2934)
  api/Makefile
  sdks/aperture-go/example/main.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.gw.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_grpc.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
  sdks/aperture-go/sdk/utils/baggage.go
  sdks/aperture-go/sdk/utils/net.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValue.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValueOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LookupResult.java
Owners: @FluxNinja/backend

Generate missing Java and Go protobuf files
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupResult.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheResponseCode.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValue.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValueOrBuilder.java
Owners: @FluxNinja/backend

Set response code error only when other than key not found
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/aperturecore

checkpoint
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/aperture-for-infra/guides/assets/rate-limiting-framework/adaptive-service-limits.svg
  docs/content/aperture-for-infra/guides/assets/rate-limiting-framework/per-user-limits.svg
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/values.yaml
  docs/content/aperture-for-infra/guides/database-load-management/assets/postgresql/values.yaml
  docs/content/aperture-for-infra/guides/per-user-rate-limiting.md
  docs/content/aperture-for-infra/guides/service-load-management/assets/average-latency-feedback/values.yaml
  docs/content/get-started/agent-api-keys/agent-api-keys.md
  docs/content/get-started/agent-api-keys/assets/api-keys.gif
  docs/content/get-started/define-control-points.md
  docs/content/get-started/set-up-application/_category_.yml
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/assets/rate-limiting-framework/adaptive-service-limits.svg
  docs/content/guides/assets/rate-limiting-framework/per-user-limits.svg
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/rate-limiting-framework.md
Owners: @FluxNinja/documentation

Summary of rework done:
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/content/renderYaml.js
  operator/hack/create_policy_sample.sh
Owners: @FluxNinja/documentation, @FluxNinja/devops

fix broken links
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/get-started.md
  docs/content/reference/aperture-cli/aperture-cli.md
  docs/content/reference/fluxninja.md
Owners: @FluxNinja/documentation

small fixes
  docs/content/aperture-for-infra/aperture-for-infra.md
  docs/content/aperture-for-infra/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

remove please
  docs/content/aperture-for-infra/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

fix typo and add a reference link
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

more fixes
  docs/content/aperture-for-infra/agent/agent.md
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/aperture-for-infra/aperture-for-infra.md
  docs/content/aperture-for-infra/controller/controller.md
  docs/content/aperture-for-infra/guides/guides.md
  docs/content/aperture-for-infra/guides/per-user-rate-limiting.md
  docs/content/aperture-for-infra/integrations/integrations.md
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
  docs/content/get-started/sign-up.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Owners: @FluxNinja/documentation

Create DMap in lifecycle hook
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/aperturecore

fix vale issues
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/define-control-points.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

Add support for cache - Add @fluxninja/aperture-js dependency in example - fix formatting in connected.ts and use_aperture.ts in example
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

TTL is upsert
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/iface/cache.go
  pkg/policies/flowcontrol/service/check/check.go
Owners: @FluxNinja/aperturecore

aperture_js: provide default credentials
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

aperture_js: provide default credentials (#2938)
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

Remove grpc credentials from js examples and sdk
  docs/content/get-started/define-control-points.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

More fixes
  docs/Makefile
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/otel_collectors/generate_otel_docs.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops
