Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

remove architecture
  README.md
Owners: @FluxNinja/documentation

nit
  README.md
Owners: @FluxNinja/documentation

nit
  README.md
Owners: @FluxNinja/documentation

update github readme (#3141)
  README.md
Owners: @FluxNinja/documentation

Add tests for ProcessRequest with test interface implementation
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add FluxNinja vocabulary files
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  .github/styles/config/vocabularies/FluxNinja/reject.txt
Owners: @FluxNinja/devops

Update .gitignore to include .github/styles/config/vocabularies/FluxNinja
  .gitignore
Owners: @FluxNinja/backend

Refactor concurrency limiters and add rate limiter in tests
  pkg/policies/flowcontrol/engine_test.go
Owners: @FluxNinja/aperturecore

Add a new assertion engine_test.go
  pkg/policies/flowcontrol/engine_test.go
Owners: @FluxNinja/aperturecore

Fix concurrency and rate limiter issues in engine_test.go
  pkg/policies/flowcontrol/engine_test.go
Owners: @FluxNinja/aperturecore

Fix concurrency issue in engine_test.go
  pkg/policies/flowcontrol/engine_test.go
Owners: @FluxNinja/aperturecore

Remove unnecessary log statements and adjust duration in test cases
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
Owners: @FluxNinja/backend

Refactor acceptedRequestsExpected calculation in checkResults function
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
Owners: @FluxNinja/backend

Refactor test duration and tolerance in concurrency-limiter_test.go
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
Owners: @FluxNinja/backend

Document fairness
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/scheduler.md
Owners: @FluxNinja/documentation

fix
  docs/content/concepts/concurrency-limiter.md
Owners: @FluxNinja/documentation

Use io.ReadAll() and add more persistence-related logs (#3140)
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
Owners: @FluxNinja/backend

Add olric LRU configuration
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/dist-cache/config/config.go
  pkg/dist-cache/provider.go
Owners: @FluxNinja/documentation, @FluxNinja/backend, @FluxNinja/devops

Add a metric for persistent cache errors
  pkg/metrics/schema.go
  pkg/objectstorage/persistent-dmap.go
Owners: @FluxNinja/backend

lang tool suggestion
  docs/content/concepts/concurrency-limiter.md
Owners: @FluxNinja/documentation

Dont increment error counter when key is missing
  pkg/objectstorage/persistent-dmap.go
Owners: @FluxNinja/backend

Add mockTestCache implementation and test cache lookup
  pkg/policies/flowcontrol/engine_test.go
Owners: @FluxNinja/aperturecore

Add Fairness label key code examples
  docs/content/code-snippets.json
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add Fairness label key code examples (#3148)
  docs/content/code-snippets.json
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Document fairness (#3143)
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/scheduler.md
Owners: @FluxNinja/documentation

Format imports and functions
  pkg/dmap-funcs/rate-limiter/lazy-sync/lazy-sync.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Engine tests (#3142)
  .gitignore
  pkg/dmap-funcs/concurrency-limiter/concurrency-limiter_test.go
  pkg/dmap-funcs/concurrency-limiter/iface.go
  pkg/dmap-funcs/rate-limiter/lazy-sync/lazy-sync.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Fix pre-commit
  api/buf.lock
Owners: @FluxNinja/backend

Fix pre-commit (#3150)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.31.1-rc.1.tgz
  aperture-controller-v2.31.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.31.1-rc.1.tgz
  index.yaml
  istioconfig-v2.31.1-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.31.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.31.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.31.1.tgz
  index.yaml
  istioconfig-v2.31.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.31.1.tgz
  aperture-controller-v2.31.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.31.1.tgz ./index.yaml
  aperture-agent-v2.31.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Add accept words for blog
  .github/styles/config/vocabularies/FluxNinja/accept.txt
Owners: @FluxNinja/devops

Fix vale
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Add accept words for blog (#3151)
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Fix pre-commit
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
