Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

fix vale issues
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Update OpenAI Guide (#3020)
  docs/content/guides/api-quota-management/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Fixes
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/selector.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Improve field names in label matcher (#3014)
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/equalsexpression.libsonnet
  blueprints/gen/v1/expression.libsonnet
  blueprints/gen/v1/expressionlist.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/labelmatcher.libsonnet
  blueprints/gen/v1/matchesexpression.libsonnet
  blueprints/gen/v1/matchrequirement.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/selector.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Add python docs generation to pre-commit
  .pre-commit-config.yaml
  requirements.txt
  scripts/precommit/generate_aperturepy_docs.sh
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

Make python docs look a bit better
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

Add python docs generation to precommit (#3021)
  .pre-commit-config.yaml
  requirements.txt
  scripts/precommit/generate_aperturepy_docs.sh
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/pyproject.toml
Owners: @FluxNinja/backend

Update label_matcher.proto and label_matcher.pb.go
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Update CircleCI orbs and job names
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Update deprecated field names in flowcontrol.proto and label_matcher.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Fix docs (#3022)
  .circleci/continue-workflows.yml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Update OpenAI Guide with form builder screenshots
  docs/content/guides/api-quota-management/assets/openai/gpt-4-rpm.png
  docs/content/guides/api-quota-management/assets/openai/gpt-4-tpm.png
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Publish . ./aperture-controller-v2.26.0-rc.1.tgz
  aperture-controller-v2.26.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.26.0-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.26.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.26.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.26.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Update Termination Grace Period Seconds from operator
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
Owners: @FluxNinja/devops

Add event based Olric metrics
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

Fix typo
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Owners: @FluxNinja/devops

Review fixes
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
Owners: @FluxNinja/backend

Update Termination Grace Period Seconds from operator (#3024)
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
Owners: @FluxNinja/devops

Enable cluster events channel
  pkg/dist-cache/provider.go
Owners: @FluxNinja/backend

Change TTL in aperturectl to be seconds instead of millis
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/globalcache/set.go
  cmd/aperturectl/cmd/resultcache/set.go
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/set/set.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

restore yaml and fix issues
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Change TTL in aperturectl to be seconds instead of millis (#3027)
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/globalcache/set.go
  cmd/aperturectl/cmd/resultcache/set.go
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/set/set.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Export CacheEntry members and fix a crash in SetResultCache
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Add event based Olric metrics (#3025)
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

remove form screenshots and agent group
  docs/content/guides/api-quota-management/assets/openai/gpt-4-rpm.png
  docs/content/guides/api-quota-management/assets/openai/gpt-4-tpm.png
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

fix vale issues
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

fix vale issues
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Minor fomatting and link fixes in docs
  docs/content/concepts/advanced/agent-group.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Owners: @FluxNinja/documentation

last fix
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

fix vale
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Support caching in java sdk
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyLookupResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/LookupStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/Utils.java
Owners: @FluxNinja/backend

Support caching in java sdk (#3030)
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyLookupResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/LookupStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/Utils.java
Owners: @FluxNinja/backend

Add Caching to introduction and readme
  README.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Update OpenAI Guide (#3023)
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

Add Executable Examples in Typescript SDK
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/backend

Fix
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/aperturecore

Fix limit by label key (#3033)
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Owners: @FluxNinja/aperturecore
