Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops

checkpoint
  docs/content/assets/img/control-loop.svg
  docs/content/old.json
  docs/content/reference/glossary.md
  docs/content/reference/glossary/tokens.md
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

some cleanup
  docs/content/faq.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

remove sidebar
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

moved items to concepts
  docs/content/concepts/flow-control-actuators/scheduler.md
  docs/content/concepts/flows-workloads.md
Owners: @FluxNinja/documentation

checkpoint
  docs/content/concepts/flow-control/flow-control-actuators/scheduler.md
  docs/content/concepts/flow-control/flows.md
Owners: @FluxNinja/documentation

checkpoint
  docs/content/concepts/flow-control/actuators/scheduler.md
Owners: @FluxNinja/documentation

some fixes
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flows.md
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/index.md
Owners: @FluxNinja/documentation

Fix image urls in intro doc (#176)
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flows.md
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/index.md
Owners: @FluxNinja/documentation

Autogenerate sidebar for docs
  docs/content/Concepts/Flow-Control/Actuators/scheduler.md
  docs/content/Concepts/Flow-Control/flows.md
  docs/content/Developers/cla.md
  docs/content/introduction.md
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

Autogenerate sidebar for docs (#177)
  docs/content/Concepts/Flow-Control/Actuators/scheduler.md
  docs/content/Concepts/Flow-Control/flows.md
  docs/content/Developers/cla.md
  docs/content/introduction.md
  docs/content/sidebars.json
Owners: @FluxNinja/documentation

Fixed CircleCi failures
  .circleci/continue-workflows.yml
  .gitignore
  pkg/utils/goleak.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Checkpoint
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

Checkpoint compiler
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

Public method
  cmd/aperture-controller/controller/provider.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
Owners: @FluxNinja/backend

Remove unnecessary public methods
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
Owners: @FluxNinja/backend

Minor
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

Added support to upload images on DockerHub
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Added support to upload images on DockerHub (#168)
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Update code for aperture-mixin repo rename
  .circleci/continue-workflows.yml
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

Update code for aperture-mixin repo rename (#181)
  .circleci/continue-workflows.yml
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

Use test branch for release testing
  .circleci/config.yml
Owners: @FluxNinja/devops

Bump OTEL to 0.58.0
  go.mod
  go.sum
  pkg/otelcollector/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/loggingexporter/factory.go
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/logging_exporter_test.go
  pkg/otelcollector/metricsprocessor/factory.go
Owners: @FluxNinja/backend

Bump OTEL to 0.58.0 (#184)
  go.mod
  go.sum
  pkg/otelcollector/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/loggingexporter/factory.go
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/logging_exporter_test.go
  pkg/otelcollector/metricsprocessor/factory.go
Owners: @FluxNinja/backend

docsv1
  docs/content/Concepts/Flow-Control/Actuators/_category_.yaml
  docs/content/Concepts/Flow-Control/_category_.yaml
  docs/content/Developers/cla.md
  docs/content/faq.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Feedback Page
  docs/content/feedback.md
Owners: @FluxNinja/documentation

Extract policy compiler (#179)
  cmd/aperture-controller/controller/provider.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/backend

Add status code to fluxmeter metrics
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
Owners: @FluxNinja/backend

Register Fluxmeter as HistogramVec
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/backend

Fix tests
  pkg/policies/dataplane/engine_test.go
Owners: @FluxNinja/backend

Add fluxmeter metrics to lifecycle
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Fluxmeter's histogram vec registered in main app
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Remove partial match metrics
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Owners: @FluxNinja/backend

Add SpanDurationLabel to otelcollector
  manifests/aperture-operator
  pkg/otelcollector/consts.go
Owners: @FluxNinja/devops, @FluxNinja/backend

update tilt deployment to use latest aperture-blueprints
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

Fix url to aperture prometheus
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

Update fluxmeterName for decision dasboard
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

Status code labels in FluxMeter (#162)
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/backend

Some fixes to aperture grafana deployment (#191)
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/devops

replace all instances of agent-prometheus with aperture-prometheus
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
Owners: @FluxNinja/devops, @FluxNinja/backend

replace all instances of agent-prometheus with aperture-prometheus (#192)
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
Owners: @FluxNinja/devops, @FluxNinja/backend
