Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Add activateAuthentication()
  test/harness/etcd.go
Owners: @FluxNinja/backend

Update grafana-operator workload name
  playground/Tiltfile
Owners: @FluxNinja/devops

Remove unnecessary return error
  test/harness/etcd.go
Owners: @FluxNinja/backend

Introduce BurstSampler with Sampler()
  pkg/log/log.go
Owners: @FluxNinja/backend

More granual control in burst sampler
  pkg/log/log.go
Owners: @FluxNinja/backend

Remove "aperture-" prefix from Tilt resources (#509)
  playground/Tiltfile
Owners: @FluxNinja/devops

Revert Etcd bump
  go.mod
  go.sum
Owners: @FluxNinja/backend

generate pngs as well
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid.css
  playground/tanka/chartfile.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Add fluxMeterbuckets to demoapp mixins
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

scale = 2
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_2.mmd.png
Owners: @FluxNinja/backend, @FluxNinja/documentation

mermaid: generate pngs in addition to svgs (#531)
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid.css
  playground/tanka/chartfile.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

revert istio chart changes
  playground/tanka/chartfile.yaml
Owners: @FluxNinja/devops

revert istio chart changes (#532)
  playground/tanka/chartfile.yaml
Owners: @FluxNinja/devops

fix demo policy classifier rule
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

do not send request body
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/devops

fix demo policy classifier rule (#533)
  playground/tanka/apps/demoapp/mixins.libsonnet
Owners: @FluxNinja/devops

Modify FluxMeter Custom
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
Owners: @FluxNinja/devops

Update operators template & bump etcd client
  go.mod
  go.sum
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
Owners: @FluxNinja/backend

Clean up
  test/harness/etcd.go
Owners: @FluxNinja/backend

[ImgBot] Optimize images
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
Owners: @FluxNinja/documentation

Etcd Client Auth and TLS Params (#489)
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/etcd/client/client.go
  pkg/etcd/client/zz_generated.deepcopy.go
  test/aperture_suite_test.go
  test/harness/etcd.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Split Decider component into Decider and Switcher
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/component.libsonnet
  libsonnet/1.0/_gen/v1/decider.libsonnet
  libsonnet/1.0/_gen/v1/deciderins.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/switcher.libsonnet
  libsonnet/1.0/_gen/v1/switcherins.libsonnet
  libsonnet/1.0/_gen/v1/switcherouts.libsonnet
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/validator_test.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Publish . ./aperture-controller-v0.2.1.tgz
  aperture-controller-v0.2.1.tgz
  index.yaml
Owners: @FluxNinja/backend

helm chart version change for v0.2.2
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

helm chart version change for v0.2.2 (#543)
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Owners: @FluxNinja/devops

Publish . ./aperture-controller-v0.2.2.tgz
  aperture-controller-v0.2.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v0.2.2.tgz
  aperture-agent-v0.2.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v0.2.2.tgz
  index.yaml
  istioconfig-v0.2.2.tgz
Owners: @FluxNinja/backend

Added CRD for Policy and structure for Reconcile
  operator/Dockerfile
  operator/PROJECT
  operator/api/v1alpha1/policy_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_policies.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/patches/cainjection_in_policies.yaml
  operator/config/crd/patches/webhook_in_policies.yaml
  operator/config/rbac/policy_editor_role.yaml
  operator/config/rbac/policy_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/policy_reconciler.go
  operator/main.go
Owners: @FluxNinja/backend

Change some stuff to debug the problem
  cmd/aperture-agent/agent.go
  pkg/config/commandline.go
  pkg/platform/platform.go
Owners: @FluxNinja/backend

add missing git commit hash and git branch in the script
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Owners: @FluxNinja/backend

add missing git commit hash and git branch in the script (#547)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Owners: @FluxNinja/backend

Fixed the policy name issue due to which graphs were not showing
  operator/controllers/policy_reconciler.go
  operator/controllers/policy_reconciler_test.go
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

add check for the git repo
  pkg/info/build.sh
Owners: @FluxNinja/backend

add check for the git repo (#549)
  pkg/info/build.sh
Owners: @FluxNinja/backend

Added CRD for Policy and structure for Reconcile
  operator/Dockerfile
  operator/PROJECT
  operator/api/v1alpha1/policy_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_policies.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/patches/cainjection_in_policies.yaml
  operator/config/crd/patches/webhook_in_policies.yaml
  operator/config/rbac/policy_editor_role.yaml
  operator/config/rbac/policy_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/policy_reconciler.go
  operator/main.go
Owners: @FluxNinja/backend

Fixed the policy name issue due to which graphs were not showing
  operator/controllers/policy_reconciler.go
  operator/controllers/policy_reconciler_test.go
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Owners: @FluxNinja/backend, @FluxNinja/devops

revere #547 PR as aperture playground is failing
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Owners: @FluxNinja/backend

revere #547 PR as aperture playground is failing (#550)
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Owners: @FluxNinja/backend

Update resources.md
  docs/content/concepts/policy/resources.md
Owners: @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
