Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Deinit on failed start
  pkg/notifiers/fx-driver.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update pkg/notifiers/fx-driver.go
  pkg/notifiers/fx-driver.go
Owners: @FluxNinja/backend

add error log
  pkg/notifiers/fx-driver.go
Owners: @FluxNinja/backend

Deinit on failed start (#3124)
  pkg/notifiers/fx-driver.go
  pkg/policies/flowcontrol/engine.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update Aperture Go SDK and add PostgreSQL concurrency policies
  playground/scenarios/postgres-concurrency-limiting/policies/concurrency-limiting.yaml
  playground/scenarios/postgres-concurrency/load-generator/test.js
  playground/scenarios/postgres-concurrency/metadata.json
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling-cr.yaml
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling.yaml
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/examples/manual/main.go
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Update curl command to use wget
  playground/Tiltfile
Owners: @FluxNinja/devops

Update buf.lock with new commit and digest
  api/buf.lock
Owners: @FluxNinja/backend

Remove limit_by_label_key from rate-limiting and concurrency-limiting configurations
  blueprints/concurrency-limiting/base/config.libsonnet
  blueprints/concurrency-limiting/base/gen/definitions.json
  blueprints/concurrency-limiting/base/gen/values.yaml
  blueprints/concurrency-scheduling/base/config.libsonnet
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/openai/policy.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/concurrency-limiting/base.md
  docs/content/reference/blueprints/concurrency-scheduling/base.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  pkg/scheduler/wfq.go
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler-cr.yaml
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling-cr.yaml
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/examples/manual/main.go
Owners: @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/backend

Update buf version
  api/buf.lock
Owners: @FluxNinja/backend

Update buf version (#3126)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fixes
  playground/Tiltfile
  playground/scenarios/concurrency-limiter/load-generator/test.js
  playground/scenarios/concurrency-limiter/metadata.json
  playground/scenarios/concurrency-limiter/policies/concurrency-limiting-cr.yaml
  playground/scenarios/concurrency-limiter/policies/concurrency-limiting.yaml
  playground/scenarios/postgres-concurrency/load-generator/test.js
  playground/scenarios/postgres-concurrency/metadata.json
  playground/scenarios/postgres-concurrency/values.yaml
  playground/tanka/apps/aperture-go-example/mixins.libsonnet
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/Dockerfile.manual
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/examples/manual/init.sql
  sdks/aperture-go/examples/manual/main.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Add pgsql scenario (#3125)
  blueprints/concurrency-limiting/base/config.libsonnet
  blueprints/concurrency-limiting/base/gen/definitions.json
  blueprints/concurrency-limiting/base/gen/values.yaml
  blueprints/concurrency-scheduling/base/config.libsonnet
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/concurrency-limiting/base.md
  docs/content/reference/blueprints/concurrency-scheduling/base.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  pkg/scheduler/wfq.go
  playground/Tiltfile
  playground/scenarios/concurrency-limiter/load-generator/test.js
  playground/scenarios/concurrency-limiter/metadata.json
  playground/scenarios/concurrency-limiter/policies/concurrency-limiting-cr.yaml
  playground/scenarios/concurrency-limiter/policies/concurrency-limiting.yaml
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler-cr.yaml
  playground/scenarios/postgres-concurrency/load-generator/test.js
  playground/scenarios/postgres-concurrency/metadata.json
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling-cr.yaml
  playground/scenarios/postgres-concurrency/policies/concurrency-scheduling.yaml
  playground/scenarios/postgres-concurrency/values.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/tanka/apps/aperture-go-example/mixins.libsonnet
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/Dockerfile.manual
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/examples/manual/init.sql
  sdks/aperture-go/examples/manual/main.go
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/backend

Fixes
  docs/content/guides/assets/mistral/graph.mmd.md5sum
  docs/content/guides/assets/mistral/graph.mmd.svg
Owners: @FluxNinja/documentation

Add Forms to Concurrency Guides and update sdk version to latest (#3123)
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling-test.png
  docs/content/guides/assets/mistral/graph.mmd
  docs/content/guides/assets/mistral/graph.mmd.md5sum
  docs/content/guides/assets/mistral/graph.mmd.svg
  docs/content/guides/assets/mistral/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limit-test.png
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/values.yaml
  docs/content/guides/concurrency-quota-management.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
Owners: @FluxNinja/documentation, @FluxNinja/backend

Publish . ./istioconfig-v2.30.0-rc.1.tgz
  index.yaml
  istioconfig-v2.30.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.30.0-rc.1.tgz
  aperture-controller-v2.30.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.30.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.30.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.30.0.tgz
  aperture-agent-v2.30.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.30.0.tgz
  aperture-controller-v2.30.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.30.0.tgz ./index.yaml
  index.yaml
  istioconfig-v2.30.0.tgz
Owners: @FluxNinja/backend

Add Mistral Guide and Assets
  docs/content/guides/assets/mistral/before-aperture.png
  docs/content/guides/assets/mistral/graph.mmd
  docs/content/guides/assets/mistral/graph.mmd.md5sum
  docs/content/guides/assets/mistral/graph.mmd.svg
  docs/content/guides/assets/mistral/mistral.mmd
  docs/content/guides/assets/mistral/mistral.mmd.md5sum
  docs/content/guides/assets/mistral/mistral.mmd.svg
  docs/content/guides/assets/mistral/policy.yaml
  docs/content/guides/assets/mistral/validate.sh
  docs/content/guides/assets/mistral/values.yaml
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

Improve docs
  README.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling-test.png
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/policy.yaml
  docs/content/guides/assets/concurrency-control-and-prioritization/queue.png
  docs/content/guides/assets/concurrency-control-and-prioritization/request-metrics.png
  docs/content/guides/assets/concurrency-control-and-prioritization/validate.sh
  docs/content/guides/assets/concurrency-control-and-prioritization/values.yaml
  docs/content/guides/assets/concurrency-control-and-prioritization/workloads.png
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/introduction.md
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
  playground/README.md
  playground/Tiltfile
Owners: @FluxNinja/documentation, @FluxNinja/devops

Cache link
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Revert Grafana Tilt port to 3000 because chaning to 6000 did not work
  playground/README.md
  playground/Tiltfile
Owners: @FluxNinja/devops

fix vale issues
  docs/content/guides/assets/mistral/after-aperture.png
  docs/content/guides/assets/mistral/mistral-policy.png
  docs/content/guides/assets/mistral/mistral-queue.png
  docs/content/guides/concurrency-quota-management.md
  docs/content/guides/mistral.md
Owners: @FluxNinja/documentation

Improve docs (#3128)
  README.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling-test.png
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd.md5sum
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd.md5sum
  docs/content/guides/assets/concurrency-control-and-prioritization/graph.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/policy.yaml
  docs/content/guides/assets/concurrency-control-and-prioritization/queue.png
  docs/content/guides/assets/concurrency-control-and-prioritization/request-metrics.png
  docs/content/guides/assets/concurrency-control-and-prioritization/validate.sh
  docs/content/guides/assets/concurrency-control-and-prioritization/values.yaml
  docs/content/guides/assets/concurrency-control-and-prioritization/workloads.png
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/introduction.md
  docs/content/reference/aperture-cli/configure-cli.md
  docs/content/reference/cloud-ui/personal-access-tokens.md
Owners: @FluxNinja/documentation

Change grafana port to 3333
  playground/README.md
  playground/Tiltfile
Owners: @FluxNinja/devops

Change grafana port to 3333 (#3129)
  playground/README.md
  playground/Tiltfile
Owners: @FluxNinja/devops

Typo and vale fixes
  docs/content/aperture-for-infra/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/guides/mistral.md
  docs/content/guides/per-user-concurrency-limiting.md
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Allow productizing word
  .github/styles/Vocab/FluxNinja/accept.txt
Owners: @FluxNinja/devops

Add Mistral Guide and Assets (#3127)
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/aperture-for-infra/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/mistral/after-aperture.png
  docs/content/guides/assets/mistral/before-aperture.png
  docs/content/guides/assets/mistral/mistral-policy.png
  docs/content/guides/assets/mistral/mistral-queue.png
  docs/content/guides/assets/mistral/mistral.mmd
  docs/content/guides/assets/mistral/mistral.mmd.md5sum
  docs/content/guides/assets/mistral/mistral.mmd.svg
  docs/content/guides/assets/mistral/policy.yaml
  docs/content/guides/assets/mistral/validate.sh
  docs/content/guides/assets/mistral/values.yaml
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/guides/mistral.md
  docs/content/guides/per-user-concurrency-limiting.md
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/devops, @FluxNinja/documentation

Publish . ./aperture-agent-v2.30.1-rc.1.tgz
  aperture-agent-v2.30.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.30.1-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.30.1-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.30.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.30.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.30.1.tgz
  index.yaml
  istioconfig-v2.30.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.30.1.tgz
  aperture-controller-v2.30.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.30.1.tgz ./index.yaml
  aperture-agent-v2.30.1.tgz
  index.yaml
Owners: @FluxNinja/backend

[ImgBot] Optimize images
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling-test.png
  docs/content/guides/assets/mistral/after-aperture.png
  docs/content/guides/assets/mistral/before-aperture.png
  docs/content/guides/assets/mistral/graph.mmd.svg
  docs/content/guides/assets/mistral/mistral-policy.png
  docs/content/guides/assets/mistral/mistral-queue.png
  docs/content/guides/assets/mistral/mistral.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limit-test.png
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix pre-commit
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Owners: @FluxNinja/backend
