Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

checkpoint
  docs/content/guides/caching.md
  sdks/aperture-js/example/caching_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add Caching guide
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/caching/caching.mmd
  docs/content/guides/assets/caching/caching.mmd.md5sum
  docs/content/guides/assets/caching/caching.mmd.svg
  docs/content/guides/caching.md
  sdks/aperture-js/example/caching_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

fix vale issues
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

Missing files
  api/aperture/policy/sync/v1/concurrency_limiter.proto
  api/aperture/policy/sync/v1/concurrency_scheduler.proto
  pkg/policies/controlplane/components/flowcontrol/concurrency-limiter/concurrency-limiter.go
  pkg/policies/controlplane/components/flowcontrol/concurrency-limiter/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/concurrency-limiter/private.go
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/private.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Rework control point name in each guide.
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/caching.md
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/caching_example.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Add Pr Comments and update images
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

fix vale
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

last fix
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

Add Caching Guide[WIP] (#3042)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/assets/caching/caching.mmd
  docs/content/guides/assets/caching/caching.mmd.md5sum
  docs/content/guides/assets/caching/caching.mmd.svg
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/caching.md
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/caching_example.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix pre-commit
  api/buf.lock
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fix README (#3043)
  README.md
Owners: @FluxNinja/documentation

Publish . ./istioconfig-v2.27.0-rc.1.tgz
  index.yaml
  istioconfig-v2.27.0-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.27.0-rc.1.tgz
  aperture-controller-v2.27.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.27.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.27.0-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.27.0.tgz
  index.yaml
  istioconfig-v2.27.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.27.0.tgz
  aperture-controller-v2.27.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.27.0.tgz ./index.yaml
  aperture-agent-v2.27.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Remove deprecated code
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/labelmatcher.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Update `match_expressions` deprecation version to `v3.0.0`
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Update `match_expressions` deprecation version to `v3.0.0` (#3045)
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Add Global Cache OLAP telemetry
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Owners: @FluxNinja/backend

Add cache OLAP docs
  docs/content/reference/observability/flow-metrics/flow-metrics.md
Owners: @FluxNinja/documentation

Make global cache OLAP multi-value
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Cache OLAP improvements
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Uncomment ensure capacity
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

Fix bytes marshalling issue in js sdk
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Fix bytes marshalling issue in js sdk
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Add Global Cache OLAP telemetry (#3041)
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/metricsprocessor/processor.go
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update sidebar position in advanced.md and add cache.md
  docs/content/concepts/advanced/advanced.md
  docs/content/concepts/cache.md
  docs/content/guides/caching.md
Owners: @FluxNinja/documentation

Docs: Minor formatting and link fixes (#3029)
  docs/content/concepts/advanced/agent-group.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Owners: @FluxNinja/documentation

Fix pre-commit
  api/buf.lock
Owners: @FluxNinja/backend

Fix pre-commit (#3047)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.27.1-rc.1.tgz
  index.yaml
  istioconfig-v2.27.1-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.27.1-rc.1.tgz
  aperture-controller-v2.27.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.27.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.27.1-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.27.1.tgz
  aperture-agent-v2.27.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.27.1.tgz
  index.yaml
  istioconfig-v2.27.1.tgz
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
