Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Documentation Improvements (#467)
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/cloud/_category_.yml
  docs/content/cloud/cloud.md
  docs/content/cloud/plugin.md
  docs/content/concepts/_category_.yml
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/agent/_category_.yml
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/controller.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
  docs/content/references/_category_.yml
  docs/content/references/configuration/_category_.yml
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/content/references/configuration/policies.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/values.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

remove yarn intgerity files
  docs/content/node_modules/.yarn-integrity
  node_modules/.yarn-integrity
Owners: @FluxNinja/documentation, @FluxNinja/backend

update readme
  README.md
Owners: @FluxNinja/backend

Playground doc improvements (#472)
  README.md
  docs/content/assets/img/starttraffic.png
  docs/content/assets/img/starttrafficbig.png
  docs/content/get-started/playground.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

update readme
  README.md
Owners: @FluxNinja/backend

fix precommit
  docs/content/cloud/plugin.md
Owners: @FluxNinja/documentation

Change Tickinfo to interface
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/tick-info.go
Owners: @FluxNinja/aperturecore

TickStartCallback
  pkg/policies/controlplane/runtime/circuit-api.go
  pkg/policies/controlplane/runtime/circuit.go
Owners: @FluxNinja/aperturecore

Change reading to an interface
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/constant.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/reading/reading.go
  pkg/policies/controlplane/reading/reading_test.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/tick-info.go
Owners: @FluxNinja/aperturecore

DeepCopy entity vs. entire cache
  pkg/entitycache/entity_cache.go
Owners: @FluxNinja/backend

macOS fixes
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/Tiltfile
  playground/scripts/portforward.sh
  tools/demo_app/Dockerfile
Owners: @FluxNinja/backend, @FluxNinja/devops

apple silicon note
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

remove validation for files as operator validates them in another container
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/net/http/client.go
  pkg/net/tlsconfig/client.go
  pkg/net/tlsconfig/server.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

portforward defaults
  playground/scripts/portforward.sh
Owners: @FluxNinja/devops

Playground
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/installation/controller.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

refactor peers api
  api/aperture/common/peers/v1/peers.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.gw.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_grpc.pb.go
  pkg/peers/peers-service.go
  pkg/peers/peers.go
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
  pkg/peers/watchers.go
  pkg/status/status_suite_test.go
  pkg/status/status_test.go
Owners: @FluxNinja/backend

Rename NewInvalid to InvalidReading
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/reading/reading.go
  pkg/policies/controlplane/reading/reading_test.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/port-to-value.go
Owners: @FluxNinja/aperturecore

Move reading into runtime package
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/constant.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/controller-state-read-api.go
  pkg/policies/controlplane/components/controller/controller.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/controller/gradient_test.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/decider_test.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/ema_test.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/port-to-value.go
  pkg/policies/controlplane/runtime/reading.go
  pkg/policies/controlplane/runtime/reading_test.go
  pkg/policies/controlplane/runtime/runtime_suite_test.go
Owners: @FluxNinja/aperturecore

refactor peers api
  pkg/peers/peers-service.go
  pkg/peers/peers.go
  pkg/status/status_test.go
Owners: @FluxNinja/backend

Checkpoint
  api/aperture/flowcontrol/v1/envoy.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/envoy.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/envoy.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/envoy_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/flowcontrol/common/metrics.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor_test.go
  pkg/policies/controlplane/circuit-graph.go
  pkg/policies/controlplane/runtime/circuit-iface.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/component.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/aperturecore

[ImgBot] Optimize images
  docs/content/assets/img/starttraffic.png
  docs/content/assets/img/starttrafficbig.png
Owners: @FluxNinja/documentation

refactor entity api
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/common/flowcontrol.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

refactor entity api
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
Owners: @FluxNinja/backend

Re-locate Selector and Service
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/dataplane/iface/rate-limiter.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
  pkg/policies/dataplane/selectors/labels.go
  pkg/policies/dataplane/selectors/labels_test.go
  pkg/policies/dataplane/selectors/selector.go
  pkg/policies/dataplane/selectors/selectors_suite_test.go
  pkg/policies/dataplane/services/service.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

refactor peers api path
  api/aperture/common/peers/v1/peers.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.gw.go
Owners: @FluxNinja/backend

all status api
  api/aperture/common/status/v1/status.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.gw.go
  api/gen/proto/go/aperture/common/status/v1/status_grpc.pb.go
  pkg/status/status-service.go
Owners: @FluxNinja/backend

remove redundant data structures
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  pkg/discovery/common/entity.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/mocks/mock_engine.go
  pkg/selectors/selector.go
  pkg/services/service.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

move services list population code to heartbeats
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats_suite_test.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services_test.go
Owners: @FluxNinja/backend

update readme
  README.md
Owners: @FluxNinja/backend

FlowLabels refactor. Merge Propagate and Hidden into a single Telemetry flag
  api/aperture/policy/language/v1/classifier.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/rule.libsonnet
  pkg/flowcontrol/envoy/baggage/baggage.go
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
  pkg/policies/dataplane/flowlabel/flow-label.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
  pkg/policies/dataplane/selectors/labels.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

Playground category
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/agent/_category_.yml
Owners: @FluxNinja/documentation

Update _category_.yml
  docs/content/get-started/_category_.yml
Owners: @FluxNinja/documentation

Update position
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Update playground.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Update playground.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Eliminate selector.Labels
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz-labels.go
  pkg/flowcontrol/envoy/authz-labels_test.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/flowlabel/flow-label.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/dataplane/iface/rate-limiter.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/selectors/labels.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
Owners: @FluxNinja/aperturecore, @FluxNinja/backend

Update playground.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Put services in CheckResponse. Eliminate client-ip header on the Agent
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/envoy/authz.go
  pkg/policies/dataplane/engine.go
Owners: @FluxNinja/aperturecore

Update playground docs
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Remove "aperture-" prefix from Tilt resources
  playground/Tiltfile
Owners: @FluxNinja/devops

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
