Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/                                       @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops

Change selector proto message number
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
Owners: @FluxNinja/backend

Rename authz package to envoy (#113)
  cmd/aperture-agent/agent.go
  pkg/classification/provide.go
  pkg/envoy/authz.go
  pkg/envoy/authz_suite_test.go
  pkg/envoy/authz_test.go
  pkg/envoy/baggage/baggage.go
  pkg/envoy/baggage/baggage_suite_test.go
  pkg/envoy/provide.go
  pkg/otelcollector/consts.go
  test/aperture_suite_test.go
Owners: @FluxNinja/backend

Update Policy, selector proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
Owners: @FluxNinja/backend

Fix Proto precommit by updating buf
  api/aperture/classification/v1/extractor.proto
  api/aperture/policy/language/v1/labelmatcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
Owners: @FluxNinja/backend

Added CircleCi jobs to sync deployment repo
  .circleci/config.yml
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Corrected config
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Added CircleCi jobs to sync deployment repo (#79)
  .circleci/config.yml
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Refactor status registry
  .gitignore
  pkg/net/grpc/status-service.go
  pkg/status/registry.go
  pkg/status/registry_test.go
  pkg/status/status.go
Owners: @FluxNinja/backend

Last clean up
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
Owners: @FluxNinja/backend

Generate swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/documentation

Proto spec documentation (#20)
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/openapiv2/v1/openapiv2.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/labelmatcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Rename policydecisions to decisions
  api/aperture/policy/decisions/v1/decisions.proto
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.go
Owners: @FluxNinja/backend

Move Selector, LabelMatcher to common root level
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  pkg/classification/classifier.go
  pkg/classification/classifier_test.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/envoy/authz_test.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/policies/mocks/mock_limiter.go
  pkg/selectors/selector.go
Owners: @FluxNinja/backend

Rename sidecarMode config to DiscoveryEnabled
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/discovery/kubernetes/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Rename flow_control_policies to policies in Aperture
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  pkg/selectors/selector.go
Owners: @FluxNinja/backend

Add k8s pod name extraction to match otelcollector entity name label
  docs/gen/config/aperture-agent/config-swagger.yaml
  pkg/discovery/common/entity.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Rename flow_control_policies to policies in Aperture (#123)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  pkg/selectors/selector.go
Owners: @FluxNinja/backend

Small proto doc comment tweaks
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
Owners: @FluxNinja/backend

Install additional system dependencies of mermaid-cli
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

pre-commit fixups
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/documentation

Small proto doc comment tweaks (#119)
  .circleci/continue-workflows.yml
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Remove flow_ prefix and pseudoheaders
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
  pkg/selectors/labels.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Remove flow_ prefix and pseudoheaders (#122)
  api/aperture/policy/language/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
  pkg/selectors/labels.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Remove duplicated agent group from heartbeat service proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
Owners: @FluxNinja/backend

Remove duplicated agent group from heartbeat service proto (#125)
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
Owners: @FluxNinja/backend

Disable generate-mermaid in pre-commit
  tools/githooks/generate_docs.sh
Owners: @FluxNinja/backend

Disable generate-mermaid in pre-commit (#127)
  tools/githooks/generate_docs.sh
Owners: @FluxNinja/backend

Add k8s pod name extraction to match otelcollector entity name label (#118)
  docs/gen/config/aperture-agent/config-swagger.yaml
  pkg/discovery/common/entity.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Rename sidecarMode config to DiscoveryEnabled (#121)
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/discovery/kubernetes/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix duplicate logs for stderr/stdout files
  pkg/config/log.go
Owners: @FluxNinja/backend

Add SentryAgentKey to SentryWriter
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  plugins/service/aperture-plugin-sentry/pluginconfig/config-operations.go
  plugins/service/aperture-plugin-sentry/pluginconfig/pluginconfig.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Owners: @FluxNinja/documentation, @FluxNinja/backend

Provide sentry plugin config
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
Owners: @FluxNinja/backend

Refactor aperture api (#117)
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/decisions/v1/decisions.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
  pkg/classification/classifier.go
  pkg/classification/classifier_test.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/envoy/authz_test.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/policies/mocks/mock_limiter.go
  pkg/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/documentation

Explicitely mention coverage file for codecov/upload step
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Explicitely mention coverage file for covdecov/upload step
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Update comment to trigger go build
  pkg/status/provide.go
Owners: @FluxNinja/backend

Ignore generated packages when running tests
  .circleci/continue-workflows.yml
  Makefile
Owners: @FluxNinja/devops, @FluxNinja/backend

Disable race, coverpkg flags from `go test`
  .circleci/continue-workflows.yml
  pkg/status/provide.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Explicitely mention coverage file for covdecov/upload step (#133)
  .circleci/continue-workflows.yml
  Makefile
  pkg/status/provide.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Enable discovery by default
  docs/gen/config/aperture-agent/config-swagger.yaml
  pkg/discovery/kubernetes/provide.go
Owners: @FluxNinja/documentation, @FluxNinja/backend
