Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Upgrade OTEL
  go.mod
  go.sum
Owners: @FluxNinja/backend

Drop deprecated module and fix tests
  cmd/aperturectl/cmd/tui/radio-button.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/mutating_webhook_configuration.go
  operator/controllers/agent/mutating_webhook_configuration_test.go
  operator/controllers/agent/secrets_test.go
  operator/controllers/agent/serviceaccount_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Owners: @FluxNinja/backend, @FluxNinja/devops

Drop deprecated module and fix tests (#3114)
  cmd/aperturectl/cmd/tui/radio-button.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/mutating_webhook_configuration.go
  operator/controllers/agent/mutating_webhook_configuration_test.go
  operator/controllers/agent/secrets_test.go
  operator/controllers/agent/serviceaccount_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Owners: @FluxNinja/backend, @FluxNinja/devops

Update buf
  api/buf.lock
Owners: @FluxNinja/backend

Update buf (#3115)
  api/buf.lock
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

change concurrency scheduling title to concurrency quota management (#3092)
  docs/content/guides/concurrency-quota-management.md
Owners: @FluxNinja/documentation

Update code snippets for UI docs
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Update code snippets for UI docs (#3116)
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/example/ui_snippets.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

update code snippets with limit_key instead of user_id
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

update code snippets with limit_key instead of user_id (#3117)
  docs/content/code-snippets.json
  sdks/aperture-js/example/basic_usage.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Pre-commit
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Owners: @FluxNinja/backend

Re-order execution of components in engine
  api/buf.lock
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
  pkg/policies/flowcontrol/iface/cache.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Add Dockerfile for aperture-go and update curl command in Tiltfile
  playground/Tiltfile
  playground/scenarios/postgres-concurrency-limiting/load-generator/test.js
  playground/scenarios/postgres-concurrency-limiting/metadata.json
  playground/scenarios/postgres-concurrency-limiting/policies/concurrency-limiting-cr.yaml
  playground/scenarios/postgres-concurrency-limiting/policies/concurrency-limiting.yaml
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/Dockerfile.manual
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/examples/manual/main.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Update vuStages in load-generator test.js
  playground/scenarios/concurrency-scheduler/load-generator/test.js
Owners: @FluxNinja/devops

Update vuStages in load-generator test.js (#3119)
  playground/scenarios/concurrency-scheduler/load-generator/test.js
Owners: @FluxNinja/devops

Re-order execution of components in engine (#3118)
  api/buf.lock
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/concurrency-limiter.md
  docs/content/concepts/request-prioritization/concurrency-scheduler.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
  pkg/policies/flowcontrol/iface/cache.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fix wait time based deadline calculation
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
Owners: @FluxNinja/backend

Fix wait time based deadline calculation (#3120)
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.3-rc.1.tgz
  aperture-agent-v2.29.3-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.3-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.29.3-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.3-rc.1.tgz ./index.yaml
  aperture-controller-v2.29.3-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.3.tgz
  aperture-agent-v2.29.3.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.3.tgz
  index.yaml
  istioconfig-v2.29.3.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.3.tgz ./index.yaml
  aperture-controller-v2.29.3.tgz
  index.yaml
Owners: @FluxNinja/backend

Fix schedulers not getting executed when cache key is not set
  pkg/policies/flowcontrol/cache.go
  playground/Tiltfile
Owners: @FluxNinja/aperturecore, @FluxNinja/devops

Fix schedulers not getting executed when cache key is not set (#3121)
  pkg/policies/flowcontrol/cache.go
  playground/Tiltfile
Owners: @FluxNinja/aperturecore, @FluxNinja/devops

Publish . ./aperture-agent-v2.29.4-rc.1.tgz
  aperture-agent-v2.29.4-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.4-rc.1.tgz
  aperture-controller-v2.29.4-rc.1.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.4-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.29.4-rc.1.tgz
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.29.4.tgz
  index.yaml
  istioconfig-v2.29.4.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.29.4.tgz ./index.yaml
  aperture-agent-v2.29.4.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.29.4.tgz ./index.yaml
  aperture-controller-v2.29.4.tgz
  index.yaml
Owners: @FluxNinja/backend

Update port numbers for curl requests and server
  playground/Tiltfile
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
  sdks/aperture-go/examples/manual/main.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Fix unregisters
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Add Forms to Concurrency Guides and update sdk version to latest
  docs/content/guides/assets/concurrency-quota-management/concurrency-scheduling-test.png
  docs/content/guides/assets/mistral/graph.mmd
  docs/content/guides/assets/mistral/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limit-test.png
  docs/content/guides/concurrency-quota-management.md
  docs/content/guides/per-user-concurrency-limiting.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
Owners: @FluxNinja/documentation, @FluxNinja/backend

fix typo
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/policy.yaml
  docs/content/guides/assets/per-user-concurrency-limiting/values.yaml
Owners: @FluxNinja/documentation

Fix log
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
Owners: @FluxNinja/aperturecore

Fix unregisters (#3122)
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
