Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

update blueprint jsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

update blueprint jsonnet (#301)
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

update blueprint
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

update blueprint (#302)
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

Made etcd and prometheus endpoints required for Agent
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/controller_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/samples/fluxninja.com_v1alpha1_agent.yaml
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Owners: @FluxNinja/backend

Updated installation steps on docs
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
  manifests/k8s/Tiltfile
Owners: @FluxNinja/documentation, @FluxNinja/devops

Updated CircleCi to release docker hub images from main only
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Updated CircleCi to release docker hub images from main only (#303)
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

Add basic agent packaging flow
  .circleci/config.yml
  .gitignore
  manifests/k8s/tilt/portforward.sh
  nfpm.yaml
  packaging/aperture-agent.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Add basic agent packaging flow (#295)
  .circleci/config.yml
  .gitignore
  manifests/k8s/tilt/portforward.sh
  nfpm.yaml
  packaging/aperture-agent.yaml
Owners: @FluxNinja/devops, @FluxNinja/backend

Add Flow Label to concepts in docs
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow-control/service.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

helm chart lint
  .circleci/config.yml
  .circleci/continue-workflows.yml
Owners: @FluxNinja/devops

removed max workflow
  .circleci/config.yml
Owners: @FluxNinja/devops

Added support for custom config block in agent and controller
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/templates/rbac.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/templates/rbac.yaml
  manifests/charts/aperture-controller/values.yaml
  manifests/k8s/tanka/environments/tilt/apps/aperture-agent/mixins.libsonnet
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/config/samples/fluxninja.com_v1alpha1_agent.yaml
  operator/config/samples/fluxninja.com_v1alpha1_controller.yaml
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/agent_config_without_fluxninja_plugin_custom_test.tpl
  operator/controllers/configmaps.go
  operator/controllers/controller_config.tpl
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Owners: @FluxNinja/devops, @FluxNinja/backend

Update README.md
  README.md
Owners: @FluxNinja/backend

Fix libsonnet python scripts
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/scripts/jsonnet-lib-gen.py
Owners: @FluxNinja/backend

Add Flow Label to concepts in docs (#294)
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow-control/service.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

Fix libsonnet python scripts (#309)
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/scripts/jsonnet-lib-gen.py
Owners: @FluxNinja/backend

Add classifiers to flowcontrolv1.CheckResponse
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  pkg/flowcontrol/envoy/authz.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/mocks/mock_engine.go
Owners: @FluxNinja/backend

rename logwriter
  pkg/distcache/olric-logwriter.go
Owners: @FluxNinja/backend

rename rate tracker files
  pkg/distcache/logwriter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/distcache-rate-tracker.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Owners: @FluxNinja/backend

Rename rate tracker files (#312)
  pkg/distcache/logwriter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/distcache-rate-tracker.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Owners: @FluxNinja/backend

add tilt to tools
  .tool-versions
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/backend, @FluxNinja/devops

add tilt to tools (#313)
  .tool-versions
  manifests/k8s/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/backend, @FluxNinja/devops

Update README.md
  playground/README.md
Owners: @FluxNinja/backend

Update README.md
  README.md
Owners: @FluxNinja/backend

Update Playground docs and its link in README (#315)
  README.md
  playground/README.md
Owners: @FluxNinja/backend

Update README.md (#308)
  README.md
Owners: @FluxNinja/backend

Update README.md
  playground/README.md
Owners: @FluxNinja/backend

use official istio chart instead of getindata istio
  playground/Tiltfile
  playground/tanka/chartfile.yaml
  playground/tanka/environments/tilt/apps/istio/mixins.libsonnet
  playground/tanka/lib/apps/istio/main.libsonnet
Owners: @FluxNinja/backend

Fix paths in buttons
  playground/Tiltfile
Owners: @FluxNinja/backend

gateway
  playground/Tiltfile
Owners: @FluxNinja/backend

gateway
  playground/Tiltfile
Owners: @FluxNinja/backend

some telemetry fix
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Owners: @FluxNinja/devops

Fix tanka pre-commit hook
  playground/Tiltfile
  playground/scripts/portforward.sh
  playground/tanka/charts/.gitignore
  scripts/precommit/check_tanka_show.sh
Owners: @FluxNinja/backend

Fix tanka pre-commit hook
  .pre-commit-config.yaml
Owners: @FluxNinja/backend

Fix tanka pre-commit hook (#317)
  .pre-commit-config.yaml
  playground/Tiltfile
  playground/scripts/portforward.sh
  playground/tanka/charts/.gitignore
  scripts/precommit/check_tanka_show.sh
Owners: @FluxNinja/backend

gitignore istio
  playground/tanka/charts/.gitignore
Owners: @FluxNinja/backend

gitignore istio
  playground/tanka/charts/.gitignore
Owners: @FluxNinja/backend

gitignore istio
  playground/tanka/charts/.gitignore
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/manifests/                                  @FluxNinja/devops
