Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore

Revert "More fixes"
  docs/Makefile
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/otel_collectors/generate_otel_docs.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

generate docs, change otel generation dir
  docs/Makefile
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/tools/otel_collectors/generate_otel_docs.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops

Update Aperture-JS SDK version and add cache functionality
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

getstarted
  docs/content/get-started/define-control-points.md
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

fix broken links
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/query.proto
  api/aperture/policy/language/v1/telemetry_collector.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/query.pb.go
  api/gen/proto/go/aperture/policy/language/v1/telemetry_collector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

fix minor issues
  docs/content/aperture-for-infra/agent/agent.md
  docs/content/aperture-for-infra/agent/docker.md
  docs/content/aperture-for-infra/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/daemonset.md
  docs/content/aperture-for-infra/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

update get started
  docs/content/get-started/get-started.md
Owners: @FluxNinja/documentation

js/go sdks: use structs for arguments & remove tryConnect function
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

make flow params consistent
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Owners: @FluxNinja/backend

add ignore patterns for grpc interceptor
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/backend

review comment
  sdks/aperture-js/example/routes/use_aperture.ts
Owners: @FluxNinja/backend

Refactor StartFlow method in ApertureClient
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Owners: @FluxNinja/backend

Refactor middlewareParams in main.go and client.go
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
Owners: @FluxNinja/backend

Refactor middleware to precompile ignored path regex patterns
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/backend

Refactor middleware creation in main.go
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/backend

Add regex pattern compilation for ignored paths in GRPC middleware
  sdks/aperture-go/sdk/middleware/grpc.go
Owners: @FluxNinja/backend

Fix GRPC flow control bug
  sdks/aperture-go/sdk/middleware/grpc.go
Owners: @FluxNinja/backend

js/go sdks: use structs for arguments & remove tryConnect function (#2939)
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Owners: @FluxNinja/backend

final fixes
  docs/content/get-started/assets/sign-up/console-view.png
  docs/content/get-started/assets/sign-up/create-org.png
  docs/content/get-started/assets/sign-up/get-started.png
  docs/content/get-started/assets/sign-up/install-aperture.png
  docs/content/get-started/assets/sign-up/invite-members.png
  docs/content/get-started/assets/sign-up/project-name.png
  docs/content/get-started/assets/sign-up/select-subscription.png
  docs/content/get-started/assets/sign-up/sign-up.png
  docs/content/get-started/assets/sign-up/subscribe.png
  docs/content/get-started/assets/sign-up/subscription-plan.png
  docs/content/get-started/assets/sign-up/subscription-started.png
  docs/content/get-started/assets/sign-up/thats-all.png
  docs/content/get-started/assets/sign-up/usergroups.png
  docs/content/get-started/define-control-points.md
  docs/content/get-started/sign-up.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

Fix prepareCheckHTTPRequestForGRPC parameter order
  sdks/aperture-go/sdk/middleware/grpc.go
Owners: @FluxNinja/backend

Refactor cache.ts and flow.ts in aperture-js/sdk
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Update @fluxninja/aperture-js version to 2.3.3
  sdks/aperture-js/.gitignore
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Owners: @FluxNinja/backend

Refactor Aperture flow control logic
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Owners: @FluxNinja/backend

Update Aperture agent address in use_aperture.ts
  sdks/aperture-js/example/routes/use_aperture.ts
Owners: @FluxNinja/backend

Add support for cache (#2937)
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

Fix logging import and error handling in GRPC and HTTP middleware
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Owners: @FluxNinja/backend

Add CacheKey to FlowParams and implement cache-related methods in Flow interface
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Add Aperture .NET SDK
  .circleci/config.yml
  .circleci/continue-workflows.yml
  api/Makefile
  api/buf.gen.aperture-langs2.yaml
  docs/content/sdk/dotnet/dotnet.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/sdk.md
  sdks/aperture-csharp/.gitignore
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/ApertureSDK.sln
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/ApertureSdkBuilder.cs
  sdks/aperture-csharp/Core/Constants.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/FlowDecision.cs
  sdks/aperture-csharp/Core/FlowStatus.cs
  sdks/aperture-csharp/Core/IApertureSdk.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Core/Utils.cs
  sdks/aperture-csharp/Dockerfile
  sdks/aperture-csharp/Examples/Examples.csproj
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/log4net.config
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-csharp/LICENSE.txt
  sdks/aperture-csharp/README.md
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Java SDK: Make startFlow argument a struct
  docs/content/sdk/java/manual.md
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/version.gradle.kts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix unit test
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/provide.go
Owners: @FluxNinja/aperturecore

Csharp sdk (#2930)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  api/Makefile
  api/buf.gen.aperture-langs2.yaml
  docs/content/sdk/dotnet/dotnet.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/sdk.md
  sdks/aperture-csharp/.gitignore
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/ApertureSDK.sln
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/ApertureSdkBuilder.cs
  sdks/aperture-csharp/Core/Constants.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/FlowDecision.cs
  sdks/aperture-csharp/Core/FlowStatus.cs
  sdks/aperture-csharp/Core/IApertureSdk.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Core/Utils.cs
  sdks/aperture-csharp/Dockerfile
  sdks/aperture-csharp/Examples/Examples.csproj
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/log4net.config
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-csharp/LICENSE.txt
  sdks/aperture-csharp/README.md
Owners: @FluxNinja/devops, @FluxNinja/backend, @FluxNinja/documentation

Improved Code Examples in the Docs
  docs/content/get-started/define-control-points.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

Improvements to sdk api's
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/sdk/cache.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheOperationStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValue.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValueOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheDeleteResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheLookupStatus.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheOperationStatus.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheUpsertResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CachedValue.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/aperturecore

Update sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/connected.ts
Owners: @FluxNinja/backend

fixes
  sdks/aperture-js/sdk/cache.ts
Owners: @FluxNinja/backend

style and formatting
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Improved Code Examples in Docs (#2943)
  docs/content/get-started/define-control-points.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

Update ssh keys for aperture-csharp
  .circleci/continue-workflows.yml
  sdks/aperture-csharp/README.md
Owners: @FluxNinja/devops, @FluxNinja/backend

Update ssh keys for aperture-csharp (#2945)
  .circleci/continue-workflows.yml
  sdks/aperture-csharp/README.md
Owners: @FluxNinja/devops, @FluxNinja/backend

Add circleci config for aperture-csharp
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
Owners: @FluxNinja/backend
