Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Update playground docs (#508)
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

Update playground docs (#508)
  docs/content/get-started/blueprints.md
  docs/content/get-started/playground.md
Owners: @FluxNinja/documentation

add emojis to README
  README.md
Owners: @FluxNinja/backend

fix link
  docs/content/cloud/plugin.md
Owners: @FluxNinja/documentation

add architecture diagram
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Use interface for Reading, TickInfo in runtime package (#501)
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/constant.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/controller-state-read-api.go
  pkg/policies/controlplane/components/controller/controller.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/controller/gradient_test.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/decider_test.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/ema_test.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/reading/reading.go
  pkg/policies/controlplane/reading/reading_test.go
  pkg/policies/controlplane/runtime/circuit-api.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/port-to-value.go
  pkg/policies/controlplane/runtime/reading.go
  pkg/policies/controlplane/runtime/reading_test.go
  pkg/policies/controlplane/runtime/runtime_suite_test.go
  pkg/policies/controlplane/runtime/tick-info.go
Owners: @FluxNinja/aperturecore

Send ControlPoint in CheckResponse. Refactor dataplane/selectors.Selector, ControlPoint and ControlPointID
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/commonselectorv1controlpoint.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/otel/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/compiler/compiler.go
  pkg/policies/dataplane/selectors/control-point-id.go
  pkg/policies/dataplane/selectors/control-point.go
  pkg/policies/dataplane/selectors/selector.go
Owners: @FluxNinja/backend, @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/aperturecore

extract out and generate diagrams from markdown files
  docs/Makefile
  docs/content/assets/gen/flow-control.md_0.svg
  docs/content/assets/gen/introduction.md_0.svg
  docs/content/assets/gen/service.md_0.svg
  docs/content/assets/gen/service.md_1.svg
  docs/content/assets/gen/service.md_2.svg
  docs/tools/mermaid/md_mmd_svg.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation

allow configuring name of mermaid section
  docs/content/assets/gen/architecture_simple.svg
  docs/content/assets/gen/blueprints.md_0.svg
  docs/content/assets/gen/blueprints.md_1.svg
  docs/content/assets/gen/blueprints.md_2.svg
  docs/content/introduction.md
  docs/tools/mermaid/md_mmd_svg.sh
Owners: @FluxNinja/documentation, @FluxNinja/backend

refactor svg generator
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.svg
  docs/content/assets/gen/service.md_1.mmd
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_1.svg
  docs/content/assets/gen/service.md_2.mmd
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/content/assets/gen/service.md_2.svg
  docs/tools/mermaid/md_to_mmd.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation

deterministicIds for svg
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid-theme.json
Owners: @FluxNinja/documentation, @FluxNinja/backend

update pre-commit hook
  .pre-commit-config.yaml
  scripts/precommit/generate_config_markdown.sh
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_mermaid.sh
  scripts/precommit/generate_swagger.sh
Owners: @FluxNinja/backend

remove mermaid generation from pre-commit hook for now
  .pre-commit-config.yaml
  README.md
Owners: @FluxNinja/backend

check if mermaid generation works
  .pre-commit-config.yaml
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid-theme.json
Owners: @FluxNinja/backend, @FluxNinja/documentation

remove mermaid generation from pre-commit hook for now
  .pre-commit-config.yaml
Owners: @FluxNinja/backend

add architecture to readme
  README.md
Owners: @FluxNinja/backend

Documentation improvements (#500)
  .pre-commit-config.yaml
  README.md
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/content/cloud/plugin.md
  docs/content/introduction.md
  docs/tools/mermaid/md_to_mmd.sh
  docs/tools/mermaid/mermaid-theme.json
  scripts/precommit/generate_config_markdown.sh
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_mermaid.sh
  scripts/precommit/generate_swagger.sh
Owners: @FluxNinja/backend, @FluxNinja/documentation

fix mermaid generator on macOS
  docs/tools/mermaid/md_to_mmd.sh
Owners: @FluxNinja/backend

fix mermaid generator on macOS (#510)
  docs/tools/mermaid/md_to_mmd.sh
Owners: @FluxNinja/backend

Add unit tests for peers package and test suites
  pkg/peers/peers.go
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
  pkg/status/status_suite_test.go
Owners: @FluxNinja/backend

Clean up
  pkg/peers/peers.go
Owners: @FluxNinja/backend

update mermaid theme
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid-theme.json
Owners: @FluxNinja/documentation, @FluxNinja/backend

update mermaid theme (#512)
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid-theme.json
Owners: @FluxNinja/documentation, @FluxNinja/backend

Peers package unit testing (#511)
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
  pkg/status/status_suite_test.go
Owners: @FluxNinja/backend

test mermaid dark mode
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd-dark.svg
  docs/content/assets/diagrams/architecture/aperture.mmd-dark.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd-dark.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd-dark.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd-dark.svg
  docs/content/assets/gen/architecture_simple.mmd-dark.svg
  docs/content/assets/gen/flow-control.md_0.mmd-dark.svg
  docs/content/assets/gen/service.md_0.mmd-dark.svg
  docs/content/assets/gen/service.md_1.mmd-dark.svg
  docs/content/assets/gen/service.md_2.mmd-dark.svg
  docs/tools/mermaid/mermaid-theme-dark.json
Owners: @FluxNinja/backend, @FluxNinja/documentation

test mermaid dark mode
  README.md
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd_dark.svg
  docs/content/assets/diagrams/architecture/aperture.mmd_dark.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd_dark.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd_dark.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd_dark.svg
  docs/content/assets/gen/architecture_simple.mmd_dark.svg
  docs/content/assets/gen/flow-control.md_0.mmd_dark.svg
  docs/content/assets/gen/service.md_0.mmd_dark.svg
  docs/content/assets/gen/service.md_1.mmd_dark.svg
  docs/content/assets/gen/service.md_2.mmd_dark.svg
Owners: @FluxNinja/backend, @FluxNinja/documentation

add link to explainer video in readme
  README.md
Owners: @FluxNinja/backend

update architecture diagram
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/introduction.md
Owners: @FluxNinja/documentation

add link to explainer video in readme (#514)
  README.md
  docs/content/assets/gen/architecture_simple.mmd
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/introduction.md
Owners: @FluxNinja/backend, @FluxNinja/documentation

[ImgBot] Optimize images
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.svg
Owners: @FluxNinja/documentation

OTEL pipeline updates
  pkg/flowcontrol/envoy/authz.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
Owners: @FluxNinja/aperturecore, @FluxNinja/backend

Fix OTEL
  pkg/otel/config.go
Owners: @FluxNinja/backend

Fix source
  pkg/otelcollector/consts.go
Owners: @FluxNinja/backend

Log missing Authz duration
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/backend

ClassifierEngine -> ClassificationEngine
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/provide.go
Owners: @FluxNinja/aperturecore

controlpoint map keys
  pkg/flowcontrol/envoy/authz.go
  pkg/policies/dataplane/selectors/control-point-id.go
  pkg/policies/dataplane/selectors/control-point.go
Owners: @FluxNinja/aperturecore

Fix default flux meter attribute
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Owners: @FluxNinja/backend, @FluxNinja/documentation

update timeoutFactor
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/jsonnetfile.lock.json
Owners: @FluxNinja/devops

Service and ControlPoint labels. Set start/stop times in CheckResponse at SDK Check handler
  pkg/flowcontrol/common/flowcontrol.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor.go
Owners: @FluxNinja/aperturecore, @FluxNinja/backend

Benign (need to double check) log, warn -> trace
  pkg/otelcollector/helpers.go
Owners: @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/libsonnet/                                  @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/docs/diagrams                               @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/flowcontrol                             @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
