Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

switch to generated code snippets in javascript docs
  docs/content/sdk/javascript/manual.md
Owners: @FluxNinja/documentation

update java manual docs
  docs/content/code-snippets.json
  docs/content/sdk/java/manual.md
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
Owners: @FluxNinja/documentation, @FluxNinja/backend

fix typo
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
Owners: @FluxNinja/backend

fix typo
  docs/content/get-started/get-started.md
  docs/content/sdk/go/manual.md
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/documentation, @FluxNinja/backend

fix typo
  docs/content/sdk/go/manual.md
Owners: @FluxNinja/documentation

fix grammar
  docs/content/sdk/go/manual.md
Owners: @FluxNinja/documentation

update code snippets (#2973)
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/get-started/get-started.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/netty.md
  docs/content/sdk/javascript/manual.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/README.md
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/examples/middleware/main.go
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-py/example/main.py
Owners: @FluxNinja/documentation, @FluxNinja/devops, @FluxNinja/backend

Improve FAQs
  docs/content/faq.md
Owners: @FluxNinja/documentation

Generate dashboards at the given dir, not /dashboards within given directory
  cmd/aperturectl/cmd/dashboard.go
Owners: @FluxNinja/backend

Fix
  docs/content/faq.md
Owners: @FluxNinja/documentation

Generate dashboards directory location (#3011)
  cmd/aperturectl/cmd/dashboard.go
Owners: @FluxNinja/backend

Improve FAQs (#3010)
  docs/content/faq.md
Owners: @FluxNinja/documentation

Run scheduling while global cache lookup is in progress
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/cache.go
Owners: @FluxNinja/aperturecore

Fix
  pkg/policies/flowcontrol/engine.go
  playground/scripts/render-dashboards.sh
Owners: @FluxNinja/aperturecore, @FluxNinja/devops

Run scheduling while global cache lookup is in progress (#3012)
  pkg/policies/flowcontrol/cache.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/cache.go
Owners: @FluxNinja/aperturecore

Update buf lock
  api/buf.lock
Owners: @FluxNinja/backend

Fix pre-commit by adding buf.lock changes
  api/buf.lock
Owners: @FluxNinja/backend

Update buf lock (#3013)
  api/buf.lock
Owners: @FluxNinja/backend

Docs
  docs/content/concepts/selector.md
  pkg/policies/flowcontrol/selectors/selector.go
Owners: @FluxNinja/documentation, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

Fix docs broken link
  docs/content/sdk/go/manual.md
Owners: @FluxNinja/documentation

Fix docs broken link (#3015)
  docs/content/sdk/go/manual.md
Owners: @FluxNinja/documentation

upgrade-otel-0.90.0-fn.patch.2
  go.mod
  go.sum
  playground/scripts/render-dashboards.sh
Owners: @FluxNinja/backend, @FluxNinja/devops

Upgraded OTEL to v0.90.0-fn.patch.2 (#3016)
  go.mod
  go.sum
  playground/scripts/render-dashboards.sh
Owners: @FluxNinja/backend, @FluxNinja/devops

Fix panic observed during blueprints generate --apply
  cmd/aperturectl/cmd/blueprints/generate.go
Owners: @FluxNinja/backend

Fix panic observed during blueprints generate --apply (#3017)
  cmd/aperturectl/cmd/blueprints/generate.go
Owners: @FluxNinja/backend

Use main version for api module in aperture module
  .circleci/scripts/update_api_go_sdk.sh
  go.mod
Owners: @FluxNinja/devops, @FluxNinja/backend

Use dummy commit version for api module
  go.mod
Owners: @FluxNinja/backend

Use dummy commit version for api module (#3018)
  go.mod
Owners: @FluxNinja/backend

Partition metrics for Olric
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

Partition metrics for Olric (#3019)
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
Owners: @FluxNinja/backend

flow methods for response code and wait
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

update docs
  sdks/aperture-js/docs/interfaces/Flow.md
Owners: @FluxNinja/backend

python lint fix
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

ts sdk fix
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

fix doc and import
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/sdk/flow.ts
Owners: @FluxNinja/backend

return primitive types
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

flow methods for response code and wait (#3009)
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-py/aperture_sdk/flow.py
Owners: @FluxNinja/backend

update OpenAI Guide
  docs/content/guides/api-quota-management/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

update openAI guide code snippet
  docs/content/guides/api-quota-management/openai.md
Owners: @FluxNinja/documentation

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
