Repository fluxninja/aperture, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation, @FluxNinja/aperturecore

Add Caching to introduction and readme (#3031)
  README.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Publish . ./aperture-agent-v2.26.0-rc.2.tgz
  aperture-agent-v2.26.0-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.26.0-rc.2.tgz ./index.yaml
  index.yaml
  istioconfig-v2.26.0-rc.2.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.26.0-rc.2.tgz ./index.yaml
  aperture-controller-v2.26.0-rc.2.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.26.0-rc.3.tgz
  index.yaml
  istioconfig-v2.26.0-rc.3.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.26.0-rc.3.tgz ./index.yaml
  aperture-agent-v2.26.0-rc.3.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.26.0-rc.3.tgz ./index.yaml
  aperture-controller-v2.26.0-rc.3.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./istioconfig-v2.26.0.tgz
  index.yaml
  istioconfig-v2.26.0.tgz
Owners: @FluxNinja/backend

Publish . ./aperture-agent-v2.26.0.tgz ./index.yaml
  aperture-agent-v2.26.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Publish . ./aperture-controller-v2.26.0.tgz ./index.yaml
  aperture-controller-v2.26.0.tgz
  index.yaml
Owners: @FluxNinja/backend

Add hit/delete metrics for each cache
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Correct go.mod go version
  api/go.mod
  go.mod
Owners: @FluxNinja/backend

Review fixes
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/aperturecore

Register all metrics
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/aperturecore

Fix depracation check script
  scripts/check_deprecated.sh
Owners: @FluxNinja/backend

Fix deprecation check script (#3035)
  scripts/check_deprecated.sh
Owners: @FluxNinja/backend

Add hit/delete metrics for each cache (#3034)
  api/go.mod
  go.mod
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/cache.go
Owners: @FluxNinja/backend, @FluxNinja/aperturecore

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

add quota scheduler example
  sdks/aperture-js/example/quota_scheduler_example.ts
Owners: @FluxNinja/backend

checkpoint
  sdks/aperture-js/example/caching_example.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
Owners: @FluxNinja/backend

Update Rate Limit Guide
  docs/content/code-snippets.json
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiter-graph.png
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/caching_example.ts
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Refactor code by removing unused properties and dependencies
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/ratelimiterparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Refactor code by removing unused properties and dependencies (#3036)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/ratelimiterparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Owners: @FluxNinja/backend, @FluxNinja/devops, @FluxNinja/documentation

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

more reworks
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/validate.sh
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Add Executable Examples in Typescript SDK (#3032)
  docs/content/code-snippets.json
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limit-test.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiter-graph.png
  docs/content/guides/assets/per-user-rate-limiting/validate.sh
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/per-user-rate-limiting.md
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Return flow.Error() instead of new error
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Export CacheEntry members and fix a crash in SetResultCache (#3028)
  sdks/aperture-go/sdk/flow.go
Owners: @FluxNinja/backend

Update Quota Scheduler Guide
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd.md5sum
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/graph.mmd
  docs/content/guides/assets/managing-quotas/graph.mmd.md5sum
  docs/content/guides/assets/managing-quotas/graph.mmd.svg
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.md5sum
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/managing-quotas/queue.png
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/managing-quotas/request-metrics.png
  docs/content/guides/assets/managing-quotas/validate.sh
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/managing-quotas/workloads.png
  docs/content/guides/assets/openai/flow-analytics-dark.png
  docs/content/guides/assets/openai/flow-analytics-light.png
  docs/content/guides/assets/openai/priorities-dark.png
  docs/content/guides/assets/openai/priorities-light.png
  docs/content/guides/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/assets/openai/token-rate-dark.png
  docs/content/guides/assets/openai/token-rate-light.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/guides/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/gen/policy/aperture.swagger.yaml
  sdks/aperture-js/example/quota_scheduler_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

Fix priority label in quota scheduler example
  sdks/aperture-js/example/quota_scheduler_example.ts
Owners: @FluxNinja/backend

fix vale issues
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

fix docs build
  docs/content/introduction.md
Owners: @FluxNinja/documentation

Ksohi/add quota scheduler guide (#3038)
  docs/content/code-snippets.json
  docs/content/guides/api-quota-management.md
  docs/content/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd.md5sum
  docs/content/guides/api-quota-management/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/graph.mmd
  docs/content/guides/assets/managing-quotas/graph.mmd.md5sum
  docs/content/guides/assets/managing-quotas/graph.mmd.svg
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.md5sum
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/policy.yaml
  docs/content/guides/assets/managing-quotas/queue.png
  docs/content/guides/assets/managing-quotas/quota-scheduling-test.png
  docs/content/guides/assets/managing-quotas/request-metrics.png
  docs/content/guides/assets/managing-quotas/validate.sh
  docs/content/guides/assets/managing-quotas/values.yaml
  docs/content/guides/assets/managing-quotas/workloads.png
  docs/content/guides/assets/openai/flow-analytics-dark.png
  docs/content/guides/assets/openai/flow-analytics-light.png
  docs/content/guides/assets/openai/priorities-dark.png
  docs/content/guides/assets/openai/priorities-light.png
  docs/content/guides/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/assets/openai/token-rate-dark.png
  docs/content/guides/assets/openai/token-rate-light.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/guides/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/introduction.md
  docs/gen/policy/aperture.swagger.yaml
  sdks/aperture-js/example/quota_scheduler_example.ts
Owners: @FluxNinja/documentation, @FluxNinja/backend

checkpoint
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/flow-lifecycle.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Add Caching to Flow Lifecycle Concepts (#3039)
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/concepts/flow-lifecycle.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/per-user-rate-limiting.md
Owners: @FluxNinja/documentation

Update caching description
  README.md
Owners: @FluxNinja/documentation

Fix pre-commit
  api/buf.lock
  docs/gen/policy/aperture.swagger.yaml
Owners: @FluxNinja/backend

Fix pre-commit (#3040)
  api/buf.lock
  docs/gen/policy/aperture.swagger.yaml
Owners: @FluxNinja/backend

Update API Version in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Owners: @FluxNinja/backend

[ImgBot] Optimize images
  docs/content/assets/img/unified-load-management-dark.svg
  docs/content/assets/img/unified-load-management-light.svg
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
  docs/content/guides/assets/managing-quotas/graph.mmd.svg
  docs/content/guides/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/guides/assets/managing-quotas/workloads.png
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/rate-limiter-graph.png
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Owners: @FluxNinja/documentation, @FluxNinja/backend

.github/CODEOWNERS:

*                                            @FluxNinja/backend
/.circleci/                                  @FluxNinja/devops
/.github/                                    @FluxNinja/devops
/manifests/                                  @FluxNinja/devops
/operator/                                   @FluxNinja/devops
/playground/                                 @FluxNinja/devops
/blueprints/                                 @FluxNinja/devops
/dashboards/                                 @FluxNinja/devops
/packaging/                                  @FluxNinja/devops
/nfpm.yaml                                   @FluxNinja/devops
/docs/tools                                  @FluxNinja/devops
/docs/content                                @FluxNinja/documentation
/README.md                                   @FluxNinja/documentation
/pkg/policies                                @FluxNinja/aperturecore
/pkg/multimatcher                            @FluxNinja/aperturecore
/pkg/distcache                               @FluxNinja/aperturecore
